if checkPermission('contrib')
    .row.mb-2
        .col
            label.control-label(for="character_user_id") Owner
            select.form-select.complex-select2(name="character[user_id]",id="character_user_id" data-placeholder='User')
                option
                each user in users
                    - const type = user.type === 'player'?'Player':'Staff'
                    option(
                        value=user.id
                        selected=Number(character.user_id)===user.id
                        title=character.name
                        data-text=`<span class="${user.type === 'player'?'text-dark':'text-danger'}"><strong>${type}</strong>:</span> ${user.name}`
                        data-html=`<span class="${user.type === 'player'?'text-dark':'text-danger'}"><strong>${type}</strong>:</span> ${user.name}`
                    ) #{capitalize(user.name)} (#{type})
.row.my-2
    .col
        label.control-label(for="character_name") Character Name
        input.form-control(type="text",placeholder="Name",name="character[name]",value=character.name,id='character_name',required)
        div.invalid-feedback Please choose a valid name

if !activeRequired
    .row.my-2
        .col
            .form-check.form-switch
                input.form-check-input(type="checkbox", name="character[active]", id="character_active", checked=character.active disabled=character.active && !checkPermission('contrib'))
                label.form-check-label(for="character_active") Active

if checkPermission('contrib')
    .row.my-2
        .col
            label.control-label(for="character_extra_traits") Extra Traits (comma-seperated)
            input.form-control(type="text",placeholder="Traits",name="character[extra_traits]",value=character.extra_traits,id='character_extra_traits')

.row.my-2
    .col
        +markdownEditor('Notes', 'character_notes', 'character[notes]', 5, 100, character.notes, true)

if checkPermission('contrib')
    .row.my-2
        .col
            +markdownEditor('GM Notes', 'character_gm_notes', 'character[gm_notes]', 5, 100, character.gm_notes, true)

.row.my-2
    .col
        button.btn.btn-primary(type="submit")= character.id?'Update':'Create'
        a.btn.btn-link(href=`/character${character.id?'/' + character.id:''}`) Cancel


