if checkPermission('contrib')
    .row.mb-2
        .col
            label.control-label(for="character_user_id") Owner
            select.form-select.complex-select2(name="character[user_id]",id="character_user_id" data-placeholder='User')
                option
                each user in users
                    - const type = user.type === 'player'?'Player':'Staff'
                    option(
                        value=user.id
                        selected=Number(character.user_id)===user.id
                        title=user.name
                        data-text=`<span class="${user.type === 'player'?'text-dark':'text-danger'}"><strong>${type}</strong>:</span> ${user.name}`
                        data-html=`<span class="${user.type === 'player'?'text-dark':'text-danger'}"><strong>${type}</strong>:</span> ${user.name}`
                    ) #{capitalize(user.name)} (#{type})
.row.my-2
    .col
        label.control-label(for="character_name") Character Name
        input.form-control(type="text",placeholder="Name",name="character[name]",value=character.name,id='character_name',required)
        div.invalid-feedback Please choose a valid name

.row.my-2
    .col
        label.control-label(for="character_pronouns") Character Pronouns
        select.form-select.select2#character_pronouns(name="character[pronouns]" data-placeholder='Pronouns')
            - const pronouns = ['She/Her', 'He/Him', 'They/Them']
            option

            each pronoun in pronouns
                option(
                    value=pronoun
                    selected=character.pronouns===pronoun
                )= pronoun
            option(
                value='other'
                selected=character.pronouns && _.indexOf(pronouns, character.pronouns)===-1
            ) Other / None
        input.form-control.mt-2#character_pronouns_other(
            type="text"
            placeholder="Specify Other or leave blank"
            name="character[pronouns_other]"
            value=character.pronouns && _.indexOf(pronouns, character.pronouns)===-1?character.pronouns:''
            style='display:none'
        )


if !activeRequired
    .row.my-2
        -
            let tooManyCpSpent = false;
            const owner = users?_.findWhere(users, {id:character.user_id}):activeUser
            if ( currentCampaign.display_cp && character.id && owner.type === 'player' && character.cp > cp.usable){
                tooManyCpSpent = true;
            }
        .col
            if character.active && owner.type === 'player' && character.id
                span.ms-1 Character is already active.

            else if tooManyCpSpent
                span.ms-1 Character has spent #{character.cp} of #{cp.usable} CP earned.
            else
                .form-check.form-switch
                    input.form-check-input(type="checkbox", name="character[active]", id="character_active", checked=character.active disabled=character.active && !checkPermission('contrib') && activeEnabled )
                    label.form-check-label(for="character_active") Active Character?
                    if checkPermission('player') && !checkPermission('contrib')
                        .form-text As a player, you may have only one active character at a time
                            if currentCampaign.display_cp
                                | , and your active character is limited by the CP you have earned.  Non-active characters do not have a CP limit.

if checkPermission('contrib')
    .row.my-2
        .col
            label.control-label(for="character_extra_traits") Extra Traits (comma-seperated)
            input.form-control(type="text",placeholder="Traits",name="character[extra_traits]",value=character.extra_traits,id='character_extra_traits')

if custom_fields.length
    fieldset#custom-field-fieldset
        label.h5.mb-1(for='custom-field-fieldset') Additional Fields
        for field of custom_fields
            +customFieldEntry(field, 'character', character.custom_field)

.row.my-2
    .col
        button.btn.btn-primary(type="submit")= character.id?'Update':'Create'
        a.btn.btn-link(href=`/character${character.id?'/' + character.id:''}`) Cancel


