extends ../layout

include ../partials/character
include ../partials/custom_field

block content
    .row.my-3
        .col-md-6
            h3.d-inline= character.name
            if character.pronouns
                span.d-inline.h5.ms-2 (#{character.pronouns})
                if character.active
                    span.d-inline.text-success.ms-2(
                        title='Character is Active'
                        data-bs-toggle="tooltip"
                    )
                        i.far.fa-check-circle

            .row
                .col-sm
                    h4= character.user.name


        .col-md.order-md-3.text-end
            .row
                .col
                    if allowedEdit
                        a.btn.btn-outline-primary.btn-sm.mt-1(role="button" href='/character/' + character.id + '/edit')
                            i.fas.fa-edit
                            |  Edit Character Details
                    .btn-group.mt-1.ms-2
                        a.btn.btn-outline-info.btn-sm(role="button" href='/character/' + character.id + '/pdf')
                            i.fas.fa-file-alt
                            |  Download PDF

                        a.btn.btn-outline-info.btn-sm.dropdown-toggle.dropdown-toggle-split(type="button" data-bs-toggle="dropdown" aria-expanded="false")
                            .visually-hidden Toggle Dropdown
                        ul.dropdown-menu.py-1
                            li
                                a.dropdown-item(role="button" href='/character/' + character.id + '/pdf?descriptions=true')
                                    i.fas.fa-file
                                    |  With Skill Descriptions

            .row
                .col.text-end
                    h4.text-info.mt-2
                        span.me-1#character-cp #{character.cp}
                        if user.type === 'player' && currentCampaign.display_cp
                            span.me-1 of #{cp.usable}

                        | CP Spent


        .col-md
            dl.row
                -
                    const sources = _.groupBy(character.sources, (item) => {
                        if (!item.type.display_in_header){
                            return 'skip';
                        }
                        return item.type.name
                    });
                each source,name in sources
                    if name === 'skip'
                        - continue
                    dt.col-sm-4=  capitalize(name)
                    dd.col-sm-8.mb-0= _.pluck(source, 'name').join(', ')



    ul.nav.nav-tabs#characterTabs(role="tablist")

        li.nav-item(role="presentation")
            a.nav-link.active#character-tab(href="#character" data-bs-toggle="tab" role="tab" aria-controls="character" aria-selected="true") Character Sheet
        li.nav-item(role="presentation")
            a.nav-link#skill-tab(href="#skills" data-bs-toggle="tab" role="tab" aria-controls="skills" aria-selected="false") #{allowedEdit?'Edit':'View'} Skills
        li.nav-item(role="presentation")
            a.nav-link#history-tab(href="#history" data-bs-toggle="tab" role="tab" aria-controls="history" aria-selected="false") Build History
        if character.custom_field.length
            li.nav-item(role="presentation")
                a.nav-link#details-tab(href="#details" data-bs-toggle="tab" role="tab" aria-controls="details" aria-selected="false") Details

    .tab-content#characterTabContent
        .tab-pane.fade.show.active.character-sheet#character(role="tabpanel" aria-labelledby="character-tab")
            +characterSheet(character)


        .tab-pane.fade#skills(role="tabpanel" aria-labelledby="skills-tab")
            .row.my-3
                .col
                    if allowedEdit
                        .float-end
                            a.btn.btn-outline-success.btn-sm.ms-4.add-source-btn(data-characterid=character.id)
                                i.fas.fa-plus.fa-fw.me-1
                                | Add Header
                    h4 Headers
                    #character-source-table(data-characterid=character.id, data-allowededit=allowedEdit?'true':'false')
                    .col-sm-6.offset-sm-3.text-center#character-source-table-loading
                        .spinner-border.m-5(role="status" style="width: 3rem; height: 3rem;")
                            .visually-hidden Table is Loading

            .row.my-3
                .col
                    if allowedEdit
                        .float-end
                            a.btn.btn-outline-success.btn-sm.ms-4.add-skill-btn(data-characterid=character.id)
                                i.fas.fa-plus.fa-fw.me-1
                                | Add Skill
                    h4 Skills
                    .div.table-responsive-md
                        #character-skill-table(data-characterid=character.id, data-allowededit=allowedEdit?'true':'false')
                    .col-sm-6.offset-sm-3.text-center#character-skill-table-loading
                        .spinner-border.m-5(role="status" style="width: 3rem; height: 3rem;")
                            .visually-hidden Table is Loading

        .tab-pane.fade.character-history#history(role="tabpanel" aria-labelledby="history-tab")
            #character-audits-table(data-characterid=character.id)
            .col-sm-6.offset-sm-3.text-center#character-audits-table-loading
                .spinner-border.m-5(role="status" style="width: 3rem; height: 3rem;")
                    .visually-hidden Table is Loading

        if character.custom_field.length
            .tab-pane.fade#details(role="tabpanel" aria-labelledby="details-tab")
                if allowedEdit
                    .row.p-2
                        .col
                            a.btn.btn-outline-primary.btn-sm(role="button" href='/character/' + character.id + '/edit')
                                i.fas.fa-edit
                                |  Edit Character Details
                dl.row.p-2
                    for custom_field, idx in character.custom_field
                       +customFieldDisplay(custom_field, idx>0)



    +characterModal()

append scripts
    script(src='/javascripts/templates/characterSkillList.js')
    script(src='/javascripts/templates/characterSourceList.js')
    script(src='/javascripts/templates/character/addSkillForm.js')
    script(src='/javascripts/templates/character/editSkillForm.js')
    script(src='/javascripts/templates/character/characterSkill.js')
    script(src='/javascripts/templates/character/addSourceForm.js')
    script(src='/javascripts/templates/character/characterSource.js')
    script(src='/javascripts/templates/character/characterSheet.js')
    script(src='/javascripts/templates/character/characterAudits.js')

    script(src='/javascripts/character.js')
    script(src='/javascripts/data-table.js')
