table.table.table-sm.table-striped
    thead
        tr
            th.col-md-8(data-priority="1") Header
            th Cost
            th Skills
            if allowedEdit
                th.text-end(data-priority="2") Actions
    tbody
        each source in sources
            tr
                td= source.name
                    if source.details
                        if source.details.stat
                            i.ms-2 (#{source.details.stat})
                        if source.details.trait
                            i.ms-2 (#{source.details.trait})
                        if source.details.style
                            i.ms-2 (#{source.details.style})
                        if source.details.language
                            i.ms-2 (#{source.details.language})
                        if source.details.tagskill
                            i.ms-2 (#{source.details.tagskill})
                        if source.details.crafting
                            i.ms-2 (#{source.details.crafting})

                        if source.details.skill
                            i.ms-2 (#{source.details.skill})

                        if source.details.notes
                            span.badge.text-bg-info.mt-1.float-end= notes
                td
                    if source.character_cost !== source.cost
                        span.text-success(title="Reduced Cost" data-bs-toggle="tooltip")= source.character_cost
                    else
                        = source.character_cost
                td= source.character_skills.length
                    if source.max_skills
                        span.ms-1 of #{source.max_skills}
                if allowedEdit
                    td.text-end
                        if source.removable
                            a.btn.btn-outline-danger.btn-xs.delete-source-btn(
                                title='Remove Header'
                                data-bs-toggle="tooltip"
                                role="button"
                                data-sourceid=source.id
                                data-characterid=character_id
                                data-csrf=csrfToken
                            )
                                i.fas.fa-trash.fa-fw
                        else
                            a.btn.btn-outline-danger.opacity-50.btn-xs(
                                role=button
                                disabled=true
                                title=`Not Removable: ${source.no_remove_reason}`
                                data-bs-toggle='tooltip'
                            )
                                i.fas.fa-ban.fa-fw
