table.table.table-sm.table-striped.character-skills-table.data-table.w-100
    thead
        tr
            th
            th.d-none.d-md-table-cell Header
            th Skill
            th Summary
            th Cost
            if allowedEdit
                th Actions
    tbody
        each skill in skills
            tr.character-skill-row
                td.dtr-control
                th.d-none.d-md-table-cell.text-nowrap= skill.source.name
                td.text-nowrap
                    strong.d-block.strong.d-md-none= skill.source.name
                    i=skill.name
                td!=marked.parseInline(skill.summary)
                    if skill.details
                        if skill.details.stat
                            i.ml-2 (#{skill.details.stat})
                        if skill.details.trait
                            i.ml-2 (#{skill.details.trait})
                        if skill.details.style
                            i.ml-2 (#{skill.details.style})
                        if skill.details.language
                            i.ml-2 (#{skill.details.language})
                        if skill.details.tagskill
                            i.ml-2 (#{skill.details.tagskill})
                        if skill.details.crafting
                            i.ml-2 (#{skill.details.crafting})
                        if skill.details.skill
                            i.ml-2 (#{skill.details.skill})



                        if skill.details.notes || skill.details.sheet_note
                            span.badge.badge-info.mt-1.float-right notes
                td= skill.character_cost
                if allowedEdit
                    td
                        .skill-actions.text-nowrap
                            a.btn.btn-outline-info.btn-xs.skill-edit-btn.mr-1(
                                role="button",
                                title='Edit Skill Details'
                                data-toggle="tooltip"
                                data-skillid=skill.character_skill_id
                                data-characterid=character_id
                            )
                                    i.fas.fa-edit.fa-fw
                            if skill.removable
                                a.btn.btn-outline-danger.btn-xs.delete-skill-btn(
                                    role="button",
                                    title='Remove Skill'
                                    data-toggle="tooltip"
                                    data-skillid=skill.character_skill_id
                                    data-characterid=character_id
                                    data-csrf=csrfToken
                                )
                                    i.fas.fa-trash.fa-fw
