if (backto)
    input(type="hidden" name="backto" value=backto)

if checkPermission('gm')
    - console.log(attendance)
    .row.my-2
        .col
            label.control-label(for="attendance_user_id") Attendee

            select.form-select.complex-select2#attendance_user_id(name="attendance[user_id]" data-placeholder='User')
                option
                each user in users
                    - const type = capitalize(user.typeForDisplay)
                    option(
                        value=user.id
                        data-type=user.type
                        selected=Number(attendance.user_id)===user.id
                        title=user.name
                        data-text=`<span class="${user.type === 'player'?'text-dark':'text-danger'}"><strong>${type}</strong>:</span> ${user.name}`
                        data-html=`<span class="${user.type === 'player'?'text-dark':'text-danger'}"><strong>${type}</strong>:</span> ${user.name}`
                    ) #{capitalize(user.name)} (#{type})
else if checkPermission('registration edit')
    input#attendance_user_id(type="hidden" value=attendance.user.type)


#characterPicker(style=attendance.user.type==='player'?'':'display:none')
    .row.my-2
        .col
            label.control-label(for="attendance_character_id") Character
            select.form-control.complex-select2#attendance_character_id(name="attendance[character_id]")
                option
                for character in characters
                    option(
                        value=character.id
                        selected=attendance.character_id===character.id
                        data-text= character.active?`${character.name} <span class="badge text-bg-success ms-1">Active</badge>`:character.name
                        data-html= character.active?`${character.name} <span class="badge text-bg-success ms-1">Active</badge>`:character.name
                        ) #{character.name} #{character.active?'[Active]':''}

if checkPermission('gm') && attendance.user.type === 'player'
    .row.my-2
        .col
            .form-check.form-switch
                input.form-check-input#attendance_paid(type="checkbox" name="attendance[paid]" checked=attendance.paid disabled=attendance.paid_by_order)
                label.form-check-label(for="attendance_paid") Paid
                if attendance.paid_by_order
                    if checkPermission('admin')
                        a.ms-2(href=`/order/${attendance.paid_by_order}`) Order ##{attendance.paid_by_order}
                    else
                        .ms-2 Order ##{attendance.paid_by_order}

if event.addons
    .row.my-2
        .col
            legend Event Addons
            ul.list-group
                each addon in event.addons
                    - const attendance_addon = _.findWhere(attendance.addons, {event_addon_id: addon.id}) || {}
                    if checkPermission('gm')
                        +addonField(addon, attendance_addon, {}, attendance)
                    else if addon.available_to_player && checkPermission('player') && !checkPermission('event')
                        +addonField(addon, attendance_addon, attendance.user, attendance)
                    else if addon.available_to_staff && checkPermission('event')
                        +addonField(addon, attendance_addon, attendance.user, attendance)


if event.pre_event_survey
    -
        const canEditStaffFields = checkPermission('gm, registration edit');
        const days_before = ((new Date(event.start_time)).getTime() - (new Date()).getTime()) / (1000 * 60 * 60 * 24);

    each field in event.pre_event_survey.definition
        -
            let fieldData = null;
            if (_.has(attendance.pre_event_data, field.id)){
                if (typeof attendance.pre_event_data[field.id] === 'string' ){
                    fieldData = attendance.pre_event_data[field.id];
                } else {
                    fieldData = attendance.pre_event_data[field.id].data;
                }
            } else if (_.has(attendance.pre_event_data, field.name)){
                fieldData = attendance.pre_event_data[field.name];
            }

        if !field.days_before || days_before <= field.days_before
            if checkPermission('gm, registration edit')
               .row.my-2
                    .col
                        +customSurveyFieldInput('attendance[pre_event_data]',  'attendance_pre_event_data', field, fieldData, true)
            else
                case field.visible_to
                    when 'staff'
                        if checkPermission('event')
                            .row.my-2
                                .col
                                    +customSurveyFieldInput('attendance[pre_event_data]', 'attendance_pre_event_data', field, fieldData, canEditStaffFields)

                    when 'player'
                        if (checkPermission('player') && !checkPermission('event'))
                            .row.my-2
                                .col
                                    +customSurveyFieldInput('attendance[pre_event_data]', 'attendance_pre_event_data', field, fieldData, canEditStaffFields)
                    default
                        .row.my-2
                                .col
                                    +customSurveyFieldInput('attendance[pre_event_data]', 'attendance_pre_event_data', field, fieldData, canEditStaffFields)

.row.my-2
    .col
         +markdownEditor('Registration Notes', 'attendance_notes', 'attendance[notes]', 3, 100, attendance.notes, false )

.row.my-2
    .col
        button.btn.btn-primary(type="submit")
            i.fa.fa-save.me-1.submit-icon
            = attendance.id?'Update':'Register'
        if checkPermission('gm')
            a.btn.btn-secondary.ms-1#not-attending-btn-form(
                role='button'
                url=`/event/${event.id}/not_attending`
                data-csrf=csrfToken
                data-back=`/event/${event.id}`
            )
                i.fa.fa-calendar-times.me-1
                | Mark Not Attending
        a.btn.btn-link(href=`/event/${event.id}`) Cancel
