extends ../../layout

include ../../partials/editor
include ../../partials/event
include ../../partials/survey

block content
    .row
        .col-xl-10.offset-xl-1
            .card
                .card-header #{currentCampaign.renames.post_event_survey.singular} for #{event.name}
                    .badge.text-bg-warning.ms-4#save-pending-indicator(style='display:none') Changed
                    .badge.text-bg-info.ms-4#saving-indicator(style='display:none') Saving
                    .badge.text-bg-success.ms-4#saved-indicator(style='display:none') Saved
                    .badge.text-bg-danger.ms-4#error-indicator(style='display:none') Errored
                    if checkPermission('gm')
                        .float-end #{attendance.user.name}
                .card-body
                    - const canEditStaffFields = checkPermission('gm');
                     form.form.needs-validation#postEventSurveyForm(
                        method="POST"
                        action=`/event/${event.id}/post_event/${attendance.id}`
                        data-apiurl=`/event/${event.id}/post_event/${attendance.id}/api`
                        novalidate
                    )
                        input(type="hidden", name="_method",  value="PUT")
                        input(type="hidden", name='_csrf',value=csrfToken)
                        if (backto)
                            input(type="hidden" name="backto" value=backto)


                        each field in event.post_event_survey.definition
                            -
                                let fieldData = null;
                                if (_.has(attendance.post_event_data, field.id)){
                                    fieldData = attendance.post_event_data[field.id].data;
                                }

                            case field.visible_to
                                when 'staff'
                                    if attendance.user.type !== 'player'
                                        .row.my-2
                                            .col
                                                +customSurveyFieldInput(
                                                    'attendance[post_event_data]',
                                                    'attendance_post_event_data',
                                                    field,
                                                    fieldData,
                                                    canEditStaffFields,
                                                    {disabled:attendance.post_event_submitted, immediate:true}
                                                )

                                when 'player'
                                    if attendance.user.type === 'player'
                                        .row.my-2
                                            .col
                                                +customSurveyFieldInput(
                                                    'attendance[post_event_data]',
                                                    'attendance_post_event_data',
                                                    field,
                                                    fieldData,
                                                    canEditStaffFields,
                                                    {disabled:attendance.post_event_submitted, immediate:true}
                                                )
                                default
                                    .row.my-2
                                            .col
                                                +customSurveyFieldInput(
                                                    'attendance[post_event_data]',
                                                    'attendance_post_event_data',
                                                    field,
                                                    fieldData,
                                                    canEditStaffFields,
                                                    {disabled:attendance.post_event_submitted, immediate:true}
                                                )
                        if attendance.post_event_addendums
                            each addendum in attendance.post_event_addendums
                                if addendum.submitted
                                    .row.my-2
                                        .col
                                            strong Addendum
                                            .float-end
                                                span.me-1 Submitted:
                                                = moment.utc(addendum.submitted_at).tz(currentCampaign.timezone).format('lll')

                                            .text-bg-light.border.rounded.p-2
                                                != marked.parseInline(addendum.content, {breaks:true})

                        .row.my-2
                            .col

                                if (!attendance.post_event_submitted)
                                    input#submit-action(type="hidden" name="action" value="save")
                                    button.btn.btn-success.me-2(
                                        type="submit"
                                        name='action'
                                        value='save'
                                        data-bs-toggle='tooltip'
                                        title='Save for Later'
                                    )
                                        i.fas.fa-save.me-1.submit-icon
                                        | Save
                                    button.btn.btn-primary.me-2#postEventSubmitBtn(
                                        type="submit"
                                        name='action'
                                        value='submit'
                                        data-bs-toggle='tooltip'
                                        title=`Submit ${currentCampaign.renames.post_event_survey.singular} to Staff?`
                                        message=`You will not be able to make additional changes to this ${currentCampaign.renames.post_event_survey.singular} after you submit, although you can create addendums.`
                                        showMessage="true"
                                    )
                                        i.fas.fa-share-square.me-1.submit-icon-submit
                                        | Submit

                                    if attendance.post_event_hidden
                                        button.btn.btn-info#postEventUnhideBtn(
                                            type="submit"
                                            name='action'
                                            value='unhide'
                                            data-bs-toggle='tooltip'
                                            title='Restore to Task List'
                                        )
                                            i.fas.fa-eye.me-1
                                            | Unhide
                                    else if new Date(event.post_event_survey_deadline) < new Date()
                                        button.btn.btn-info#postEventHideBtn(
                                            type="submit"
                                            name='action'
                                            value='hide'
                                            title=`Hide ${currentCampaign.renames.post_event_survey.singular}?`
                                            data-bs-toggle='tooltip'
                                            message=`This will remove the reminder from the front page.  You can return to the ${currentCampaign.renames.post_event_survey.plural} page to submit later.`
                                            showMessage='true'
                                        )
                                            i.fas.fa-eye-slash.me-1
                                            | Hide

                                if backto === 'list'
                                    a.btn.btn-link(href=`/post_event_survey`) Back to Surveys
                                else if backto === 'event'
                                    a.btn.btn-link(href=`/event/${event.id}`) Back to Event
                                else
                                    a.btn.btn-link(href='/') Back

append scripts
    script(src='/javascripts/image-upload.js')
    script(src='/javascripts/post_event.js')
