extends ../../layout
include ../../partials/image
block content
    .row
        .col-sm-8.offset-sm-2
            .card
                .card-header New Image
                .card-body
                    form#new-image-form.form.needs-validation(method="POST" action="/admin/image" novalidate)
                        input(type="hidden", name="_method",  value="PUT")
                        input#csrfToken(type="hidden", name='_csrf',value=csrfToken)
                        input#image-id(type="hidden", name='image[id]',value='')
                        input#image-status(type="hidden", name='image[upload][status]',value='new')
                        .row.my-2
                            .col
                                +imageUploadField('Image File', 'imagePicker', 'image[upload][file]', null, {
                                    required:true
                                })

                        .row.my-2
                            .col#upload-feedback.text-danger

                        .row.my-2
                            .col
                                label.control-label(for="image_display_name")
                                    .gallery-field-label NPC Name
                                    .image-field-label Display Name
                                input.form-control(type="text",placeholder="Name",name="image[upload][display_name]",value=image.upload.display_name,id='image_display_name')

                        .row.my-2
                            .col
                                    label.control-label(for="image_type") Image Type
                                    select.form-select.select2#image_type(name="image[type]" data-placeholder='Image Type' required)
                                        option
                                        for type in ['favicon', 'website', 'content', 'gallery', 'map']
                                            option(value=type selected=image.type === type)= capitalize(type)
                        .row.my-2#display-image-row
                            .col
                                .form-check.form-switch
                                    input.form-check-input#image_display_to_pc(type="checkbox" name="image[display_to_pc]" checked=image.display_to_pc)
                                    label.form-check-label(for="image_display_to_pc") Display to Players in Gallery


                        .row.my-2
                            .col
                                label.control-label(for="image_description")
                                    .gallery-field-label NPC Details (i.e. staff member name)
                                    .image-field-label Description
                                textarea.form-control(name="image[upload][description]",id="image_description",rows=3) #{image.upload.description}


                        .row.my-2
                            .col
                                button.btn.btn-primary(type="submit") Create
                                a.btn.btn-link(href="/image") Cancel

append scripts
    script(src='/javascripts/image-upload.js')
    script(src='/javascripts/validator.js')
    script(src='/javascripts/image.js')
    script.
        $(function(){
             $('.select2').select2({
                theme:'bootstrap-5',
                minimumResultsForSearch: 6,
                width:'resolve'
            });
        });
