mixin attendeeListDisplay(attendees, type='staff')
    .d-lg-none
        +attendeeList(attendees, type)
    .d-none.d-lg-block
        +attendeeTable(attendees, type)



mixin attendeeList(attendees, type)
    if checkPermission('contrib, registration view')
        .row
            .col
                button.btn.btn-sm.btn-outline-info.my-2#attendee-export-btn(
                    data-export=`/event/${event.id}/export?type=${type}`
                )
                    i.fa.fa-download.me-1
                    | Export CSV

    ul.list-group
        each attendee in attendees
            if type === 'no response' && attendee.user.occasional_attendee
                - continue
            +attendeeListItem(attendee, type)

mixin attendeeListItem(attendee, type)
    li.list-group-item.py-2
        .row
            .col
                if checkPermission('contrib, registration view')
                    a(href=`/user/${attendee.user.id}`)
                        i.fas.fa-user.me-1
                        = attendee.user.name
                else
                    span=attendee.user.name

                if type !== 'player'
                    span.badge.text-bg-info.ms-2(class=!checkPermission('contrib')?'float-end':'')
                        =capitalize(attendee.user.typeForDisplay)

                if checkPermission('contrib, registration view') && attendee.user.type === 'player' && event.cost
                    .float-end
                        if attendee.paid
                            span.badge.text-bg-success.me-1 Paid
                        else
                            span.badge.text-bg-danger.me-1 Unpaid


                if new Date(event.end_time) < Date.now()
                    if attendee.checked_in
                        .badge.text-bg-success.mx-1 Checked In
                    if attendee.attendance_cp_granted
                        .badge.text-bg-info.mx-1 Event #{currentCampaign.renames.cp.singular} Granted
                    if attendee.post_event_cp_granted
                        .badge.text-bg-info.mx-1 #{currentCampaign.renames.pes.singular} #{currentCampaign.renames.cp.singular} Granted


            if checkPermission('contrib, registration view') && !(type === 'not attending' || type === 'no response')
                .col.text-end
                    +showAddons(attendee, type)
                    if attendee.notes
                        a.btn.btn-outline-info.btn-xs.me-1.action-btn(
                            tabindex="0"
                            role="button"
                            data-bs-toggle="popover"
                            data-bs-content=marked.parseInline(attendee.notes, {breaks: true})
                            data-bs-html="true"
                            title="Notes"
                        )
                            i.fas.fa-sticky-note.fa-fw
                    if event.pre_event_survey
                        each customField in event.pre_event_survey.definition
                            if _.has(attendee.pre_event_data, customField.id) && attendee.pre_event_data[customField.id].data
                                +attendeeCustomField(customField, attendee.pre_event_data[customField.id].data)
                            else if _.has(attendee.pre_event_data, customField.name) && attendee.pre_event_data[customField.name]
                                +attendeeCustomField(customField, attendee.pre_event_data[customField.name])

            if checkPermission('gm, registration edit') && !(type === 'not attending' || type === 'no response')
                .col-3.text-end
                    a.btn.btn-outline-info.btn-xs.action-btn.me-1(
                        role="button",
                        title="View/Edit Registration"
                        data-bs-toggle="tooltip"
                        href=`/event/${attendee.event_id}/register/${attendee.id}`
                    )
                        i.fas.fa-edit.fa-fw.me-1
                        | Edit
                        span.ms-1.d-none.d-md-inline Registration


        if checkPermission('contrib, registration view') && type === 'player' && attendee.character
            .row
                .col
                    if checkPermission('contrib')
                        a(href=`/character/${attendee.character.id}` style='font-size: 1rem')
                            i.far.fa-user.me-1
                            = attendee.character.name
                    else
                        i.far.fa-user.me-1
                        = attendee.character.name

                    if attendee.character.pronouns
                        span.ms-2 (#{attendee.character.pronouns})
                    if attendee.character.active
                        .badge.text-bg-success.badge-pill.ms-1 Active

        if checkPermission('contrib, registration view')
            .row
                .col
                    for documentation of currentCampaign.documentations
                        if documentation.on_checkin
                            - userDoc = _.findWhere(attendee.documentations, {documentation_id: documentation.id})
                            if !userDoc || userDoc.status !== 'valid'
                                .badge.text-bg-danger.me-2.rounded-pill(
                                    title=userDoc?capitalize(userDoc.status):'Missing'
                                    data-bs-toggle="tooltip"
                                )
                                    if userDoc && userDoc.status === 'expired'
                                        i.far.fa-clock.me-1
                                    else
                                        i.fa.fa-times-circle.me-1
                                    = documentation.name
            
            
mixin attendeeTable(attendees, type)
    - const twoHoursBeforeEventStart = (new Date(event.start_time)).valueOf() - (60*60*2*1000)
    .table-responsive.my-2
        .col-sm-6.offset-sm-3.text-center.table-loading
            .spinner-border.m-5(role="status" style="width: 3rem; height: 3rem;")
                .visually-hidden Table is Loading
        table.table.table-striped.data-table.my-3.dt-responsive.nowrap.table-sm.w-100(
            style="display: none"
            class=checkPermission('contrib, registration view')?'table-exportable':''
            data-export=`/event/${event.id}/export?type=${type}`
            )
            thead
                tr
                    th
                    th Attendee
                    if checkPermission('contrib, registration view') && type === 'player'
                        if event.cost
                            th Paid
                        th Character
                    else
                        th Type
                    if checkPermission('contrib, registration view') && !(type === 'not attending' || type === 'no response')
                        th Details
                        if twoHoursBeforeEventStart < Date.now()

                            th Checked In
                        if new Date(event.end_time) < Date.now()
                            th #{currentCampaign.renames.cp.singular}
                    if checkPermission('gm, registration edit') && type !== 'no response'
                        th
            tbody
                each attendee in attendees
                    if type === 'no response' && attendee.user.occasional_attendee
                        - continue
                    tr
                        td.dtr-control
                        td
                            if checkPermission('gm')
                                a(href=`/user/${attendee.user.id}`)
                                    i.fas.fa-user.me-1
                                    = attendee.user.name
                            else
                                i.fas.fa-user.me-1
                                = attendee.user.name
                            if checkPermission('contrib, registration view') && !(type === 'not attending' || type === 'no response')
                                for documentation of currentCampaign.documentations
                                    if documentation.on_checkin
                                        - userDoc = _.findWhere(attendee.documentations, {documentation_id: documentation.id})
                                        if !userDoc || userDoc.status !== 'valid'
                                            .badge.text-bg-danger.ms-2.rounded-pill(
                                                title=userDoc?capitalize(userDoc.status):'Missing'
                                                data-bs-toggle="tooltip"
                                            )
                                                if userDoc && userDoc.status === 'expired'
                                                    i.far.fa-clock.me-1
                                                else
                                                    i.fa.fa-times-circle.me-1
                                                = documentation.name

                        if checkPermission('contrib, registration view') && type === 'player'
                            if event.cost
                                td
                                    if attendee.paid
                                        span.badge.text-bg-success.me-1 Yes
                                    else
                                        span.badge.text-bg-danger.me-1 No

                                    +showAddons(attendee, 'player')

                            td
                                if attendee.character
                                    if checkPermission('contrib')
                                        a(href=`/character/${attendee.character.id}` style='font-size: 1rem')
                                            i.far.fa-user.me-1
                                            = attendee.character.name
                                    else
                                        i.far.fa-user.me-1
                                        = attendee.character.name
                        else
                            td(sort-order=attendee.user.typeOrder)= capitalize(attendee.user.typeForDisplay)
                        if checkPermission('contrib, registration view') && !(type === 'not attending' || type === 'no response')
                            td
                                if type === 'staff'
                                    +showAddons(attendee, 'staff')

                                if attendee.notes
                                    a.btn.btn-outline-info.btn-xs.me-1.action-btn(
                                        tabindex="0"
                                        role="button"
                                        data-bs-toggle="popover"
                                        data-bs-content=marked.parseInline(attendee.notes, {breaks: true})
                                        data-bs-html="true"
                                        title="Notes"
                                    )
                                        i.fas.fa-sticky-note.fa-fw
                                if event.pre_event_survey

                                    each customField in event.pre_event_survey.definition
                                        if _.has(attendee.pre_event_data, customField.id) && attendee.pre_event_data[customField.id].data
                                            +attendeeCustomField(customField, attendee.pre_event_data[customField.id].data)

                                        else if _.has(attendee.pre_event_data, customField.name) && attendee.pre_event_data[customField.name]
                                            +attendeeCustomField(customField, attendee.pre_event_data[customField.name])

                            if twoHoursBeforeEventStart < Date.now()
                                td
                                    if attendee.checked_in
                                        .badge.text-bg-success Yes
                                    else
                                        .badge.text-bg-danger No
                            if new Date(event.end_time) < Date.now()
                                td
                                    if attendee.attendance_cp_granted
                                        .badge.text-bg-info.mx-1 Event
                                    if attendee.post_event_cp_granted
                                        .badge.text-bg-info.mx-1 #{currentCampaign.renames.pes.singular}
                        if checkPermission('gm, registration edit') && type !== 'no response'
                            td.text-end
                                if type !== 'not attending'
                                    a.btn.btn-outline-info.btn-xs.action-btn.me-1(
                                        role="button",
                                        title="View/Edit Registration"
                                        data-bs-toggle="tooltip"
                                        href=`/event/${attendee.event_id}/register/${attendee.id}`
                                    )
                                        i.fas.fa-edit.fa-fw.me-1
                                        | Edit Registration
                                if checkPermission('gm')
                                    a.btn.btn-outline-danger.btn-xs.delete-btn(
                                        role="button",
                                        title=type==='not attending'?"Remove Not-Attending Record":"Delete Registration"
                                        data-bs-toggle="tooltip"
                                        data-csrf=csrfToken
                                        url=`/event/${attendee.event_id}/register/${attendee.id}`
                                    )
                                        i.fas.fa-trash.fa-fw

mixin attendeeCustomField(customField, data)
    -
        let icon = 'fa-sticky-note'
        if (customField.type === 'image'){
            icon = 'fa-image'
        }
        if (customField.icon){
            icon = customField.icon;
        }

        let content = null
        if (customField.type === 'boolean'){
            data = !!data?'Yes':'No'
        }
        if (customField.type === 'image' && data){
            content = `<img class="img-fluid image-container" src="${data.thumbnailUrl}">`;
        } else {
            content = marked.parseInline(data, {breaks: true})
        }


    a.btn.btn-outline-info.btn-xs.me-1(
        tabindex="0"
        role="button"
        data-bs-toggle="popover"
        data-bs-content=content
        data-bs-html="true"
        title=`${customField.name}${customField.type==='image'&&data?' (expand)':''}`
        class=customField.type==='image'&&data?'img-display-btn':'action-btn'
        data-imageurl=customField.type==='image'&&data?data.upload.url:''
        data-imagename=customField.type==='image'&&data?data.upload.name:''
    )
        i.fas.fa-fw(class=icon)

mixin attendeeCustomFieldDisplay(customField, data)
    -
        const icon = customField.icon?customField.icon:'fa-sticky-note'
        if (customField.type === 'boolean'){
            data = !!data?'Yes':'No'
        }
    .row.my-2
        .col-md-4
            i.fas.me-1.fa-fw(class=icon)
            strong= customField.name
        .col-md
            if data
                if customField.type === 'image'
                    a.img-display-btn.btn.btn-outline-primary.btn-sm(
                        href='#'
                        role="button"
                        data-imageurl=customField.type==='image'&&data?data.upload.url:''
                        data-imagename=customField.type==='image'&&data?data.upload.name:''
                    )
                        i.fa.fa-eye.me-1
                        | View Uploaded Image


                else
                    !=marked.parseInline(data, {breaks:true})


mixin showAddons(attendee, type)
    if attendee.addons && attendee.addons.length
        -
            let addons = '';
            for (const addon of attendee.addons){
                addons += `**${addon.addon.name}**`
                if ((type === 'player' && addon.addon.charge_player) || (type=== 'staff' && addon.addon.charge_staff)){
                    addons += ` ($${addon.addon.cost}): ${addon.paid?'Paid':'Unpaid'}\n`;
                } else {
                    addons += '\n';
                }
            }
        a.btn.btn-outline-info.btn-xs.me-1.action-btn(
            tabindex="0"
            role="button"
            data-bs-toggle="popover"
            data-bs-content=marked.parseInline(addons, {breaks: true})
            data-bs-html="true"
            title="Addons"
        )
            i.fas.fa-cart-plus.fa-fw

