include ./editor

mixin eventListDisplay(events, showPast=false)
    .table-responsive.my-2
        .col-sm-6.offset-sm-3.text-center.table-loading
            .spinner-border.m-5(role="status" style="width: 3rem; height: 3rem;")
                .visually-hidden Table is Loading
        table.table.table-striped.data-table.table-hover.my-3.dt-responsive.nowrap.table-sm.w-100(
            data-order='[[2, "desc"]]'
            style="display: none"
            )
            thead
                tr
                    th
                    th Name
                    th Date
                    th Cost
                    if !showPast
                        th Reg Open?
                    if checkPermission('contrib')
                        th Players
                        th Staff/NPCs
                    th Attending
                    if checkPermission('gm')
                        th Actions

            tbody
                for event in events
                    tr(class='clickable-row', data-click-object='event' data-click-id=event.id)
                        td.dtr-control
                        td= event.name
                        

                        td
                            +eventDate(event.start_time, event.end_time)

                        td 
                            if event.cost
                                | $#{event.cost}.00
                            else 
                                | Free Event
                        if !showPast
                            td
                                if event.registration_open
                                    span.badge.text-bg-success Yes
                                else
                                    span.badge.text-bg-danger No
                        if checkPermission('contrib')
                            td=event.players.length
                            td=event.attendees.length - event.players.length
                        td
                            if _.findWhere(event.attendees, {user_id: activeUser.id})
                                span.badge.text-bg-success
                                    i.fas.fa-calendar-check.me-1
                                    if event.end_time < new Date()
                                        | Attended
                                    else
                                        | Attending
                            else
                                span.badge.text-bg-danger
                                    i.fas.fa-calendar-times.me-1
                                    if event.end_time < new Date()
                                        | Did not Attend
                                    else
                                        | Not Attending
                        if checkPermission('gm')
                            td.text-right
                                a.btn.btn-outline-info.btn-xs.action-btn.me-1(
                                    role="button",
                                    title="Edit Event"
                                    data-bs-toggle="tooltip"
                                    href=`/event/${event.id}/edit`
                                )
                                    i.fas.fa-edit.fa-fw
                                if checkPermission('admin')
                                    a.btn.btn-outline-danger.btn-xs.delete-btn(
                                        role="button",
                                        title="Delete Event"
                                        data-bs-toggle="tooltip"
                                        url=`/event/${event.id}`
                                    )
                                        i.fas.fa-trash.fa-fw

mixin eventListItemStaff(event)
    .row
        .col
            if _.findWhere(event.attendees, {user_id: user.id})
                i.fas.fa-fw.fa-calendar-check.me-1.text-success(data-bs-toggle="tooltip" title='Attending')
            else if event.registration_open
                i.fas.fa-fw.fa-calendar-times.me-1.text-danger(data-bs-toggle="tooltip" title='Not Attending')
            else
                i.fas.fa-fw.fa-calendar.me-1(data-bs-toggle="tooltip" title='Not Attending')
            = event.name
        .col.text-end
            +eventDate(event.start_time, event.end_time)

    .row
        .col
            i.fas.fa-fw.fa-map-marker-alt.me-1
            = event.location
    .row
        .col
            | Staff
            span.d-lg-none.d-xl-inline /NPCs
            |: #{event.attendees.length - event.players.length}
        .col
            | Players: #{event.players.length}

mixin eventListItemPlayer(event)
    - attendance = _.findWhere(event.attendees, {user_id: user.id})
    .row
        .col-md-5
            if attendance
                i.fas.fa-fw.fa-calendar-check.me-1.text-success(data-bs-toggle="tooltip" title='Attending')
            else if event.registration_open
                i.fas.fa-fw.fa-calendar-times.me-1.text-danger(data-bs-toggle="tooltip" title='Not Attending')
            else
                i.fas.fa-fw.fa-calendar.me-1(data-bs-toggle="tooltip" title='Not Attending')
            = event.name
        .col
            if !event.registration_open
                span.badge.text-bg-info Registration Not Open
            else if attendance
                if attendance.paid

                    span.badge.text-bg-success Paid
                else if event.cost
                    span.badge.text-bg-warning Unpaid
                else
                    span.badge.text-bg-success Registered
            else
                span.badge.text-bg-danger Not Registered

        .col.text-end
            +eventDate(event.start_time, event.end_time)
    .row
        .col-md-6
            i.fas.fa-map-marker-alt.me-1
            = event.location
        if !(attendance && attendance.paid)
            .col.text-end
                span.me-1 Cost:
                if event.cost
                    | $#{event.cost}
                else
                    | Free

    if attendance && !attendance.character.active
        .row
            .col=attendance.character.name



mixin eventDate(start, end)
    -
        const startM = moment(start);
        const endM = moment(end)
        let dateStr = '';

        if (startM.format('YYYY-MM-DD') === endM.format('YYYY-MM-DD')){
            dateStr = startM.format('ll');

        } else if (startM.format('YYYY-MM') === endM.format('YYYY-MM')){
            dateStr = `${startM.format('MMM D')} - ${endM.format('D, YYYY')}`;

        } else if (startM.format('YYYY') === endM.format('YYYY')){
            dateStr = `${startM.format('MMM D')} - ${endM.format('MMM D, YYYY')}` ;

        } else {
            dateStr = `${startM.format('MMM D')} - ${endM.format('MMM D, YYYY')}` ;

        }
    =dateStr

mixin customEventField(fieldName, fieldType, currentValue)
    case fieldType
        when 'text'
            label.control-label(for=`attendance_data_${fieldName}`)= fieldName
            input.form-control( id=`attendance_data_${fieldName}` type="text" name=`attendance[data][${fieldName}]` value=currentValue)
        when 'longtext'
             +markdownEditor(fieldName, `attendance_data_${fieldName}`, `attendance[data][${fieldName}]`, 3, 100, currentValue, false )
        when 'boolean'
            .form-check.form-switch
                input.form-check-input(type="checkbox" id=`attendance_data_${fieldName}` name=`attendance[data][${fieldName}]` checked=currentValue)
                label.form-check-label(for=`attendance_data_${fieldName}`) fieldName



