include ./editor

mixin eventListDisplay(events, showPast=false)
    .table-responsive.my-2
        .col-sm-6.offset-sm-3.text-center.table-loading
            .spinner-border.m-5(role="status" style="width: 3rem; height: 3rem;")
                .visually-hidden Table is Loading
        table.table.table-striped.data-table.table-hover.my-3.dt-responsive.nowrap.table-sm.w-100(
            style="display: none"
            )
            thead
                tr
                    th
                    th Name
                    th Date
                    th Cost
                    if !showPast
                        th Reg Open?
                    if checkPermission('contrib')
                        th Players
                        th Staff/NPCs
                    th Attending
                    if checkPermission('gm')
                        if currentCampaign.display_schedule
                            th Schedule
                        th Actions

            tbody
                for event in events
                    - const attendee = _.findWhere(event.attendees, {user_id: activeUser.id})
                    tr(class='clickable-row', data-click-object='event' data-click-id=event.id)
                        td.dtr-control
                        td= event.name
                        

                        td(data-sort=event.start_time.getTime())
                            +eventDate(event.start_time, event.end_time)

                        td 
                            if event.cost
                                | $#{event.cost}.00
                                if attendee && attendee.user.type === 'player'
                                    if attendee.paid
                                        .badge.text-bg-success.ms-2 Paid
                                    else
                                        .badge.text-bg-danger.ms-2 Unpaid
                            else
                                | Free Event

                        if !showPast
                            td
                                if event.registration_open
                                    span.badge.text-bg-success Yes
                                else
                                    span.badge.text-bg-danger No
                        if checkPermission('contrib')
                            td=event.players.filter(a => { return a.attending}).length
                            td=event.attendees.filter(a => { return a.attending}).length - event.players.filter(a => { return a.attending}).length
                        td
                            if attendee
                                span.badge.text-bg-success
                                    i.fas.fa-calendar-check.me-1
                                    if event.end_time < new Date()
                                        | Attended
                                    else
                                        | Attending
                            else
                                span.badge.text-bg-warning
                                    i.fas.fa-calendar-times.me-1
                                    if event.end_time < new Date()
                                        | Did not Attend
                                    else
                                        | Not Attending
                        if checkPermission('gm')
                            if currentCampaign.display_schedule
                                td=capitalize(event.schedule_status)
                            td.text-right
                                a.btn.btn-outline-info.btn-xs.action-btn.me-1(
                                    role="button",
                                    title="Edit Event"
                                    data-bs-toggle="tooltip"
                                    href=`/event/${event.id}/edit`
                                )
                                    i.fas.fa-edit.fa-fw
                                a.btn.btn-outline-success.btn-xs.action-btn.me-1(
                                    role="button",
                                    title="Clone Event"
                                    data-bs-toggle="tooltip"
                                    href=`/event/new?clone=${event.id}`
                                )
                                    i.fas.fa-copy.fa-fw
                                if checkPermission('admin')
                                    a.btn.btn-outline-danger.btn-xs.delete-btn(
                                        role="button",
                                        title="Delete Event"
                                        data-bs-toggle="tooltip"
                                        url=`/event/${event.id}`
                                        data-csrf=csrfToken
                                    )
                                        i.fas.fa-trash.fa-fw

mixin eventListItemStaff(event)
    .row
        .col
            - const attendance =  _.findWhere(event.attendees, {user_id: user.id})
            if attendance
                if attendance.attending
                    i.fas.fa-fw.fa-calendar-check.me-1.text-success(data-bs-toggle="tooltip" title='Attending')
                else
                    i.fas.fa-fw.fa-calendar-times.me-1.text-secondary(data-bs-toggle="tooltip" title='Not Attending')
            else if event.registration_open
                i.fas.fa-fw.fa-calendar-times.me-1.text-danger(data-bs-toggle="tooltip" title='Not Registered')
            else
                i.fas.fa-fw.fa-calendar.me-1(data-bs-toggle="tooltip" title='Not Open for Registration')
            = event.name
        .col-auto.text-end.text-nowrap
            +eventDate(event.start_time, event.end_time)

    .row
        .col
            i.fas.fa-fw.fa-map-marker-alt.me-1
            = event.location
    .row
        .col
            | Staff
            span.d-lg-none.d-xl-inline /NPCs
            |: #{event.attendees.filter(a => { return a.attending}).length - event.players.filter(a => { return a.attending}).length}
        .col
            | Players: #{event.players.filter(a => { return a.attending}).length}

mixin eventListItemPlayer(event)
    - attendance = _.findWhere(event.attendees, {user_id: user.id})
    .row
        .col-md-5
            if attendance
                if attendance.attending
                    i.fas.fa-fw.fa-calendar-check.me-1.text-success(data-bs-toggle="tooltip" title='Attending')
                else
                    i.fas.fa-fw.fa-calendar-times.me-1.text-secondary(data-bs-toggle="tooltip" title='Not Attending')
            else if event.registration_open
                i.fas.fa-fw.fa-calendar-times.me-1.text-danger(data-bs-toggle="tooltip" title='Not Registered')
            else
                i.fas.fa-fw.fa-calendar.me-1(data-bs-toggle="tooltip" title='Not Open for Registration')
            = event.name
        .col
            if !event.registration_open
                span.badge.text-bg-info Registration Not Open
            else if attendance
                if attendance.attending
                    if attendance.paid

                        span.badge.text-bg-success Paid
                    else if event.cost
                        span.badge.text-bg-warning Unpaid
                    else
                        span.badge.text-bg-success Registered
                else
                    span.badge.text-bg-secondary Not Attending
            else
                span.badge.text-bg-danger Not Registered

        .col.text-end.text-nowrap
            +eventDate(event.start_time, event.end_time)
    .row
        .col-md-10
            i.fas.fa-map-marker-alt.me-1.fa-fw
            = event.location
        if !(attendance && attendance.paid)
            .col.text-end
                span.me-1 Cost:
                if event.cost
                    | $#{event.cost}
                else
                    | Free

    if attendance && attendance.character && !attendance.character.active
        .row
            .col=attendance.character.name
    if attendance && ! attendance.character && attendance.attending
        .row
            .col No Character Specified



mixin eventDate(start, end)
    -
        const startM = moment.utc(start).tz(currentCampaign.timezone);

        const endM = moment.utc(end).tz(currentCampaign.timezone)
        let dateStr = '';

        if (startM.format('YYYY-MM-DD') === endM.format('YYYY-MM-DD')){
            dateStr = startM.format('ll');
            dateStr += ` ${startM.format('ha')} - ${endM.format('ha')}`;

        } else if (startM.format('YYYY-MM') === endM.format('YYYY-MM')){
            dateStr = `${startM.format('MMM D@ha')} - ${endM.format('D@ha, YYYY')}`;

        } else if (startM.format('YYYY') === endM.format('YYYY')){
            dateStr = `${startM.format('MMM D ha')} - ${endM.format('MMM D ha, YYYY')}` ;

        } else {
            dateStr = `${startM.format('MMM D ha')} - ${endM.format('MMM D ha, YYYY')}` ;

        }
    =dateStr

mixin eventDays(start, end)
    -
        const startM = moment.utc(start).tz(currentCampaign.timezone);

        const endM = moment.utc(end).tz(currentCampaign.timezone)
        let dateStr = '';

        if (startM.format('YYYY-MM-DD') === endM.format('YYYY-MM-DD')){
            dateStr = startM.format('ll');

        } else if (startM.format('YYYY-MM') === endM.format('YYYY-MM')){
            dateStr = `${startM.format('MMM D')} - ${endM.format('D, YYYY')}`;

        } else if (startM.format('YYYY') === endM.format('YYYY')){
            dateStr = `${startM.format('MMM D')} - ${endM.format('MMM D, YYYY')}` ;

        } else {
            dateStr = `${startM.format('MMM D')} - ${endM.format('MMM D, YYYY')}` ;

        }
    =dateStr

mixin hourDisplay(hour)
    if hour === 0
        | 12 AM
    else if hour == 12
        | 12 PM
    else if hour < 12
        | #{hour} AM
    else
        | #{hour-12} PM

mixin eventAddonsHeader()
    .row.event_addon-header-row
        .col-lg-6
            label.control-label.event_addon-label Name
        .col-lg-4
            label.control-label.event_addon-label Cost
        .col-lg-2.text-end
            a.btn.btn-sm.btn-outline-success.add-event_addon-btn(href='#')
                i.fa.fa-plus.me-1
                | Add Addon

mixin eventAddon(addon, idx)
    .event_addon-row.border-top.mt-2(id=`event_addon-${idx}`)
        .row.my-2
            input.event_addon-input(
                type="hidden"
                name=`event[addons][${idx}][id]`
                value=addon.id
                id=`event_addon_${idx}_id`
                data-fieldtype='id'
                )
            .col-lg-6
                input.form-control.event_addon-name.event_addon-input(
                    type="text",placeholder="Name"
                    name=`event[addons][${idx}][name]`
                    value=addon.name
                    id=`event_addon_${idx}_name`
                    data-fieldtype='name'
                    data-required="true"
                )

            .col-lg-4
                .input-group
                    .input-group-text $
                    input.form-control.event_addon-input(
                        id=`event_addon_${idx}_cost`
                        placeholder="Dollars"
                        name=`event[addons][${idx}][cost]`
                        data-fieldtype='cost'
                        data-required="true"
                        value=addon.cost
                        type='number'
                    )
                    .input-group-text .00


            .col-lg-2.text-end.align-bottom
                a.btn.btn-sm.btn-outline-danger.remove-event_addon-btn.align-bottom(data-bs-toggle="tooltip" title='Remove Addon' data-placement="right" href='#')
                    i.fas.fa-trash.fa-fw.me-1
                    | Remove
        .row.my-2
            .col-lg
                .form-check.form-switch
                    input.form-check-input.event_addon-input(
                        type="checkbox"
                        name=`event[addons][${idx}][available_to_player]`
                        checked=addon.available_to_player
                        id=`event_addon_${idx}_available_to_player`
                        data-fieldtype='available_to_player'
                    )

                    label.form-check-label.event_addon-label(
                        for=`event_addon_${idx}_available_to_player`
                        data-fieldtype='available_to_player'
                    )
                        small Available for Players
            .col-lg
                .form-check.form-switch
                    input.form-check-input.event_addon-input(
                        type="checkbox"
                        name=`event[addons][${idx}][available_to_staff]`
                        checked=addon.available_to_staff
                        id=`event_addon_${idx}available_to_staff`
                        data-fieldtype='available_to_staff'
                    )

                    label.form-check-label.event_addon-label(
                        for=`event_addon_${idx}_available_to_staff`
                        data-fieldtype='available_to_staff'
                    )
                        small Available for Staff
            .col-lg
                .form-check.form-switch
                    input.form-check-input.event_addon-input(
                        type="checkbox"
                        name=`event[addons][${idx}][charge_player]`
                        checked=addon.charge_player
                        id=`event_addon_${idx}_charge_player`
                        data-fieldtype='charge_player'
                    )

                    label.form-check-label.event_addon-label(
                        for=`event_addon_${idx}_charge_player`
                        data-fieldtype='charge_player'
                    )
                        small Charge Players
            .col-lg
                .form-check.form-switch
                    input.form-check-input.event_addon-input(
                        type="checkbox"
                        name=`event[addons][${idx}][charge_staff]`
                        checked=addon.charge_staff
                        id=`event_addon_${idx}_charge_staff`
                        data-fieldtype='charge_staff'
                    )

                    label.form-check-label.event_addon-label(
                        for=`event_addon_${idx}_charge_staff`
                        data-fieldtype='charge_staff'
                    )
                        small Charge Staff
            .col-lg
                .form-check.form-switch
                    input.form-check-input.event_addon-input(
                        type="checkbox"
                        name=`event[addons][${idx}][on_checkin]`
                        checked=addon.on_checkin
                        id=`event_addon_${idx}_on_checkin`
                        data-fieldtype='on_checkin'
                    )

                    label.form-check-label.event_addon-label(
                        for=`event_addon_${idx}_on_checkin`
                        data-fieldtype='on_checkin'
                    )
                        small On Check-in Form

mixin addonField(addon, attendance_addon, user, attendance)
    - const showCost = (addon.charge_player && user.type === 'player') || (addon.charge_staff && user.type !== 'player') || !user
    li.list-group-item.addon-row(
        data-addon-id=addon.id
        data-available_to_player=addon.available_to_player
        data-available_to_staff=addon.available_to_staff
        data-charge_player=addon.charge_player
        data-charge_staff=addon.charge_staff
    )
        input(type='hidden' value=addon.id name=`attendance[addons][${addon.id}][addon_id]`)
        input(type='hidden' value=attendance_addon.id name=`attendance[addons][${addon.id}][id]`)
        if attendance_addon.paid
            input(type='hidden' value='on' name=`attendance[addons][${addon.id}][selected]`)

        input.form-check-input.me-1(
            type="checkbox"
            name=`attendance[addons][${addon.id}][selected]`
            id=`attendance_addons_${addon.id}`
            disabled=attendance_addon.paid?'true':null
            checked=attendance_addon.id
        )
        label.form-check-label(for=`attendance_addons_${addon.id}`)
            strong #{addon.name}

            span.paid-cost.ms-2(style=showCost?'':'display:none')
                | $#{addon.cost}
        span.paid-badge.float-end(style=showCost?'':'display:none')
            if (checkPermission('gm'))
                span
                    .form-check.form-switch
                        input.form-check-input.me-1(
                            type="checkbox"
                            name=`attendance[addons][${addon.id}][paid]`
                            id=`attendance_addons_${addon.id}_paid`
                            checked=attendance_addon.paid
                            disabled=attendance_addon.paid_by_order
                        )
                        label.form-check-label(
                            for=`attendance_addons_${addon.id}_paid`
                        ) Paid
                        if attendance_addon.paid_by_order && attendance_addon.paid_by_order !== attendance.paid_by_order
                            a.ms-2(href=`/order/${attendance_addon.paid_by_order}?backto=all`) Order ##{attendance_addon.paid_by_order}

            else
                if attendance_addon.paid
                    .badge.text-bg-success Paid
                else
                    .badge.text-bg-danger Unpaid

mixin attendanceTable(attendances)
    .table-responsive.my-2
        .col-sm-6.offset-sm-3.text-center.table-loading
            .spinner-border.m-5(role="status" style="width: 3rem; height: 3rem;")
                .visually-hidden Table is Loading
        table.table.data-table.my-3.dt-responsive.nowrap.table-sm.w-100(
            data-order='[[2, "desc"]]'
            style="display: none"
            )
            thead
                tr
                    th
                    th Event
                    th Date
                    th Status
                    th Checked In
                    th


            tbody
                for attendance in attendances
                    - const pastEvent = (new Date(attendance.event.start_time) < new Date())
                    tr
                        td.dtr-control
                        td
                            a.action-btn(href=`/event/${attendance.event.id}`)= attendance.event.name
                        td(data-sort=(new Date(attendance.event.start_time)).getTime())
                            +eventDate(attendance.event.start_time, attendance.event.end_time)
                            if pastEvent
                                .badge.text-bg-info.ms-2 Past Event
                        td
                            if !attendance.attending
                                .badge.text-bg-info Not Attending
                            else if attendance.user.type === 'player' && attendance.event.cost
                                if attendance.paid
                                    .badge.text-bg-success Paid
                                else
                                    .badge.text-bg-danger Unpaid
                            else if pastEvent
                                .badge.text-bg-success Attended
                            else
                                .badge.text-bg-success Attending

                        td
                            if attendance.checked_in
                                .badge.text-bg-success Yes
                            else if attendance.attending
                                .badge.text-bg-danger No
                        td.text-end
                            if attendance.attending && !pastEvent
                                a.btn.btn-outline-info.btn-xs.action-btn.me-1(
                                    role="button",
                                    title="View/Edit Registration"
                                    data-bs-toggle="tooltip"
                                    href=`/event/${attendance.event_id}/register/${attendance.id}`
                                )
                                    i.fas.fa-edit.fa-fw.me-1
                                    | Edit Registration
                            if checkPermission('gm') && !pastEvent
                                a.btn.btn-outline-danger.btn-xs.delete-btn(
                                    role="button",
                                    title=type==='not attending'?"Remove Not-Attending Record":"Delete Registration"
                                    data-bs-toggle="tooltip"
                                    data-csrf=csrfToken
                                    url=`/event/${attendance.event_id}/register/${attendance.id}`
                                )
                                    i.fas.fa-trash.fa-fw

