mixin imageModal()
    .modal.fade#imageModal(role="dialog" tabindex="-1" aria-labelledby="popupModalLabel" aria-hidden="true")
        .modal-dialog.modal-xl.modal-dialog-centered(role="document")
            .modal-content
                .modal-header
                    h5.modal-title
                    button.btn-close#dismissPopupModal(type="button", data-bs-dismiss="modal" area-label="Close")
                .modal-body
                    image.img-fluid.mx-auto.d-block.image-container(style='max-height:75vh')
                .modal-footer
                    button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Close

mixin imageUploadField(label, fieldId, name, current, options={})
    .image-field-container
        label.control-label(for=id)=label
            if options.required
                span.ms-1.text-danger *
            if options.showDaysBefore && options.daysBefore
                span.ms-1 ( #{options.daysBefore} Days Before )

        if options.description
            .form-text!=marked.parseInline(options.description, {breaks:true})
        input.image_id-field(
            id=fieldId
            type='hidden'
            value=current?current.id:null
            name=name
        )
        .existing-image(
            style=current?'':'display:none'
        )
            .row.my-1
                .col-md-4
                    a.btn.clear-image-btn.btn-outline-danger
                        i.fa.fa-trash.me-2
                        | Remove Image
                    div.p-2
                        | Size: #{current.width}x#{current.height}px

                .col-md
                    image.img-fluid.image-container.d-block.rounded(
                        style=`max-height:${options.size?options.size:100}px`
                        src=current?current.thumbnailUrl:null
                    )
        .new-image(
            style=current?'display:none':''
        )
            input.form-control.image-file-picker(
                id=`${fieldId}_picker`
                type="file"
                required=options.required
                data-isrequired=options.required
                disabled=options.disabled
                data-immediate=options.immediate
            )
            .row.my-2.image-details-row(style='display:none')
                .col.upload-type
                .col.upload-size

        .image-upload-progress.progress(
                role="progressbar"
                aria-label="Upload Progress"
                aria-valuenow="0"
                aria-valuemin="0"
                aria-valuemax="100"
                style="display:none"
            )
                .progress-bar(style="width: 0%")
                    .progress-bar-label
        .col-sm-6.offset-sm-3.text-center.image-saving(style="display:none")
            .spinner-border.m-3(role="status" style="width: 2rem; height: 2rem;")
                .visually-hidden Saving Image

append scripts
    script.
        $(function(){
            $('.img-display-btn').on('click', showImage);
        });

        function showImage(e){
            e.preventDefault();
            e.stopPropagation();
            const $this = $(this);
            const imageUrl = $this.data('imageurl');
            const imageName = $this.data('imagename');

            const $modal = $('#imageModal');

            $modal.find('.modal-title').text(imageName);
            $modal.find('.modal-body').find('.image-container').attr('src', imageUrl);
            $modal.modal('show');

            $modal.on('hidden.bs.modal', function(e){
                $modal.modal('dispose');
            });
        }
