mixin allRulebooks(rulebooks)
    ul.list-unstyled
        each rulebook in rulebooks
            li
                if rulebook.length > 1
                    h6= capitalize(rulebook.name)
                +rulebook(rulebook.rulebook)

mixin rulebook(rulebook, depth=0)
    ul.list-unstyled
        - const files = rulebook.files.sort((a, b) => { return a.name.localeCompare(b.name) })
        each file in files
            if file.mimeType === 'application/vnd.google-apps.shortcut'
                - continue
            -
                let icon = "fa-file-alt"
                let url = `https://docs.google.com/document/d/${file.id}`
                if (file.mimeType === 'application/vnd.google-apps.spreadsheet'){
                    icon = "fa-table"
                    url = `https://docs.google.com/spreadsheets/d/${file.id}`
                }
            li(style=`padding-left: ${10*depth}px`)
                a(target="_blank" href=url )
                    i.fa.me-1(class=icon)
                    = file.name
        - const children = rulebook.children.sort((a, b) => { return a.name.localeCompare(b.name) })
        each child, idx in children
            li(style=`padding-left: ${10*depth}px;`)
                a(target="_blank" href=`https://drive.google.com/drive/folders/${child.id}`)
                    i.fab.fa-google-drive.me-1
                    span(style="font-size:1.05rem;")= child.name
                span.float-end(id=`rulebook-${child.id}-heading` for=`rulebook-${child.id}`, data-bs-toggle="collapse" data-bs-target=`#rulebook-${child.id}` aria-expanded="false")
                    button.btn.btn-xs.btn-outline-primary.expand-text-shown.px-0
                        i.fa.fa-minus.fa-fw.me-0
                    button.btn.btn-xs.btn-outline-primary.expand-text.px-0
                        i.fa.fa-plus.fa-fw.me-0
                .collapse(id=`rulebook-${child.id}` aria-labeledby=`rulebook-${child.id}-heading`)
                    +rulebook(child, depth+1)

