mixin sceneLocationInput(location, request_status, schedule_status)
    li.list-group-item.location-input(
        data-multiple=location.multiple_scenes?'true':'false'
        data-combat=location.combat?'true':'false'
    )
        .row.mb-2
            .col.px-1
                if schedule_status !== 'unscheduled'
                    .float-end
                        +sceneItemScheduleBadge(schedule_status)
                -
                    let iconClass = '';
                    if (schedule_status === 'suggested') { iconClass = 'text-warning'; }
                    if (schedule_status === 'confirmed') { iconClass = 'text-success'; }
                i.fas.fa-map-marker-alt.me-1(class=iconClass)
                strong.me-1= location.name
                +locationTags(location)


        .row.my-1
            .col.px-1
                if !schedule_status || schedule_status=== 'unscheduled'
                    select.form-select.form-select-sm.complex-select2(name=`scene[locations][id-${location.id}]`)
                        +sceneStatusRequestOptions(request_status)
                else
                    input(type='hidden' name=`scene[locations][id-${location.id}]` value=request_status)
                    +sceneItemRequestText(request_status)


mixin locationTags(location)
    if location.id !== 'busy'
        if location.combat
            .badge.text-bg-primary.me-1 Combat
        else
            .badge.text-bg-primary.me-1 Non-Combat

    if location.multiple_scenes
        .badge.text-bg-primary.mx-1 Multiple

    .float-end
        each tag in location.tags
            .badge.text-bg-info.mx-1=tag.name

mixin sceneTimeslotInput(timeslot, request_status, schedule_status)
    li.list-group-item.timeslot-input(data-type=timeslot.type)
        .row
            .col-md-7.px-1
                span.align-middle
                    +timeslotName(timeslot, false, schedule_status)

            .col.px-1
                if !schedule_status || schedule_status=== 'unscheduled'
                    select.form-select.form-select-sm.complex-select2(name=`scene[timeslots][id-${timeslot.id}]`)
                        +sceneStatusRequestOptions(request_status)
                else
                    input(type='hidden' name=`scene[timeslots][id-${timeslot.id}]` value=request_status)
                    +sceneItemRequestText(request_status)
                    .float-end
                        +sceneItemScheduleBadge(schedule_status)


mixin timeslotName(timeslot, showTags=false, schedule_status='unscheduled')
    -
        let iconClass = '';
        if (schedule_status === 'suggested') { iconClass = 'text-warning'; }
        if (schedule_status === 'confirmed') { iconClass = 'text-success'; }
    case timeslot.type
        when 'meal'
            i.fas.fa-utensils.fa-fw.me-1(class=iconClass)
        when 'special'
            i.fas.fa-clock.fa-fw.me-1(class=iconClass)
        default
            i.far.fa-clock.fa-fw.me-1(class=iconClass)
    strong= timeslot.name
    if tags && timeslot.type !== 'regular'
        .badge.text-bg-primary.ms-2=capitalize(timeslot.type)

mixin sceneUserInput(user, request_status, schedule_status)
    li.list-group-item.scene-user(id=`scene-user-${user.id}`)
        .row
            .col-md-7
                -
                    let iconClass = '';
                    if (schedule_status === 'suggested') { iconClass = 'text-warning'; }
                    if (schedule_status === 'confirmed') { iconClass = 'text-success'; }
                i.far.fa-user.me-1.align-middle(class=iconClass)
                strong.align-middle.user-name= user.name
                .badge.text-bg-primary.ms-2.user-type(style=user.type==='player'?'display:none':'')=capitalize(user.typeForDisplay)

            .col.px-1
                if !schedule_status || schedule_status=== 'unscheduled'

                    select.form-select.form-select-sm.scene-status-select(
                        class=user.id!=='new'?'complex-select2':''
                        name=`scene[users][id-${user.id}]`
                        id=`scene-users-${user.type}-${user.id}`
                    )
                        +sceneStatusRequestOptions(request_status)
                else
                    input(type='hidden' name=`scene[users][id-${user.id}]` value=request_status)

                    +sceneItemRequestText(request_status)
                    .float-end
                        +sceneItemScheduleBadge(schedule_status)

mixin sceneSourceInput(source, request_status, schedule_status)
    li.list-group-item.scene-source(id=`scene-source-${source.id}`)
        .row
            .col-md-7
                -
                    let iconClass = '';
                    if (schedule_status === 'suggested') { iconClass = 'text-warning'; }
                    if (schedule_status === 'confirmed') { iconClass = 'text-success'; }
                i.far.fa-id-card.me-1.align-middle(class=iconClass)
                strong.align-middle.source-name= source.name
                .badge.text-bg-primary.ms-2.source-type=capitalize(source.type.name)

            .col.px-1
                if !schedule_status || schedule_status=== 'unscheduled'
                    select.form-select.form-select-sm.scene-status-select(
                        class=source.id!=='new'?'complex-select2':''
                        name=`scene[sources][id-${source.id}]`
                        id=`scene-sources-${source.id}`
                    )
                        +sceneStatusRequestOptions(request_status)
                else
                    input(type='hidden' name=`scene[sources][id-${source.id}]` value=request_status)

                    +sceneItemRequestText(request_status)
                    .float-end
                        +sceneItemScheduleBadge(schedule_status)

mixin sceneSkillInput(skill, request_status, schedule_status)
    li.list-group-item.scene-skill(id=`scene-skill-${skill.id}`)
        .row
            .col-md-7
                -
                    let iconClass = '';
                    if (schedule_status === 'suggested') { iconClass = 'text-warning'; }
                    if (schedule_status === 'confirmed') { iconClass = 'text-success'; }
                i.fas.fa-scroll.me-1.align-middle(class=iconClass)
                strong.align-middle.skill-name= skill.name
                .badge.text-bg-primary.ms-2.skill-source=skill.source.name

            .col.px-1
                if !schedule_status || schedule_status=== 'unscheduled'
                    select.form-select.form-select-sm.scene-status-select(
                        class=skill.id!=='new'?'complex-select2':''
                        name=`scene[skills][id-${skill.id}]`
                        id=`scene-skills-${skill.id}`
                    )
                        +sceneStatusRequestOptions(request_status)
                else
                    input(type='hidden' name=`scene[skills][id-${skill.id}]` value=request_status)

                    +sceneItemRequestText(request_status)
                    .float-end
                        +sceneItemScheduleBadge(schedule_status)

mixin sceneItemRequestText(request_status)
    case request_status
        when 'requested'
            span.text-info Requested
        when 'required'
            span.text-primary Required
        when 'rejected'
            span.text-danger Rejected
        default
            span.text-dark None

mixin sceneItemScheduleBadge(schedule_status)
    case schedule_status
        when 'unscheduled'
            .badge.text-bg-dark Unscheduled
        when 'suggested'
            .badge.text-bg-warning Suggested
        when 'confirmed'
            .badge.text-bg-success Confirmed

mixin sceneStatusRequestOptions(status)
    each value in ['none', 'requested', 'required', 'rejected']
        -
            let badgeClass = 'dark';
            switch (value){
                case 'requested': badgeClass = 'info'; break;
                case 'required': badgeClass = 'primary'; break;
                case 'rejected': badgeClass = 'danger'; break;
            }
        option(
            value=value
            selected=value===status
            data-text=`<span class="text-${badgeClass}">${capitalize(value)}</span>`
            data-html=`<span class="text-${badgeClass}">${capitalize(value)}</span>`
            )= capitalize(value)

mixin sceneStatusBadge(status)
    case status
        when 'requested'
            .badge.text-bg-info.mx-1 Requested
        when 'required'
            .badge.text-bg-primary.mx-1 Required
        when 'suggested'
            .badge.text-bg-warning.mx-1 Suggested
        when 'confirmed'
            .badge.text-bg-success.mx-1 Confirmed
        when 'rejected'
            .badge.text-bg-danger.mx-1 Rejected
        when 'scheduled'
            .badge.text-bg-warning.mx-1 Scheduled
        when 'ready'
            .badge.text-bg-info.mx-1 Ready
        when 'new'
            .badge.text-bg-dark.mx-1 New
        when 'postponed'
            .badge.text-bg-danger.mx-1 Postponed

mixin sceneTable(scenes)
    .table-responsive
        .col-sm-6.offset-sm-3.text-center.table-loading
            .spinner-border.m-5(role="status" style="width: 3rem; height: 3rem;")
                .visually-hidden Table is Loading

        table.table.table-striped.data-table.table-hover.my-3.dt-responsive.nowrap.table-sm.w-100.scene-table(
            style="display: none"
            )
            thead
                tr
                    th
                    th Event
                    th(data-priority="1") Name
                    th Status
                    th Timeslot
                    th Location
                    th Players
                    th Staff
                    th


            tbody
                for scene in scenes
                    -
                        const timeslotsConfirmed = scene.timeslots.filter(timeslot => {
                            return timeslot.scene_schedule_status === 'confirmed'
                        });
                        const timeslotsSuggested = scene.timeslots.filter(timeslot => {
                            return timeslot.scene_schedule_status === 'suggested'
                        });
                        const locationsConfirmed = scene.locations.filter(location => {
                            return location.scene_schedule_status === 'confirmed'
                        });
                        const locationsSuggested = scene.locations.filter(location => {
                            return location.scene_schedule_status === 'suggested'
                        });
                        const players = scene.users.filter(user => {
                            return user.scene_schedule_status === 'confirmed' && user.type === 'player'
                        });
                        const staff = scene.users.filter(user => {
                            return user.scene_schedule_status === 'confirmed' && user.type !== 'player'
                        });
                    tr(class='clickable-row', data-click-object='scene' data-click-id=scene.id)
                        td.dtr-control
                        td
                            if scene.event
                                a.action-btn(href=`/event/${scene.event.id}`)
                                    i.far.fa-calendar.me-1
                                    = scene.event.name
                            else
                                i Unassigned
                        td= scene.name
                        td
                            +sceneStatusBadge(scene.status)
                        td
                            if timeslotsConfirmed.length
                                = (_.pluck(timeslotsConfirmed, 'name')).join(', ')
                                i.far.fa-question-check.text-success.ms-1(title="Confirmed" data-bs-toggle='tooltip')
                                if timeslotsConfirmed.length !== scene.timeslot_count
                                    span.ms-1 (#{scene.timeslot_count} Requested)
                            else if timeslotsSuggested.length
                                = (_.pluck(timeslotsSuggested, 'name')).join(', ')
                                i.far.fa-question-circle.text-warning.ms-1(title="Suggested" data-bs-toggle='tooltip')
                                if timeslotsSuggested.length !== scene.timeslot_count
                                    span.ms-1 (#{scene.timeslot_count} Requested)
                            else
                                | #{scene.timeslot_count} Requested

                        td
                            if locationsConfirmed.length
                                = (_.pluck(locationsConfirmed, 'name')).join(', ')
                                i.far.fa-question-check.text-success.ms-1(title="Confirmed" data-bs-toggle='tooltip')
                                if locationsConfirmed.length !== scene.locations_count
                                    span.ms-1 (#{scene.locations_count} Requested)
                            else if locationsSuggested.length
                                = (_.pluck(locationsSuggested, 'name')).join(', ')
                                i.far.fa-question-circle.text-warning.ms-1(title="Suggested" data-bs-toggle='tooltip')
                                if locationsSuggested.length !== scene.locations_count
                                    span.ms-1 (#{scene.locations_count} Requested)
                            else
                                | #{scene.locations_count} Requested
                        td #{scene.player_count_min} - #{scene.player_count_max} (#{players.length})
                        td #{scene.staff_count_min} - #{scene.staff_count_max} (#{staff.length})
                        td.text-end
                            a.btn.btn-outline-info.btn-xs.action-btn.mx-1(
                                href=`/scene/${scene.id}/edit?backto=list`
                                title='Edit Scene'
                                data-bs-toggle='tooltip'
                            )
                                i.fas.fa-edit.fa-fw

                            a.btn.btn-outline-danger.btn-xs.delete-btn.mx-1(
                                role="button",
                                url=`/scene/${scene.id}`,
                                data-back='/scene'
                                title='Delete Scene'
                                data-bs-toggle='tooltip'
                            )
                                i.fas.fa-trash.fa-fw
