
mixin customSurveyFieldInput(namePrefix, idPrefix, field, currentValue, isStaff, options={})
    - const disabled = (!isStaff && field.editable_by ==='gm') || options.disabled
    div.custom-event-field(
        data-visible_to=field.visible_to?field.visible_to:'all'
        data-editable_by=field.editable_by?field.editable_by:'submitter'
    )
        case field.type
            when 'text'
                label.control-label(for=`${idPrefix}_${field.id}`)= field.name
                    if field.required
                        span.ms-1.text-danger *
                if field.description
                    .form-text!=marked.parseInline(field.description, {breaks:true})

                input.form-control( id=`${idPrefix}_${field.id}` type="text" name=`${namePrefix}[${field.id}]` value=currentValue required=field.required data-isrequired=field.required disabled=disabled)

            when 'longtext'
                if options.disabled
                    label.control-label(for=`${idPrefix}_${field.id}`)= field.name
                    if field.description
                        .form-text!=marked.parseInline(field.description, {breaks:true})
                    .text-bg-light.border.rounded.p-2
                        != marked.parseInline(currentValue, {breaks:true})
                else
                    -
                        const rows = field.rows?Number(field.rows):3;
                        const height = rows * 24;

                    +markdownEditor(field.name, `${idPrefix}_${field.id}`, `${namePrefix}[${field.id}]`, rows, height, currentValue, false, {required:field.required, disabled:disabled, maxlength:field.maxlength, description:field.description})

            when 'boolean'
                .form-check.form-switch
                    input.form-check-input(type="checkbox" id=`${idPrefix}_${field.id}` name=`${namePrefix}[${field.id}]` checked=currentValue disabled=disabled)
                    if field.description
                        .form-text!=marked.parseInline(field.description, {breaks:true})

                    label.form-check-label(for=`${idPrefix}_${field.id}`)= field.name

            when 'dropdown'
                label.control-label(for=`${idPrefix}_${field.id}`)= field.name
                    if field.required
                        span.ms-1.text-danger *
                if field.description
                    .form-text!=marked.parseInline(field.description, {breaks:true})

                select.form-select.select2(id=`${idPrefix}_${field.id}` name=`${namePrefix}[${field.id}]` data-placeholder=field.placeholder required=field.required data-isrequired=field.required disabled=disabled)
                    if field.placeholder
                        option
                    for item of field.options
                        option(value=item selected=item===currentValue)= item

            when 'text content'
                != marked.parseInline(field.content, {breaks:true})

mixin customSurveyFieldDisplay(field, value)
    h5= field.name
    .card.text-bg-light.ms-md-4
        .card-body.p-2
            case field.type
                when 'text'
                    != marked.parseInline(value, {breaks:false})
                when 'longtext'
                    != marked.parseInline(value, {breaks:true})
                when 'dropdown'
                    = value
                when 'boolean'
                    =value?'Yes':'No'

mixin surveyDefinitionHeader()
    .row.my-2#survey_field-header-row
        .col-lg
            h4 Survey Fields
        .col-lg.text-end
            button.btn.btn-sm.btn-outline-success.add-survey_field-btn
                i.fa.fa-plus.me-1
                | Add Field

mixin surveyDefinitionFooter(show)
    .row.my-2#survey_field-footer-row(style=show?'':'display:none')
        .col-lg.text-end
            .border-top.border-2.pt-2.px-2
                button.btn.btn-sm.btn-outline-success.add-survey_field-btn
                    i.fa.fa-plus.me-1
                    | Add Field

mixin surveyField(field,  idx)
    .survey_field-row.border-top.border-start.border-2.my-1.px-2(id=`survey_field-${idx}` )
        - console.log(field)
        input.sort-order.survey_field-input(
            type='hidden'
            id=`survey_field_${idx}_sort_order`
            name=`survey[definition][${idx}][sort_order]`
            value=idx
            data-fieldtype='sort_order'
        )
        input.survey_field-input(
            type='hidden'
            id=`survey_field_${idx}_id`
            name=`survey[definition][${idx}][id]`
            value=field.id
            data-fieldtype='id'
        )
        .row.my-2
            .col-lg-4
                label.control-label.survey_field-label.handle(
                    style='cursor:ns-resize'
                    for=`survey_field_${idx}_name`
                    data-fieldtype='name'
                )
                    i.fas.fa-arrows-alt-v.fa-fw.me-2
                    | Name
                .ms-4
                    input.form-control.survey_field-input.me-2(
                        type="text",
                        placeholder="Name"
                        name=`survey[definition][${idx}][name]`
                        value=field.name
                        id=`survey_field_${idx}_name`
                        data-fieldtype='name'
                        data-required="true"
                    )
            .col-lg-3
                label.control-label.survey_field-label(
                    for=`survey_field_${idx}_icon`
                    data-fieldtype='icon'
                ) Icon
                input.form-control.survey_field-input(
                    type="text"
                    placeholder="Icon"
                    name=`survey[definition][${idx}][icon]`
                    value=field.icon
                    id=`survey_field_${idx}_icon`
                    data-fieldtype='icon'
                )

            .col-lg-2
                label.control-label.survey_field-label(
                    for=`survey_field_${idx}_type`
                    data-fieldtype='type'
                ) Type
                select.form-select.survey_field-input.survey_field-type(
                    name=`survey[definition][${idx}][type]`
                    id=`survey_field_${idx}_name`
                    data-fieldtype='type'
                    data-required="true"
                    data-placeholder='Type'
                )
                    option
                    each type in ['text', 'longtext', 'boolean', 'dropdown', 'text content']
                        option(value=type selected=type===field.type)= type

            .col-lg-3.text-end.align-bottom
                button.btn.btn-sm.btn-outline-success.add-description-btn.align-bottom.me-1(data-bs-toggle="tooltip" title='Add Description' data-placement="right")
                    i.fas.fa-plus.fa-fw.me-1
                    | Description
                button.btn.btn-sm.btn-outline-danger.remove-survey_field-btn.align-bottom(data-bs-toggle="tooltip" title='Remove Field' data-placement="right")
                    i.fas.fa-trash.fa-fw.me-1
                    | Remove
        .row.my-2.field-description.ps-4
             .col-lg

                label.control-label.mb-0.d-inline(for=`survey_field_${idx}_description`)= Description
                    small.form-text.text-muted.d-inline Supports
                        a.ms-1(href='https://commonmark.org/help/' target='_blank') Markdown
                            i.fas.fa-external-link-alt.ms-1
                textarea.form-control.markdown-editor.survey_field-input(
                    id= `survey_field_${idx}_description`
                    rows=3
                    name=`survey[definition][${idx}][description]`
                    data-size= size
                    data-fieldtype='description'
                )
                    = field.description

        .row.my-2.field-options.ps-4
            .col-lg-2
                label.control-label.survey_field-label(
                    for=`survey_field_${idx}_visible_to`
                    data-fieldtype='visible_to'
                ) Visible To
                select.form-select.form-select-sm.survey_field-input(
                    name=`survey[definition][${idx}][visible_to]`
                    id=`survey_field_${idx}_visible_to`
                    data-fieldtype='visible_to'
                )
                    - field.visible_to ||= 'all';
                    each visibility in ['all', 'player', 'staff']
                        option(value=visibility selected=visibility===field.visible_to)= visibility
            .col-lg-2
                label.control-label.survey_field-label(
                    for=`survey_field_${idx}_editable_by`
                    data-fieldtype='editable_by'
                ) Editable By
                select.form-select.form-select-sm.survey_field-input.survey_field-editable_by(
                    name=`survey[definition][${idx}][editable_by]`
                    id=`survey_field_${idx}_editable_by`
                    data-fieldtype='editable_by'
                )
                    - field.editable_by ||= 'submitter';
                    each editablity in ['submitter', 'gm']
                        option(value=editablity selected=editablity===field.editable_by)= editablity
            .col-lg-4
                label.control-label Options
                br
                .form-check.form-switch.form-check-inline
                    input.form-check-input.survey_field-input.survey_field-required(
                        type='checkbox'
                        name=`survey[definition][${idx}][required]`
                        id=`survey_field_${idx}_required`
                        data-fieldtype='required'
                        checked=field.required
                    )
                    label.form-check-label(
                        for=`survey_field_${idx}_required`
                        data-fieldtype='required'
                    ) Required

                .form-check.form-switch.form-check-inline.survey_field-input
                    input.form-check-input.survey_field-input.survey_field-on_checkin(
                        type='checkbox'
                        name=`survey[definition][${idx}][on_checkin]`
                        id=`survey_field_${idx}_on_checkin`
                        data-fieldtype='on_checkin'
                        checked=field.on_checkin
                    )
                    label.form-check-label(
                        for=`survey_field_${idx}_on_checkin`
                        data-fieldtype='on_checkin'
                    ) On Check-in Form

            .col-lg-2.textarea-options.survey_field-type-options
                label.control-label.survey_field-label(
                    for=`survey_field_${idx}_rows`
                    data-fieldtype='rows'
                ) Rows
                - field.rows ||= 3
                input.form-control.survey_field-input.form-control-sm(
                    type="number",
                    placeholder="Rows"
                    name=`survey[definition][${idx}][rows]`
                    value=field.rows
                    id=`survey_field_${idx}_rows`
                    data-fieldtype='rows'
                )
            .col-lg-2.textarea-options.survey_field-type-options
                label.control-label.survey_field-label(
                    for=`survey_field_${idx}_maxlength`
                    data-fieldtype='maxlength'
                ) Max Length
                input.form-control.survey_field-input.form-control-sm(
                    type="number",
                    placeholder="Unlimited"
                    name=`survey[definition][${idx}][maxlength]`
                    value=field.maxlength
                    id=`survey_field_${idx}_maxlength`
                    data-fieldtype='maxlength'
                )

        .row.my-2.dropdown-options.survey_field-type-options.ps-4
            .col-lg-8
                label.control-label.survey_field-label(
                    for=`survey_field_${idx}_options`
                    data-fieldtype='options'
                ) Options (comma seperated)
                input.form-control.survey_field-input.form-control-sm(
                    type="text",
                    placeholder="Option 1, Option 2"
                    name=`survey[definition][${idx}][options]`
                    value=field.options?field.options.join(', '):''
                    id=`survey_field_${idx}_options`
                    data-fieldtype='options'
                )
            .col-lg-4
                label.control-label.survey_field-label(
                    for=`survey_field_${idx}_placeholder`
                    data-fieldtype='placeholder'
                ) Placeholder
                input.form-control.survey_field-input.form-control-sm(
                    type="text",
                    placeholder="Placeholder Text"
                    name=`survey[definition][${idx}][placeholder]`
                    value=field.placeholder
                    id=`survey_field_${idx}_placeholder`
                    data-fieldtype='placeholder'
                )
        .row.my-2.markdown-options.survey_field-type-options.ps-4
            .col-lg
                label.control-label.mb-0.d-inline(for=`survey_field_${idx}_content`)= Content
                    small.form-text.text-muted.d-inline Supports
                        a.ms-1(href='https://commonmark.org/help/' target='_blank') Markdown
                            i.fas.fa-external-link-alt.ms-1
                textarea.form-control.markdown-editor.survey_field-input(
                    id= `survey_field_${idx}_content`
                    rows=3
                    name=`survey[definition][${idx}][content]`
                    data-size= size
                    data-fieldtype='content'
                )
                    = field.content




