extends ../layout

include ../partials/glossary

block content
    h2.d-inline.align-middle Glossary - #{glossary_entry.name}
    for tag in glossary_entry.tags
        a(href=`/glossary/tag/${tag.id}/${tag.name}`)
            h2.badge.text-bg-info.mx-1= tag.name
    if checkPermission('gm')
        a.btn.btn-sm.btn-outline-info.ms-2(href=`/glossary/${glossary_entry.id}/edit`)
            i.fas.fa-edit.me-1
            | Edit
        .float-end.text-end.d-inline
            if glossary_entry.status
                h1.badge.badge-pill.skill-status(class=`text-bg-${glossary_entry.status.class}`)
                    = capitalize(glossary_entry.status.name)

    .glossary-entry-body !{glossary_entry.content.entry}

    
