extends layout

include ./partials/rulebook
include ./partials/character
include ./partials/event


append content
    if currentCampaign.default_site || !activeUser
        .row
            .col-lg
                h1.display-2=currentCampaign.name

                div !{marked.parse(currentCampaign.description,  {breaks: true})}
            if currentCampaign.image
                .col-lg-4.d-none.d-lg-block
                    if mapCount && (currentCampaign.display_map === 'public' || (currentCampaign.display_map === 'private' && checkPermission('player')))
                        a(href='/map')
                            img.rounded.img-fluid(src=currentCampaign.image.upload.url)
                    else
                        img.rounded.img-fluid(src=currentCampaign.image.upload.url)
    else
        .row.my-2
            .col
                h1.display-4
                    if currentCampaign.image
                        if mapCount && (currentCampaign.display_map === 'public' || (currentCampaign.display_map === 'private' && checkPermission('player')))
                            a(href='/map')
                                img.rounded.img-fluid.me-2(src=currentCampaign.image.thumbnailUrl style="max-height:100px")
                        else
                            img.rounded.img-fluid.me-2(src=currentCampaign.image.thumbnailUrl style="max-height:100px")
                        =currentCampaign.name
        .row.my-2
            .col-lg-5
                if showTasks
                    h3 Tasks
                    .list-group.mb-2.mb-3
                        if currentCampaign.schedule_user_id === activeUser.id
                            a.list-group-item.list-group-item-danger
                                i.fas.fa-calendar.me-1.fa-fw
                                | Scheduling Reserved
                                button.btn.btn-xs.btn-danger.float-end#release-schedule-lock-btn(
                                    role="button"
                                    data-bs-toggle="tooltip"
                                    title="Release lock on Scheduling"
                                    data-csrf=csrfToken
                                )
                                    i.fa.fa-lock-open.me-1
                                    | Release

                        if checkPermission('gm, cp_grant') && pending_cp_grants && currentCampaign.display_cp
                            a.list-group-item.list-group-item-action(href='/cp_grant')
                                i.fas.fa-fw.fa-tasks.me-1
                                | Pending #{currentCampaign.renames.cp.singular} Grants
                                span.badge.text-bg-danger.float-end(data-bs-toggle="tooltip" title='Pending Grants')=pending_cp_grants
                        if post_event_surveys.length
                            each survey in post_event_surveys
                                a.list-group-item.list-group-item-action(
                                    href=`/event/${survey.eventId}/post_event`
                                )
                                    i.fas.fa-fw.fa-tasks.me-1
                                    | #{currentCampaign.renames.post_event_survey.singular} for #{survey.eventName}
                                    if survey.started
                                        span.badge.text-bg-info.float-end Started
                                    else
                                        span.badge.text-bg-info.float-end New
                        if currentCampaign.display_gallery && !activeUser.image_id
                            a.list-group-item.list-group-item-action(
                                href='user/profile'
                            )
                                i.fas.fa-portrait.fa-fw.me-1
                                | Upload a Photo to your Profile


                if checkPermission('player')
                    h3 Resources
                    .list-group.mb-2
                        -
                            let driveLink = null;
                            if (currentCampaign.player_drive_folder){
                                driveLink = currentCampaign.player_drive_folder;
                            }
                            if (checkPermission('gm') && currentCampaign.staff_drive_folder){
                                driveLink = currentCampaign.staff_drive_folder;
                            } else if (checkPermission('contrib') && currentCampaign.npc_drive_folder){
                                driveLink = currentCampaign.npc_drive_folder
                            }
                        if driveLink
                            a.list-group-item.list-group-item-action(href=driveLink target="_blank")
                                i.fab.fa-fw.fa-google-drive.me-1
                                | Google Drive
                                i.fa.fa-external-link.ms-1
                        - user = activeUser
                        if activeUser.drive_folder
                            a.list-group-item.list-group-item-action(href=user.drive_folder  target="_blank")
                                i.fab.fa-fw.fa-google-drive.me-1
                                | Personal Drive Folder
                                i.fa.fa-external-link.ms-1

                        if checkPermission('gm')
                            if currentCampaign.npc_drive_folder
                                a.list-group-item.list-group-item-action(href=currentCampaign.npc_drive_folder  target="_blank")
                                    i.fab.fa-fw.fa-google-drive.me-1
                                    |  NPC Drive

                                    i.fa.fa-external-link.ms-1
                        if checkPermission('contrib')
                            if currentCampaign.player_drive_folder
                                a.list-group-item.list-group-item-action(href=currentCampaign.player_drive_folder  target="_blank")
                                    i.fab.fa-fw.fa-google-drive.me-1
                                    | Player Drive

                                    i.fa.fa-external-link.ms-1
                        else
                            a.list-group-item.list-group-item-action(href='/skill/doc')
                                i.fas.fa-fw.fa-file-alt.me-1
                                | Skills
                        if currentCampaign.display_glossary === 'public' || (currentCampaign.display_glossary === 'private' && checkPermission('player'))
                            a.list-group-item.list-group-item-action(href='/glossary')
                                    i.fas.fa-fw.fa-book.me-1
                                    | Glossary
                        a.list-group-item.list-group-item-action(href='/character')
                                i.fas.fa-fw.fa-users.me-1
                                | Characters
                        a.list-group-item.list-group-item-action(href='/event')
                                i.fa.fa-fw.fa-calendar.me-1
                                | Events
                        a.list-group-item.list-group-item-action(href='/post_event_survey')
                                i.fa.fa-fw.fa-comment.me-1
                                | #{currentCampaign.renames.post_event_survey.plural}
                        if currentCampaign.display_cp && (cp || checkPermission('gm, cp grant'))
                            a.list-group-item.list-group-item-action(href='/cp_grant')
                                i.fas.fa-hat-wizard.me-1
                                = currentCampaign.renames.character_point.plural
                                if checkPermission('player') && !checkPermission('event')
                                    .badge.text-bg-info.float-end
                                        span=cp.usable
                                        if cp.total > cp.usable
                                            span.ms-1 (#{cp.total})
                                else if pending_cp_grants
                                    .badge.text-bg-danger.float-end
                                        span=pending_cp_grants


                        if rulebooks.length
                            .list-group-item
                                h5 Documents
                                +allRulebooks(rulebooks)

                    if checkPermission('event') && events.length
                        .row.mt-3.mb-2
                            .col
                                a.btn.btn-outline-info.float-end.btn-sm(
                                    href=`https://calendar.google.com/calendar/u/0/r?cid=${activeUser.calendar_url}`
                                    target='_blank'
                                    title='Add to Google Calendar'
                                    data-bs-toggle='tooltip'
                                )
                                    i.fas.fa-calendar-plus
                                h3.d-inline Upcoming Events

                        .list-group.mb-2
                            each event in events
                                a.list-group-item.list-group-item-action(href=`/event/${event.id}`)
                                    +eventListItemStaff(event)

                else
                    p Not currently a player

            .col-lg-7
                if character
                    h3 Character
                    +characterCard(character)
                if characters
                    h3
                        if activeUser.type === 'event staff'
                            | Characters
                        else
                            | Player Characters
                    +characterList(characters)

                if checkPermission('player') && !checkPermission('event')
                    .row.mt-3.mb-2
                        .col
                            a.btn.btn-outline-info.float-end.btn-sm(
                                href=`https://calendar.google.com/calendar/u/0/r?cid=${activeUser.calendar_url}`
                                target='_blank'
                                title='Add to Google Calendar'
                                data-bs-toggle='tooltip'
                            )
                                i.fas.fa-calendar-plus
                            h3.d-inline Upcoming Events
                    .list-group.mb-2
                        each event in events
                            a.list-group-item.list-group-item-action(href=`/event/${event.id}`)
                                +eventListItemPlayer(event)

append scripts
    script(src='/javascripts/index.js')

