extends ../layout
include ../partials/image

block content
    .row.my-2
        .col
            .border.rounded.p-2
                .row.my-1
                    .col
                        h5.my-0 Filter:

                    for type in  _.uniq(_.pluck(_.sortBy(_.values(currentCampaign.user_type_map), 'order'), 'name'))
                        - const typeName = type.replace(/[^\w]/g, '_');
                        .col
                            .form-check.form-switch
                                input.form-check-input.gallery-filter(type="checkbox", id=`gallery-type-filter-${typeName}` checked=type==='player'?true:false data-type=typeName)
                                label.form-check-label(for=`gallery-type-filter-${typeName}`)=capitalize(type)
                .row.my-1
                    .col-auto
                        label.col-form-label(for='gallerySearch')
                            h5.my-0 Search:
                    .col
                        input.form-control#gallerySearch(type="text")

    .row.row-cols-1.row-cols-md-4.pt-2.my-2#resultsContainer
        for user in users
            if user.image
                - const typeName = user.typeForDisplay.replace(/[^\w]/g, '_');
                .col.mb-4.gallery-item(
                    class=`gallery-type-${typeName}`
                    data-name=user.name.toUpperCase()
                    data-type=typeName
                    data-charactername=user.character?user.character.name.toUpperCase():''
                )
                    .card.h-100
                        .card-header.p-2
                            .card-title
                                .badge.text-bg-info.float-end=capitalize(user.typeForDisplay)
                                h5
                                    if user.type === 'player' && user.character
                                        = user.character.name
                                    else
                                        = user.name
                                if user.type === 'player'
                                    h6= user.name

                        .card-body.p-0.text-center.bg-light
                            a.img-display-btn(
                                href=user.image.upload.url
                                target='_blank'
                                role="button"
                                data-imageurl=user.image.upload.url
                                data-imagename=user.name
                            )
                                img.img-fluid(src=user.image.thumbnailUrl alt=user.name)

    .row.my-2#noResults(style='display:none')
        .col.border.rounded.p-4.m-2.text-center
            h5 No Results

    +imageModal()

append scripts
    script(src='/javascripts/gallery.js')
    script.
        $(function(){
            $('[data-bs-toggle="tooltip"]').tooltip({
                delay: { 'show': 300, 'hide': 100 },
                placement:'auto'
            });
        });

