extends ../layout

block content
    a.btn.btn-success.my-2(href='/user/new')
        i.fas.fa-plus
        |  New User
    .table-responsive
        table.table.table-striped.data-table.table-hover.my-3.dt-responsive.nowrap.table-sm
            thead
                tr
                    th
                    th Name
                    th Email
                    th Type
                    th Drive
                    th

            tbody
                for user in users
                    tr.clickable-row(data-click-object='user' data-click-id=user.id)
                        td.dtr-expand
                        td
                            a(href='/user/' + user.id)= user.name
                        td= user.email
                        td= capitalize(user.type)
                        td
                            if user.staff_drive_folder
                                a.btn.btn-outline-primary.btn-xs.action-btn.mx-1(
                                    href=user.staff_drive_folder
                                    target="_blank"
                                    data-bs-toggle="tooltip"
                                    title="Open Player's Staff Folder"
                                )
                                    i.fab.fa-google-drive.me-1
                                    | Staff
                                    i.fa.fa-external-link.ms-1
                            if user.drive_folder
                                a.btn.btn-outline-primary.btn-xs.action-btn.mx-1(
                                    href=user.drive_folder
                                    target="_blank"
                                    data-bs-toggle="tooltip"
                                    title="Open Player's PC Folder"
                                )
                                    i.fab.fa-google-drive.me-1
                                    | Player
                                    i.fa.fa-external-link.ms-1

                        td
                            a.btn.btn-outline-info.btn-xs.action-btn.me-1(
                                role="button",
                                href=`/user/${user.id}/edit?backto=list`
                                data-bs-toggle="tooltip"
                                title="Edit User"
                            )
                                i.fas.fa-edit.fa-fw
                            if !_.has(session, 'assumed_user')
                                a.btn.btn-outline-danger.btn-xs.action-btn(
                                    role="button",
                                    href=`/user/${user.id}/assume`
                                    data-bs-toggle="tooltip"
                                    title="Assume User"
                                )
                                    i.fas.fa-user-secret.fa-fw


append scripts
    script(src='/javascripts/data-table.js')
    script.
        $(function(){
            $('[data-bs-toggle="tooltip"]').tooltip({
                delay: { 'show': 500, 'hide': 100 },
                placement:'auto'
            });
        });

