extends ../layout

block content
    if checkPermission('admin')

        .row
            .col
                a.btn.btn-success.my-2(href='/user/new')
                    i.fas.fa-plus
                    |  New User
    .row
        .col
            span.me-2.form-text Show Types:
            for type in ['admin', 'core staff', 'contributing staff', 'event staff', 'player', 'none']
                .form-check.form-check-inline.form-switch
                    input.form-check-input.user-type-filter(
                        type="checkbox"
                        id=`user-type-filter-${type.replace(/\s+/, '_')}`
                        value=type
                        checked=type!=='none'
                        )
                    label.form-check-label(for=`user-type-filter-${type.replace(/\s+/, '_')}`)=type

    .table-responsive
        table.table.table-striped.data-table.table-hover.my-3.dt-responsive.nowrap.table-sm#user-table
            thead
                tr
                    th
                    th Name
                    th Email
                    th Type
                    if currentCampaign.display_cp
                        th CP
                    th Drive
                    th

            tbody
                for user in users
                    tr.clickable-row(data-click-object='user' data-click-id=user.id data-type=user.type)
                        td.dtr-expand
                        td
                            a(href='/user/' + user.id)= user.name
                            if user.sso_name
                                small.ms-2
                                    i.fab.fa-google
                                    span.ms1 : #{user.sso_name}
                            if user.site_admin
                                .badge.text-bg-success.ms-2 Site Admin
                        td= user.email
                        td= capitalize(user.type)
                        if currentCampaign.display_cp
                            td
                                if user.type === 'player'
                                    span #{user.cp.usable}
                                        if user.cp.total > user.cp.usable
                                            span.ms-1 (#{user.cp.total})
                        td
                            if user.staff_drive_folder
                                a.btn.btn-outline-primary.btn-xs.action-btn.mx-1(
                                    href=user.staff_drive_folder
                                    target="_blank"
                                    data-bs-toggle="tooltip"
                                    title="Open Player's Staff Folder"
                                )
                                    i.fab.fa-google-drive.me-1
                                    | Staff
                                    i.fa.fa-external-link.ms-1
                            if user.drive_folder
                                a.btn.btn-outline-primary.btn-xs.action-btn.mx-1(
                                    href=user.drive_folder
                                    target="_blank"
                                    data-bs-toggle="tooltip"
                                    title="Open Player's PC Folder"
                                )
                                    i.fab.fa-google-drive.me-1
                                    | Player
                                    i.fa.fa-external-link.ms-1

                        td
                            a.btn.btn-outline-info.btn-xs.action-btn.me-1(
                                role="button",
                                href=`/user/${user.id}/edit?backto=list`
                                data-bs-toggle="tooltip"
                                title="Edit User"
                            )
                                i.fas.fa-edit.fa-fw

                            if !_.has(session, 'assumed_user')
                                a.btn.btn-outline-danger.btn-xs.action-btn(
                                    role="button",
                                    href=`/user/${user.id}/assume`
                                    data-bs-toggle="tooltip"
                                    title="Assume User"
                                )
                                    i.fas.fa-user-secret.fa-fw

                            if checkPermission('admin') && user.type === 'none'
                                a.btn.btn-outline-danger.btn-xs.delete-btn.ms-1(
                                    role="button",
                                    data-bs-toggle="tooltip"
                                    title="Remove User"
                                    url=`/user/${user.id}`,
                                    data-back='/user'
                                )
                                    i.fas.fa-trash.fa-fw


append scripts
    script(src='/javascripts/data-table.js')
    script(src='/javascripts/user.js')

