extends ../layout

include ../partials/image

block content
    .row
        .col-sm-8.offset-sm-2
            .card
                .card-header Edit #{currentCampaign.name} Profile for #{user.name}
                .card-body
                    form.form.needs-validation#userForm(method="POST" action="/user/profile" novalidate)
                        input(type="hidden", name="_method",  value="PUT")
                        input(type="hidden", name='_csrf',value=csrfToken)
                        -
                            const tags = user.tags.filter(tag => {
                                return checkPermission('contrib') || tag.display_to_pc
                            })
                        if tags.length
                            .row.my-2
                                .col-md
                                    span.me-2 Tags:
                                    for tag of tags
                                        .badge.text-bg-info.me-2=tag.name
                        .row.my-2
                            .col-md.offset-md-3
                                a.btn.btn-outline-info.btn-sm(
                                    href=`https://calendar.google.com/calendar/u/0/r?cid=${activeUser.calendar_url}`
                                    target='_blank'
                                    title='Add to Google Calendar'
                                    data-bs-toggle='tooltip'
                                )
                                    i.fas.fa-calendar-plus.me-1
                                    | Add Campaign to Google Calendar
                        if currentCampaign.allow_player_dark_mode || checkPermission('event')
                            .row.my-2
                                label.col-md-3.col-form-label(for="user-preferences-dark_mode") Dark Mode
                                .col-md-6
                                    select.form-control.select2#user-preferences-dark_mode(name="user[data][preferences][dark_mode]")
                                        for type in [ 'default', 'on', 'off']
                                            -
                                                let selected = false;
                                                let is_default = false;
                                                if (type === 'default' && user.data.preferences.dark_mode === 'default'){
                                                    selected = true;
                                                } else if (type === 'on' && user.data.preferences.dark_mode === true){
                                                    selected = true;
                                                } else if (type === 'off' && user.data.preferences.dark_mode === false){
                                                    selected = true;
                                                }
                                                if (type === 'on' && currentCampaign.theme_dark_mode){
                                                    is_default = true;
                                                }
                                                if (type === 'off' && !currentCampaign.theme_dark_mode){
                                                    is_default = true;
                                                }
                                            option(value=type selected=selected) #{capitalize(type)}#{is_default?' (Campaign Default)':''}


                        .row.my-2.mb-3
                            .col-md
                                +imageUploadField('User Image', 'user_image_id', 'user[image_id]', user.image, {
                                    description: `This will be used for an image gallery to help NPCs ${currentCampaign.player_gallery?'and Players':''} identify you.`,
                                    size:200
                                })
                        .row.my-2
                            .col-md
                                button.btn.btn-primary(type="submit")
                                    i.fa.fa-save.me-1.submit-icon
                                    | Save
                                a.btn.btn-link(href="/") Cancel
append scripts
    script(src='/javascripts/image-upload.js')
    script(src='/javascripts/user.js')
    script(src='/javascripts/validator.js')
    script.
        $(function(){
            $('.select2').select2({
                theme:'bootstrap-5',
                minimumResultsForSearch: 6,
                width:'resolve'
            });
        });

