.row.my-2
    .col
        label.control-label(for="skill_source_type_name") Name
        input.form-control(type="text",placeholder="Name",name="skill_source_type[name]",value=skill_source_type.name,id='skill_source_type_name',required)
        div.invalid-feedback Please choose a valid name

.row.my-2
    .col
        label.control-label(for="skill_source_type_num_free") Number of Free Purchases (usually 0 or 1)
        input.form-control(type="number",placeholder="Number",name="skill_source_type[num_free]",value=skill_source_type.num_free,id='skill_source_type_num_free',required)
        div.invalid-feedback Please choose a valid number of purchases

.row.my-2
    .col
        label.control-label(for="skill_source_type_max_sources") Maximum number of Sources from this Source Type (0 or unset for unlimited)
        input.form-control(type="number",placeholder="Number",name="skill_source_type[max_sources]",value=skill_source_type.max_sources,id='skill_source_type_max_sources')

.row.my-2
    .col
        .form-check.form-switch
            input.form-check-input#skill_source_type_display_on_sheet(type="checkbox", name="skill_source_type[display_on_sheet]", checked=skill_source_type.display_on_sheet)
            label.form-check-label(for="skill_source_type_display_on_sheet") Display in list of sources on character sheets
.row.my-2
    .col
        .form-check.form-switch
            input.form-check-input#skill_source_type_display_in_header(type="checkbox", name="skill_source_type[display_in_header]", checked=skill_source_type.display_in_header)
            label.form-check-label(for="skill_source_type_display_in_header") Display in character sheet header

.row.my-2
    .col
        button.btn.btn-primary(type="submit")= skill_source_type.id?'Update':'Create'
        a.btn.btn-link(href="/skill_source_type") Cancel


