mixin menuPages(pages, showDivider)
    if pages
        - const visiblePages = pages.filter(page => { return checkPermission(page.permission)});
        if visiblePages.length
            if showDivider
                hr.dropdown-divider
            each page in visiblePages
                a.dropdown-item(href=`/page/${page.path}`)= page.name

.container

    a.navbar-brand(href='/')= currentCampaign.name
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon

    .collapse.navbar-collapse#navbar
        ul.navbar-nav.me-auto
            li.nav-item
                a.nav-link(href="/" class= siteSection==='home'?"active":null) Home
                    span.visually-hidden (current)

            //- Default Site
            if currentCampaign.default_site
                if checkPermission('admin')
                    li.nav-item.dropdown(class= siteSection==='admin'?"active":null)
                        a.nav-link.dropdown-toggle#adminDropdown(
                            href='#'
                            role='button'
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false") Site Admin
                        .dropdown-menu(aria-labelledby="adminDropdown")
                            a.dropdown-item(href='/user') Users
                            a.dropdown-item(href='/admin/campaign') Campaigns
                            a.dropdown-item(href='/admin/image') Images

            //- Campaign Site
            else
                //- Event+ Character
                if checkPermission('event')
                    li.nav-item.dropdown(class= siteSection==='characters'||_.indexOf(siteSection, 'characters') !== -1 ?"active":null)
                        a.nav-link.dropdown-toggle#gmDropdown(
                            href='#'
                            role='button'
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            class= siteSection==='characters'||_.indexOf(siteSection, 'characters') !== -1 ?"active":null
                            ) Characters
                        .dropdown-menu(aria-labelledby="gmDropdown")
                            if checkPermission('event')
                                if activeUser.type === 'event staff'
                                    a.dropdown-item(href='/skill/doc') Skills
                                else
                                    a.dropdown-item(href='/skill') Skills
                                a.dropdown-item(href='/character') Characters
                                if currentCampaign.display_gallery
                                    a.dropdown-item(href='/user/gallery') Gallery

                            if checkPermission('contrib')
                                if currentCampaign.display_cp && currentCampaign.cp_requests
                                    a.dropdown-item(href='/cp_grant')= currentCampaign.renames.character_point.plural
                                if currentCampaign.display_community_cp
                                    a.dropdown-item(href='/community_cp_grant') Community CP

                                hr.dropdown-divider
                                a.dropdown-item(href='/report/group') Character Group Report
                                a.dropdown-item(href='/report/source') Character Source Report
                                a.dropdown-item(href='/report/skill') Character Skill Report
                                a.dropdown-item(href='/report/custom_field') Custom Field Report
                            +menuPages(menuPages.characters, true)

                //- Player Character Menu
                else
                    -
                        let characterMenuItems = 0
                        if (checkPermission('player')){
                            characterMenuItems++
                        }
                        if (currentCampaign.display_skill_doc === 'public'){
                            characterMenuItems++;
                        }
                        if (menuPages.characters){
                            const visiblePages = menuPages.characters.filter(page => { return checkPermission(page.permission)});
                            if (visiblePages.length){
                                characterMenuItems++;
                            }
                        }
                    if characterMenuItems
                        li.nav-item.dropdown(class= siteSection==='characters'||_.indexOf(siteSection, 'characters') !== -1 ?"active":null)
                            a.nav-link.dropdown-toggle#gmDropdown(
                                href='#'
                                role='button'
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                                class= siteSection==='characters'||_.indexOf(siteSection, 'characters') !== -1 ?"active":null
                                ) Characters
                            .dropdown-menu(aria-labelledby="gmDropdown")
                                if checkPermission('player') && !checkPermission('event')
                                    if characterCount > 0
                                        a.dropdown-item(href='/character/active') Current Character
                                        a.dropdown-item(href='/character') All Characters
                                    else
                                        a.dropdown-item(href='/character/new') New Character

                                    if currentCampaign.display_cp && currentCampaign.cp_requests
                                        a.dropdown-item(href='/cp_grant')= currentCampaign.renames.character_point.plural
                                    if currentCampaign.display_community_cp
                                        a.dropdown-item(href='/community_cp_grant') Community CP
                                if checkPermission('player') || currentCampaign.display_skill_doc === 'public'
                                    a.dropdown-item(href='/skill/doc') Skills
                                if checkPermission('player') && !checkPermission('event')
                                    if currentCampaign.display_gallery && currentCampaign.player_gallery
                                         a.dropdown-item(href='/user/gallery') Gallery
                                +menuPages(menuPages.characters, characterMenuItems>1)

                //- Events menu
                -
                    let eventMenuItems = 0;
                    if (checkPermission('player')){
                        eventMenuItems++;
                    }
                    if (menuPages.events){
                        const visiblePages = menuPages.events.filter(page => { return checkPermission(page.permission)});
                        if (visiblePages.length){
                            eventMenuItems++;
                        }
                    }

                if eventMenuItems
                    li.nav-item.dropdown(class= siteSection==='events'||_.indexOf(siteSection, 'events') !== -1 ?"active":null)
                        a.nav-link.dropdown-toggle#eventDropdown(
                            href='#'
                            role='button'
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            class= siteSection==='events'||_.indexOf(siteSection, 'events') !== -1 ?"active":null
                            ) Events
                        .dropdown-menu(aria-labelledby="eventDropdown")
                            a.dropdown-item(href='/event') Events
                            a.dropdown-item(href='/post_event_survey') #{currentCampaign.renames?currentCampaign.renames.post_event_survey.plural:'Post Event Surveys'}
                            if checkPermission('gm') && currentCampaign.display_schedule
                                a.dropdown-item(href='/scene') Scenes
                            if checkPermission('gm') && currentCampaign.nextEvent && currentCampaign.schedule_user_id === activeUser.id
                                hr.dropdown-divider
                                a.dropdown-item(href=`/event/${currentCampaign.nextEvent.id}/scheduler`) #{currentCampaign.nextEvent.name} Scheduler

                            +menuPages(menuPages.events, eventMenuItems>1)


                //- Setting Menu
                -
                    let settingMenuItems = 0
                    if (currentCampaign.display_glossary === 'public'){
                        settingMenuItems++;
                    }
                    if (currentCampaign.display_glossary === 'private' && checkPermission('player')){
                        settingMenuItems++;
                    }
                    if (currentCampaign.display_translations && checkPermission('gm')){
                        settingMenuItems++;
                    }
                    if (currentCampaign.display_map === 'public'){
                        settingMenuItems++;
                    }
                    if (currentCampaign.display_map === 'private' && checkPermission('player')){
                        settingMenuItems++;
                    }
                    if (menuPages.setting){
                        const visiblePages = menuPages.setting.filter(page => { return checkPermission(page.permission)});
                        if (visiblePages.length){
                            settingMenuItems++;
                        }
                    }
                if settingMenuItems
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle#settingDropdown(
                            href='#'
                            role='button'
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            class= siteSection==='setting'||_.indexOf(siteSection, 'setting') !== -1?"active":null
                            ) Setting
                        .dropdown-menu(aria-labelledby="settingDropdown")
                            if currentCampaign.display_glossary==='public' || (currentCampaign.display_glossary === 'private' && checkPermission('player'))
                                    a.dropdown-item(href='/glossary') Glossary
                            if currentCampaign.display_map==='public' || (currentCampaign.display_map === 'private' && checkPermission('player'))
                                if checkPermission('contrib')
                                    a.dropdown-item(href='/map/list') Maps
                                else if mapCount
                                    a.dropdown-item(href='/map') #{mapCount > 1?'Maps':'World Map'}
                            if currentCampaign.display_translations && checkPermission('gm')
                                a.dropdown-item(href='/translation') Translations
                            +menuPages(menuPages.setting, settingMenuItems>1)
                -
                    let pagesMenuItems = 0;
                    if (menuPages.pages){
                        const visiblePages = menuPages.pages.filter(page => { return checkPermission(page.permission)});
                        if (visiblePages.length){
                            pagesMenuItems++;
                        }
                    }
                if pagesMenuItems
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle#pagesDropdown(
                            href='#'
                            role='button'
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            class= siteSection==='pages'||_.indexOf(siteSection, 'pages') !== -1?"active":null
                            ) Pages
                        .dropdown-menu(aria-labelledby="pagesDropdown")
                            +menuPages(menuPages.pages, pagesMenuItems>1)

                //- Admin Menu
                if checkPermission('gm, documentation edit, orders view')
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle#adminDropdown(
                            href='#'
                            role='button'
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            class= siteSection==='admin'||_.indexOf(siteSection, 'admin') !== -1?"active":null
                            ) Admin
                        .dropdown-menu(aria-labelledby="adminDropdown")
                            if checkPermission('gm, documentation edit')
                                a.dropdown-item(href='/user') Users
                            if checkPermission('gm')
                                a.dropdown-item(href='/admin/audit') Audits
                                a.dropdown-item(href='/admin/image') Images
                                a.dropdown-item(href='/page') Pages
                                a.dropdown-item(href='/survey') Surveys

                            if currentCampaign.stripe_account_ready && checkPermission('gm, orders view')
                                a.dropdown-item(href="/order/all") All Orders

                            if checkPermission('gm')
                                .dropdown-divider
                                a.dropdown-item(href='/character_field') Character Fields
                            if checkPermission('admin')
                                a.dropdown-item(href='/skill_status') Skill Statuses
                                if currentCampaign.display_glossary
                                    a.dropdown-item(href='/glossary_status') Glossary Statuses
                                .dropdown-divider
                                a.dropdown-item(href=`/admin/campaign/${currentCampaign.id}`) Campaign Configuration

                            +menuPages(menuPages.admin, true)


        //- User Menu
        ul.navbar-nav.float-end
            if activeUser
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.px-4#userDropdown(
                        class=session.gm_mode || session.player_mode || session.admin_mode || session.assumed_user?'bg-warning rounded-pill':''
                        class= siteSection==='user'||_.indexOf(siteSection, 'user') !== -1?"active":null
                        href='#'
                        role='button'
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false")
                        i.fas.me-1(class=session.assumed_user?'fa-user-secret':'fa-user')
                        = activeUser.name
                    .dropdown-menu(aria-labelledby="userDropdown")
                        a.dropdown-item(href="/user/profile")
                            i.fas.fa-user-cog.fa-fw.me-1
                            | My Profile
                        if currentCampaign.stripe_account_ready
                            a.dropdown-item(href="/order")
                                i.fas.fa-credit-card.fa-fw.me-1
                                | My Orders
                        a.dropdown-item(href="/auth/logout")
                            i.fas.fa-sign-out-alt.fa-fw.me-1
                            | Logout
                        if session.assumed_user
                            a.dropdown-item(href="/user/revert")
                                i.fas.fa-user-secret.fa-fw.me-1
                                | Revert to #{actualUser.name}
                        if checkPermission('site_admin') || session.admin_mode
                            a.dropdown-item(href="/auth/admin")
                                i.fas.fa-user-tie.fa-fw.me-1
                                | #{session.admin_mode?'Disable':'Enable'} Admin Mode
                        if checkPermission('admin', true) && ! session.player_mode
                            a.dropdown-item(href="/auth/gm")
                                i.fas.fa-user-tie.fa-fw.me-1
                                | #{session.gm_mode?'Disable':'Enable'} GM Mode
                        if checkPermission('gm', true) && ! session.gm_mode
                            a.dropdown-item(href="/auth/player")
                                i.far.fa-user.fa-fw.me-1
                                | #{session.player_mode?'Disable':'Enable'} Player Mode
                        +menuPages(menuPages.user, true)


            - else
                li.nav-item
                    a.nav-link(href='/auth/google') Login
