.container

    a.navbar-brand(href='/')= config.get('app.name')
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon

    .collapse.navbar-collapse#navbar
        ul.navbar-nav.me-auto
            li.nav-item(class= siteSection==='home'?"active":null)
                a.nav-link(href="/") Home
                    span.sr-only (current)
            if currentCampaign.id
                if checkPermission('event')
                    li.nav-item.dropdown(class= siteSection==='gm'?"active":null)
                        a.nav-link.dropdown-toggle#gmDropdown(
                            href='#'
                            role='button'
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false") GM Stuff
                        .dropdown-menu(aria-labelledby="gmDropdown")
                            if checkPermission('contrib')
                                a.dropdown-item(href='/skill') Skills

                            if checkPermission('contrib')
                                a.dropdown-item(href='/character') Characters

                if checkPermission('player') && !checkPermission('event')
                    li.nav-item
                        a.nav-link(href=config.get('drive.folders.player') target="_blank") Google Drive
                                i.fa.fa-external-link.ms-1
                    li.nav-item.dropdown(class= siteSection==='character'?"active":null)
                        a.nav-link.dropdown-toggle#gmDropdown(
                            href='#'
                            role='button'
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false") Characters
                        .dropdown-menu(aria-labelledby="gmDropdown")
                            a.dropdown-item(href='/character/active') Current Character
                            a.dropdown-item(href='/character') All Characters
                            a.dropdown-item(href='/skill/doc') Skills


                if currentCampaign.display_glossary || currentCampaign.display_map
                    li.nav-item.dropdown(class= siteSection==='worldbuilding'?"active":null)
                        a.nav-link.dropdown-toggle#worldbuildingDropdown(
                            href='#'
                            role='button'
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false") Setting
                        .dropdown-menu(aria-labelledby="worldbuildingDropdown")
                                if currentCampaign.display_glossary
                                    if checkPermission('contrib') || checkPermission('player')
                                        a.dropdown-item(href='/glossary') Glossary
                                if currentCampaign.display_map
                                    a.dropdown-item(href='/map') World Map

                if checkPermission('gm')
                    li.nav-item.dropdown(class= siteSection==='admin'?"active":null)
                        a.nav-link.dropdown-toggle#adminDropdown(
                            href='#'
                            role='button'
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false") Admin
                        .dropdown-menu(aria-labelledby="adminDropdown")
                            a.dropdown-item(href='/user') Users
                            a.dropdown-item(href='/audit') Audits
                            a.dropdown-item(href='/image') Images
                            if checkPermission('admin')
                                .dropdown-divider
                                a.dropdown-item(href='/skill_status') Skill Statuses
                                if currentCampaign.display_glossary
                                    a.dropdown-item(href='/glossary_status') Glossary Statuses
                                .dropdown-divider
                                a.dropdown-item(href=`/admin/campaign/${currentCampaign.id}`) Campaign Settings
                                a.dropdown-item(href='/rulebook') Rulebooks

            else
                if checkPermission('admin')
                    li.nav-item.dropdown(class= siteSection==='admin'?"active":null)
                        a.nav-link.dropdown-toggle#adminDropdown(
                            href='#'
                            role='button'
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false") Site Admin
                        .dropdown-menu(aria-labelledby="adminDropdown")
                            a.dropdown-item(href='/user') Users
                            a.dropdown-item(href='/admin/campaign') Campaigns

        ul.navbar-nav.float-end
            if activeUser
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.px-4#userDropdown(
                        class=session.gm_mode||session.player_mode || session.assumed_user?'bg-warning rounded-pill':''
                        href='#'
                        role='button'
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false")
                        i.fas.me-1(class=session.assumed_user?'fa-user-secret':'fa-user')
                        = session.assumed_user ?  session.assumed_user.name : activeUser.name
                    .dropdown-menu(aria-labelledby="userDropdown")
                        a.dropdown-item(href="/auth/logout")
                            i.fas.fa-sign-out-alt.fa-fw.me-1
                            | Logout
                        if session.assumed_user
                            a.dropdown-item(href="/user/revert")
                                i.fas.fa-user-secret.fa-fw.me-1
                                | Revert to #{activeUser.name}

                        if checkPermission('admin', true) && ! session.player_mode
                            a.dropdown-item(href="/auth/gm")
                                i.fas.fa-user-tie.fa-fw.me-1
                                | #{session.gm_mode?'Disable':'Enable'} GM Mode
                        if checkPermission('gm', true) && ! session.gm_mode
                            a.dropdown-item(href="/auth/player")
                                i.far.fa-user.fa-fw.me-1
                                | #{session.player_mode?'Disable':'Enable'} Player Mode


            - else
                li.nav-item
                    a.nav-link(href='/auth/google') Login
