if (backto)
    input(type="hidden" name="backto" value=backto)

.row.my-2
    .col
        label.control-label(for="skill_name") Name
        input.form-control(type="text",placeholder="Name",name="skill[name]",value=skill.name,id='skill_name',required disabled=!checkPermission('gm'))
        div.invalid-feedback Please choose a valid name
    .col-sm-4
        label.control-label(for="skill_status_id") Status
        select.form-select.complex-select2(name="skill[status_id]",id="skill_status_id" data-placeholder='Status' required disabled=!checkPermission('gm'))
            for status in skill_statuses
                option(
                    value=status.id
                    selected=Number(skill.status_id)===status.id
                    title=status.name
                    data-text= `<div class="badge text-bg-${status.class} skill-status badge-pill">${status.name}</div>`
                    data-html=`<div class="text-${status.class}">${status.name}</div><div class="ms-2">${status.description}</div>`
                )= capitalize(status.name)

.row.my-2
    .col
        label.control-label(for="skill_summary") Summary
        input.form-control(type="text",placeholder="Summary",name="skill[summary]",value=skill.summary,id='skill_summary' disabled=!checkPermission('gm'))
        small.form-text.text-muted Supports
            a.ms-1(href='https://commonmark.org/help/' target='_blank') Markdown
                i.fas.fa-external-link-alt.ms-1

.row.my-2

    .col
        label.control-label(for="skill_source_id") Source
        select.form-select.select2(name="skill[source_id]",id="skill_source_id" data-placeholder='Source' required disabled=!checkPermission('gm'))
            option
            for source in skill_sources
                option(value=source.id selected=Number(skill.source_id)===source.id)= capitalize(source.name)

    .col
        label.control-label(for="skill_usage_id") Usage
        select.form-select.select2(name="skill[usage_id]",id="skill_usage_id" data-placeholder='Usage' disabled=!checkPermission('gm'))
            option
            for usage in skill_usages
                option(value=usage.id selected=Number(skill.usage_id)===usage.id)= capitalize(usage.name)
.row.my-2
    .col
        label.control-label(for="skill_tags") Tags
        select.form-control.complex-select2(multiple, name="skill[tags]",id="skill_tags" disabled=!checkPermission('gm'))
            for tag in skill_tags
                option(
                    value=tag.id
                    selected=_.findWhere(skill.tags, {id:tag.id})
                    data-text=`<span class='text-${tag.color?tag.color:'info'}'>${tag.name}</span>`
                    data-html=`<div><strong class='float-end'>${capitalize(tag.type)}</strong> <span class='badge text-bg-${tag.color?tag.color:'info'}'>${tag.name}</span></div><div class='ms-2 text-small'>${tag.description}</div>`
                )= tag.name

    .col
        label.control-label(for="skill_cost") Purchase Cost
        input.form-control(type="text",placeholder="Cost, eg. 2 or 2,4,5",name="skill[cost]",value=skill.cost,id='skill_cost' disabled=!checkPermission('gm'))
        small.form-text.text-muted Number, or comma seperated list of costs, one per tier ("2" or "2, 4, 5")

        .form-check.form-switch.mt-2
            input.form-check-input(type="checkbox", name="skill[required]", id="skill_required", checked=skill.required)
            label.form-check-label(for="skill+required") Required Skill

.row.my-2
    .col
        +markdownEditor('Description (Player visible)', 'skill_description', 'skill[description]', 5, 100, skill.description, true, {showImageLink: checkPermission('gm'), disabled:!checkPermission('gm')})

.row.my-2
    .col
        +markdownEditor('Notes (GM Only)', 'skill_notes', 'skill[notes]', 5, 80, skill.notes)

if checkPermission('gm')
    fieldset.mb-2.border.p-2.rounded
        label.h5.w-100.mb-1#skill-builder-heading( role="button" for="skill-config", data-bs-toggle="collapse" data-bs-target="#skill-config" aria-expanded="false") Character Builder Configuration
            span.float-end.ps-2
                i.fa.fa-chevron-up
                i.fa.fa-chevron-down


        #skill-config.collapse(aria-labelledby="skill-builder-heading")

            .row.my-2
                .col-md-9
                    label.control-label(for="skill_requires") Prereqs
                    select.form-control.select2(multiple, name="skill[requires]",id="skill_requires" data-placeholder='Prereqs')
                        for item in skills
                            if (item.id !== skill.id)
                                option(value=item.id selected=_.indexOf(skill.requires, item.id) !== -1) #{capitalize(item.source.name)}: #{item.name}
                .col-md-3
                    label.control-label(for="skill_require_num") Number of Prereqs
                    input.form-control.text-end#skill_require_num(type="number",placeholder="Usually 1",name="skill[require_num]",value=skill.require_num)

            .row.my-2
                .col
                    label.control-label(for="skill_conflicts") Conflicts
                    select.form-control.select2(multiple, name="skill[conflicts]",id="skill_conflicts" data-placeholder='Conflicts')
                        for item in skills
                            if (item.id !== skill.id)
                                option(value=item.id selected=_.indexOf(skill.conflicts, item.id) !== -1) #{capitalize(item.source.name)}: #{item.name}
            .row.my-2.provides-row
                .col
                    label.control-label(for="skill_provides_0_type") Provides
                    select.form-control.clearable-select2.skill-provides-type(name="skill[provides][0][type]", id="skill_provides_0_type" data-placeholder="Provides Type")
                        option(value="-1")
                            for item in providesTypes
                                option(value=item.value selected=skill.provides[0].type===item.value)= item.name
                .col
                    label.control-label(for="skill_provides_0_name") Name/Subtype
                    input.form-control.skill-provides-name(type="text",placeholder="Name",name="skill[provides][0][name]",value=skill.provides[0].name,id='skill_provides_0_name')

                .col
                    label.control-label(for="skill_provides_0_value") Value
                    input.form-control.skill-provides-value(type="text",placeholder="Value",name="skill[provides][0][value]",value=skill.provides[0].value,id='skill_provides_0_value')

            .row.my-2.provides-row
                .col
                    label.control-label(for="skill_provides_1_type") Provides
                    select.form-control.clearable-select2.skill-provides-type(name="skill[provides][1][type]", id="skill_provides_1_type" data-placeholder="Provides Type")
                        option(value="-1")
                            for item in providesTypes
                                option(value=item selected=skill.provides[1] && skill.provides[1].type===item.value)= item.name
                .col
                    label.control-label(for="skill_provides_1_name") Name/Subtype
                    input.form-control.skill-provides-name(type="text",placeholder="Name",name="skill[provides][1][name]",value=skill.provides[1]?skill.provides[1].name:'',id='skill_provides_1_name')

                .col
                    label.control-label(for="skill_provides_1_value") Value
                    input.form-control.skill-provides-value(type="text",placeholder="Value",name="skill[provides][1][value]",value=skill.provides[1]?skill.provides[1].value:'',id='skill_provides_1_value')

if !modal
    .row.my-2
        .col
            button.btn.btn-primary(type="submit")= skill.id?'Update':'Create'
            a.btn.btn-link(href="/skill") Cancel


