extends ../../layout

block content
    .table-responsive
        .col-sm-6.offset-sm-3.text-center.table-loading
            .spinner-border.m-5(role="status" style="width: 3rem; height: 3rem;")
                .visually-hidden Table is Loading
        table.table.table-striped.data-table.my-3.dt-responsive.nowrap.table-sm.w-100(
            style="display: none"
            data-csrf=csrfToken
            )
            thead
                tr
                    th
                    th(data-priority="1") Name
                    th Size
                    th Type
                    th Uploaded By
                    th Uploaded
                    th Used for
                    th Public
                    th


            tbody
                for upload in uploads
                    tr
                        td.dtr-control
                        td(data-priority=1)= upload.display_name?upload.display_name:upload.name
                        td(data-priority=5)= upload.sizePrint
                        td(data-priority=3)
                            .badge.text-bg-info=capitalize(upload.type)
                        td(data-priority=4)
                            if upload.user
                                =upload.user.name

                                .badge.text-bg-info.ms-2=upload.user.typeForDisplay
                        td(data-priority=7)=moment.utc(upload.created).tz(currentCampaign.timezone).format('lll')
                            if upload.status !== 'ready'
                                .badge.text-bg-danger.ms-2=upload.status
                        td(data-priority=5)
                            if !upload.usedFor
                                .badge.text-bg-danger Unknown
                            else
                                = upload.usedFor.message
                        td(data-priority=8)
                            if upload.is_public
                                .badge.text-bg-warning Yes
                            else
                                .badge.text-bg-success No

                        td(data-priority=2).text-end
                            a.btn.btn-outline-danger.btn-xs.delete-btn.mx-2(
                                role="button",
                                url=`/admin/upload/${upload.id}`,
                                data-back='/admin/upload'
                            )
                                i.fas.fa-trash.fa-fw



append scripts
    script(src='/javascripts/data-table.js')
