.row.my-2
    .col
        label.control-label(for="glossary_status_name") Name
        input.form-control(type="text",placeholder="Name",name="glossary_status[name]",value=glossary_status.name,id='glossary_status_name',required)
        div.invalid-feedback Please choose a valid name

.row.my-2
    .col
        label.control-label(for="glossary_status_class") Class
        select.form-select.select2(name="glossary_status[class]",id="glossary_status_class" data-placeholder='Class')
                option
                for type in ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark']
                    option(value=type selected=glossary_status.class===type)= capitalize(type)

.row.my-2
    .col
        .form-check.form-switch
            input.form-check-input(type="checkbox", name="glossary_status[display_to_pc]", id="glossary_status_display_to_pc", checked=glossary_status.display_to_pc)
            label.form-check-label(for="glossary_status_display_to_pc") Display to Players in Glossary
    .col
        .form-check.form-switch
            input.form-check-input(type="checkbox", name="glossary_status[reviewable]", id="glossary_status_reviewable", checked=glossary_status.reviewable)
            label.form-check-label(for="glossary_status_reviewable") Available for review

.row.my-2
    .col
        label.control-label(for="glossary_status_description") Description
        textarea.form-control(name="glossary_status[description]",id="glossary_status_description",rows=3)
            = glossary_status.description

.row.my-2
    .col
        button.btn.btn-primary(type="submit")= glossary_status.id?'Update':'Create'
        a.btn.btn-link(href="/glossary_status") Cancel


