extends ../layout

block content
    .row
        .col
            h1= map.name
    if map.description
        .row
            .col !{marked(map.description)}
    .row
        .col
            #toolbarDiv(class=`${checkPermission(gm)?'':'py-4'}`)
                .float-end.align-middle.mb-2
                    if checkPermission('gm')
                        a.btn.btn-sm.btn-outline-info(href=map.image.url) Download Full Image #{map.image.sizePrint}

            #worldmap.img-fluid.mx-auto( style="width: 1110px; height: 780px;")


append scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.2/openseadragon.min.js')
    script.
        var viewer = OpenSeadragon({
            id: "worldmap",
            prefixUrl: "https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.2/images/",
            tileSources: "https://#{config.get('aws.imageBucket')}.s3.amazonaws.com/tiles/#{map.id}/#{map.uuid}/tile.dzi",
            visibilityRatio: 1,
            toolbar:       "toolbarDiv",
            constrainDuringPan: true,
            maxZoomPixelRatio: 1

        });

