if scene.tags
    .row.my-1
        .col
            each tag in scene.tags
                span.badge.text-bg-info.me-1=tag
.row.my-1
    .col
        if userType === 'staff'
            a.btn.btn-xs.btn-outline-info.me-1(
                href=`/scene/${scene.id}`
                target='_blank'
                data-bs-toggle='tooltip'
                title='View Scene Details'
            )
                i.fas.fa-eye.fa-fw
            if (scene.players.confirmed && scene.players.confirmed.length) || (scene.players.suggested && scene.players.suggested.length)

                -
                    const characterIds = [];
                    for (const status of ['confirmed', 'suggested']){
                        if (scene.players[status]){
                            for (const player of scene.players[status]){
                                if (player.character){
                                    characterIds.push(player.character.id);
                                }
                            }
                        }
                    }

                a.btn.btn-xs.btn-outline-info.group-report-btn.me-1(
                    href=`/report/group?group=${characterIds.join(',')}`
                    target='_blank'
                    data-bs-toggle='tooltip'
                    title="Group Report"
                )
                    i.fas.fa-calculator.fa-fw

        if scheduleType === 'edit'

            if (scene.locations.suggested  || scene.locations.confirmed) && (scene.timeslots.suggested || scene.timeslots.confirmed)
                if scene.status === 'confirmed'
                    button.btn.btn-outline-success.btn-xs.unconfirm-scene-btn(
                        role=button
                        data-bs-toggle='tooltip'
                        title='Unconfirm Time/Location'
                    )
                        i.fas.fa-plus-circle.me-1
                        | Unconfirm Placement

                else
                    button.btn.btn-outline-success.btn-xs.confirm-scene-btn(
                        role=button
                        data-bs-toggle='tooltip'
                        title='Confirm Time/Location'
                    )
                        i.fas.fa-check-circle.me-1
                        | Confirm Placement
if scene.writer_id || scene.runner_id
    .row.my-1
        if scene.writer_id
            .col
                | Wri: #{scene.writer.name}
        if scene.runner_id
            .col
                | Run: #{scene.runner.name}

if scheduleType !== 'edit' && scene.description
    .row.mt-1.mb-2
        .col
            p.mb-1!= marked.parseInline(scene.description, {breaks:true})

if scheduleType === 'edit' || scene.players.confirmed && scene.players.confirmed.length
    .row.my-1
        .col
            -
                const confirmedPlayerCount = scene.players.confirmed?scene.players.confirmed.length:0;
                const suggestedPlayerCount = scene.players.suggested?scene.players.suggested.length:0;
                const currentPlayerCount = confirmedPlayerCount + suggestedPlayerCount;
            a.scene-player-header.d-block.text-dark.link-underline-info.link-offset-1.link-underline-opacity-25.link-underline-opacity-100-hover(
                role='button'
                href=`#scene-player-${scene.id}-${locationIdx}`
                title=`Show/Hide Players`
                data-bs-toggle='collapse'
                aria-expanded=userType==="staff"?"false":"true"
                aria-controls=`scene-player-${scene.id}-${locationIdx}`
            )

                span.me-1= userType==='staff'?'Players':'Characters'
                if _.has(scene, 'player_count_min')
                    if currentPlayerCount < scene.player_count_min || currentPlayerCount > scene.player_count_max
                        span.text-danger.me-1=currentPlayerCount
                    else
                        span.me-1=currentPlayerCount
                    span of (#{scene.player_count_min}-#{scene.player_count_max})

                span.ps-2.float-end
                    i.fa.fa-chevron-up
                    i.fa.fa-chevron-down

            ul.list-group.collapse.scene-user-list.scene-player-list(
                id=`scene-player-${scene.id}-${locationIdx}`
                data-list-type='player'
                class=userType==='staff'?'':'show'
            )
                if (scene.players.confirmed && scene.status !== 'confirmed' && scheduleType === 'edit') || (scene.players.suggested && scene.players.suggested.length > 1)
                    li.list-group-item.my-0.p-1

                        if scene.players.suggested && scene.players.suggested.length > 1
                            button.btn.btn-xs.btn-outline-success.confirm-all-scene-users-btn.me-1(
                                role='button'
                                data-bs-toggle='tooltip'
                                data-type='player'
                                title='Confirm all Suggested Players'
                            )
                                i.fas.fa-check-circle.me-1
                                | Confirm

                        if scheduleType === 'edit' && scene.players.confirmed && scene.status !== 'confirmed'
                            button.btn.btn-xs.btn-outline-warning.unconfirm-all-scene-users-btn.me-1(
                                role='button'
                                data-bs-toggle='tooltip'
                                data-type='player'
                                title='Unconfirm all Confirmed Players'
                            )
                                i.fas.fa-plus-circle.me-1
                                | Unconfirm

                if scene.players.confirmed
                    each player in scene.players.confirmed
                        -
                            let userIconClass = 'text-dark fa-user'
                            if (player.scene_request_status === 'requested'){
                                userIconClass = 'text-info fa-user-check'
                            } else if (player.scene_request_status === 'required'){
                                userIconClass = 'text-success fa-user-plus'
                            } else if (player.scene_request_status === 'rejected'){
                                userIconClass = 'text-danger fa-user-times'
                            }

                        li.list-group-item.my-0.p-0
                            if scheduleType === 'edit'
                                a.p-1(href=`/user/${player.id}` target='_blank')
                                    i.fas.me-1(
                                        data-bs-toggle='tooltip'
                                        title= capitalize(player.scene_request_status)
                                        class=userIconClass
                                    )
                                    = player.name
                            else
                                span.p-1= player.name
                            if scheduleType === 'edit'
                                button.btn.btn-xs.btn-outline-danger.unschedule-user-btn.float-end.ms-1(
                                    role='button'
                                    data-user-id=player.id
                                    data-bs-toggle='tooltip'
                                    title=`Remove ${player.name} from Scene`
                                )
                                    i.fas.fa-user-times
                            i.fas.fa-check-circle.text-success.float-end.p-1(
                                title='Confirmed'
                                data-bs-toggle='tooltip'
                            )
                if scene.players.suggested
                    each player in scene.players.suggested
                        -
                            let userIconClass = 'text-dark fa-user'
                            if (player.scene_request_status === 'requested'){
                                userIconClass = 'text-info fa-user-check'
                            } else if (player.scene_request_status === 'required'){
                                userIconClass = 'text-success fa-user-plus'
                            } else if (player.scene_request_status === 'rejected'){
                                userIconClass = 'text-danger fa-user-times'
                            }
                        li.list-group-item.my-0.p-0
                            a.p-1(href=`/user/${player.id}` target='_blank')
                                i.fas.me-1(
                                    data-bs-toggle='tooltip'
                                    title= capitalize(player.scene_request_status)
                                    class=userIconClass
                                )
                                = player.name
                            .btn-group.float-end.ms-1(role='group')
                                button.btn.btn-xs.btn-outline-success.schedule-user-btn(
                                    role='button'
                                    data-user-id=player.id
                                    data-bs-toggle='tooltip'
                                    title=`Accept Suggestion`
                                )
                                    i.fas.fa-user-plus
                                button.btn.btn-xs.btn-outline-danger.unschedule-user-btn(
                                    role='button'
                                    data-user-id=player.id
                                    data-bs-toggle='tooltip'
                                    title=`Remove ${player.name} from Scene`
                                )
                                    i.fas.fa-user-times
                            i.fas.fa-plus-circle.text-warning.float-end.p-1(
                                title='Suggested'
                                data-bs-toggle='tooltip'
                            )

if scene.staff
    .row.my-1
        .col
            -
                const confirmedStaffCount = scene.staff.confirmed?scene.staff.confirmed.length:0;
                const suggestedStaffCount = scene.staff.suggested?scene.staff.suggested.length:0;
                const currentStaffCount = suggestedStaffCount + confirmedStaffCount;
            a.scene-staff-header.d-block.text-dark.link-underline-info.link-offset-1.link-underline-opacity-25.link-underline-opacity-100-hover(
                role='button'
                href=`#scene-staff-${scene.id}-${locationIdx}`
                title=`Show/Hide Staff`
                data-bs-toggle='collapse'
                aria-expanded="false"
                aria-controls=`scene-staff-${scene.id}-${locationIdx}`
            )

                span.ps-2.float-end
                    i.fa.fa-chevron-up
                    i.fa.fa-chevron-down

                span.me-1 Staff/NPCs
                if currentStaffCount < scene.staff_count_min || currentStaffCount > scene.staff_count_max
                    span.text-danger.me-1=currentStaffCount
                else
                    span.me-1=currentStaffCount
                span of (#{scene.staff_count_min}-#{scene.staff_count_max})

                if scene.combat_staff_count_min
                    span.ms-1 (Combat: #{scene.combat_staff_count_min}-#{scene.combat_staff_count_max})


            ul.list-group.collapse.scene-user-list.scene-staff-list(
                data-list-type='staff'
                id=`scene-staff-${scene.id}-${locationIdx}`
            )
                if (scene.staff.confirmed && scene.status !== 'confirmed' && scheduleType === 'edit') || (scene.staff.suggested && scene.staff.suggested.length > 1)
                    li.list-group-item.my-0.p-1

                        if scene.staff.suggested && scene.staff.suggested.length > 1
                            button.btn.btn-xs.btn-outline-success.confirm-all-scene-users-btn.me-1(
                                role='button'
                                data-bs-toggle='tooltip'
                                data-type='staff'
                                title='Confirm all Suggested Staff'
                            )
                                i.fas.fa-check-circle.me-1
                                | Confirm
                        if scene.staff.confirmed && scene.status !== 'confirmed'
                            button.btn.btn-xs.btn-outline-warning.unconfirm-all-scene-users-btn.me-1(
                                role='button'
                                data-bs-toggle='tooltip'
                                data-type='staff'
                                title='Unconfirm all Confirmed Staff'
                            )
                                i.fas.fa-plus-circle.me-1
                                | Unconfirm

                if scene.staff.confirmed
                    each staff in scene.staff.confirmed
                        -
                            let userIconClass = 'text-dark fa-user'
                            if (staff.scene_request_status === 'requested'){
                                userIconClass = 'text-info fa-user-check'
                            } else if (staff.scene_request_status === 'required'){
                                userIconClass = 'text-success fa-user-plus'
                            } else if (staff.scene_request_status === 'rejected'){
                                userIconClass = 'text-danger fa-user-times'
                            }
                        li.list-group-item.my-0.p-0
                            if scheduleType === 'edit'
                                a.p-1(href=`/user/${staff.id}` target='_blank')
                                    i.fas.me-1(
                                        data-bs-toggle='tooltip'
                                        title= capitalize(staff.scene_request_status)
                                        class=userIconClass
                                    )
                                    = staff.name
                            else
                                span.p-1= staff.name
                            if scheduleType === 'edit'
                                button.btn.btn-xs.btn-outline-danger.unschedule-user-btn.float-end.ms-1(
                                    role='button'
                                    data-user-id=staff.id
                                    data-bs-toggle='tooltip'
                                    title=`Remove ${staff.name} from Scene`
                                )
                                    i.fas.fa-user-times
                            i.fas.fa-check-circle.text-success.float-end.p-1(
                                title='Confirmed'
                                data-bs-toggle='tooltip'
                            )

                if scene.staff.suggested
                    each staff in scene.staff.suggested
                        -
                            let userIconClass = 'text-dark fa-user'
                            if (staff.scene_request_status === 'requested'){
                                userIconClass = 'text-info fa-user-check'
                            } else if (staff.scene_request_status === 'required'){
                                userIconClass = 'text-success fa-user-plus'
                            } else if (staff.scene_request_status === 'rejected'){
                                userIconClass = 'text-danger fa-user-times'
                            }
                        li.list-group-item.my-0.p-0
                            a.p-1(href=`/user/${staff.id}` target='_blank')
                                i.fas.me-1(
                                    data-bs-toggle='tooltip'
                                    title= capitalize(staff.scene_request_status)
                                    class=userIconClass
                                )
                                = staff.name
                            .btn-group.float-end.ms-1(role='group')
                                button.btn.btn-xs.btn-outline-success.schedule-user-btn(
                                    role='button'
                                    data-user-id=staff.id
                                    data-bs-toggle='tooltip'
                                    title=`Accept Suggestion`
                                )
                                    i.fas.fa-user-plus
                                button.btn.btn-xs.btn-outline-danger.unschedule-user-btn.float-end(
                                    role='button'
                                    data-user-id=staff.id
                                    data-bs-toggle='tooltip'
                                    title=`Remove ${staff.name} from Scene`
                                )
                                    i.fas.fa-user-times
                            i.fas.fa-plus-circle.text-warning.float-end.p-1(
                                title='Suggested'
                                data-bs-toggle='tooltip'
                            )
if scheduleType==='edit' && scene.setup_slots
    .row
        .col
            strong.me-2 Setup Slots
            =scene.setup_slots
if scheduleType==='edit' && scene.cleanup_slots
    .row
        .col
            strong.me-2 Cleanup Slots
            =scene.cleanup_slots

if scheduleType==='edit' && scene.schedule_notes
    .row.mt-1
        .col
            strong Schedule Notes
            p.mb-1!= marked.parseInline(scene.schedule_notes, {breaks:true})


