.form-group
    label.control-label(for="skill_tag_name") Name
    input.form-control(type="text",placeholder="Name",name="skill_tag[name]",value=skill_tag.name,id='skill_tag_name',required)
    div.invalid-feedback Please choose a valid name

.form-row
    .col
        .form-group
            .custom-control.custom-switch
                input.custom-control-input(type="checkbox", name="skill_tag[display_to_pc]", id="skill_tag_display_to_pc", checked=skill_tag.display_to_pc)
                label.custom-control-label(for="skill_tag_display_to_pc") Display Tag to Players in Skill Documents

    .col
        .form-group
            .custom-control.custom-switch
                input.custom-control-input(type="checkbox", name="skill_tag[on_sheet]", id="skill_tag_on_sheet", checked=skill_tag.on_sheet)
                label.custom-control-label(for="skill_tag_on_sheet") Display Tag on PDF Sheets

.form-group
    label.control-label(for="skill_tag_color") Color
    select.custom-select.select2(name="skill_tag[color]",id="skill_tag_color" data-placeholder='Color')
        option
        for type in ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark']
            option(value=type selected=skill_tag.color===type)= capitalize(type)


.form-group
    label.control-label(for="skill_tag_description") Description
    textarea.form-control(name="skill_tag[description]",id="skill_tag_description",rows=3)
        = skill_tag.description

.form-group
    button.btn.btn-primary(type="submit")= skill_tag.id?'Update':'Create'
    a.btn.btn-link(href="/skill_tag") Cancel


