extends ../layout
include ../partials/scene

block content
    .row.my-2
        .col
            a.btn.btn-outline-primary.me-2(role="button" href=`/scene/${scene.id}/edit?backto=scene`)
                i.fas.fa-edit.me-1
                | Edit Scene
    .row.my-1
        .col
            h3= scene.name

        .col
            h4.d-inline.float-end
                .badge.text-bg-info.ms-2=capitalize(scene.status)
            if scene.event
                a.fs-4(href=`/event/${scene.event.id}`)
                    i.far.fa-calendar.me-1
                    = scene.event.name
            else
                i.fs-4 Unspecified Event

    if scene.player_name

        .row.my-1
            .col
                h4.d-inline= scene.player_name
    .row
        .col
            if scene.display_to_pc
                .badge.text-bg-success.me-2 Display to PC
            else
                .badge.text-bg-danger.me-2 Do Not Display to PC

            each tag in scene.tags
                .badge.text-bg-info.mx-1= tag.name
        if scene.staff_url || scene.player_url
            .col
                if scene.staff_url
                    a.btn.btn-outline-info.mx-1(href=scene.staff_url)
                        | Staff Writeup
                        i.fas.fa-external-link-alt.ms-1
                if scene.player_url
                    a.btn.btn-outline-info.mx-1(href=scene.player_url)
                        | Player Writeup
                        i.fas.fa-external-link-alt.ms-1

    dl.row.my-2

        if scene.prereqs.length
            dt.col-sm-3 Prereqs
            dd.col-sm-9
                each prereq in scene.prereqs
                    a.me-2(href=`/scene/${prereq.id}`)
                        i.fas.fa-theater-masks.me-1
                        =prereq.name

        if scene.timeslots.length
            - const timeslotsBySchedule = _.groupBy(scene.timeslots, 'scene_schedule_status');

            if timeslotsBySchedule.confirmed
                dt.col-sm-3 Timeslot(s)
                dd.col-sm-9
                    = (_.pluck(timeslotsBySchedule.confirmed, 'name')).join(', ')
                    if scene.timeslot_count !== timeslotsBySchedule.confirmed.length
                        span.ms-2 (#{scene.timeslot_count} Requested)
            else if timeslotsBySchedule.suggested
                dt.col-sm-3 Timeslot(s) Suggested
                dd.col-sm-9
                    = (_.pluck(timeslotsBySchedule.suggested, 'name')).join(', ')
                    span.ms-2 (#{scene.timeslot_count} Requested)
            else
                - const timeslotsByRequest = _.groupBy(scene.timeslots, 'scene_request_status');
                dt.col-sm-3 Timeslot Count
                dd.col-sm-9= scene.timeslot_count

                for status in ['requested', 'required', 'rejected']
                    if timeslotsByRequest[status]
                        dt.col-sm-3 Timeslot(s) #{capitalize(status)}
                        dd.col-sm-9= (_.pluck(timeslotsByRequest[status], 'name')).join(', ')


        if scene.locations.length
            - const locationsBySchedule = _.groupBy(scene.locations, 'scene_schedule_status');
            if locationsBySchedule.confirmed

                dt.col-sm-3 Location(s)
                dd.col-sm-9
                    = (_.pluck(locationsBySchedule.confirmed, 'name')).join(', ')
                    if scene.locations_count !== locationsBySchedule.confirmed.length
                        span.ms-2 (#{scene.locations_count} Requested)
            else if locationsBySchedule.suggested
                dt.col-sm-3 Location(s) Suggested
                dd.col-sm-9
                    = (_.pluck(locationsBySchedule.suggested, 'name')).join(', ')
                    span.ms-2 (#{scene.locations_count} Requested)
            else
                - const locationsByRequest = _.groupBy(scene.locations, 'scene_request_status');
                dt.col-sm-3 Location Count
                dd.col-sm-9= scene.locations_count
                for status in ['requested', 'required', 'rejected']
                    if locationsByRequest[status]
                        dt.col-sm-3 Location(s) #{capitalize(status)}
                        dd.col-sm-9= (_.pluck(locationsByRequest[status], 'name')).join(', ')

        if scene.users
            -
                let playersByScheduleStatus = scene.users.filter(user => {
                    return user.type === 'player'
                });
                playersByScheduleStatus = _.groupBy(playersByScheduleStatus, 'scene_schedule_status')

            if playersByScheduleStatus.confirmed
                dt.col-sm-3 Players
                dd.col-sm-9
                    = (_.pluck(playersByScheduleStatus.confirmed, 'name')).join(', ')
                    if scene.player_count_max - playersByScheduleStatus.confirmed.length !== 0
                        span.ms-2 (+#{scene.player_count_max - playersByScheduleStatus.confirmed.length}, #{scene.player_count_min} - #{scene.player_count_max} Requested)

            else if playersByScheduleStatus.suggested
                dt.col-sm-3 Players Suggested
                dd.col-sm-9
                    = (_.pluck(playersByScheduleStatus.suggested, 'name')).join(', ')
                    span.ms-2 (+#{scene.player_count_max - playersByScheduleStatus.suggested.length}, #{scene.player_count_min} - #{scene.player_count_max} Requested)

            else
                dt.col-sm-3 Player Count
                dd.col-sm-9 #{scene.player_count_min} - #{scene.player_count_max}
                for scheduleStatus in ['unscheduled', 'rejected']
                    if playersByScheduleStatus[scheduleStatus]
                        - let playersByRequestStatus = _.groupBy(playersByScheduleStatus[scheduleStatus], 'scene_request_status')
                        each requestStatus in _.keys(playersByRequestStatus)
                            dt.col-sm-3 Players #{capitalize(requestStatus)}
                            dd.col-sm-9= (_.pluck(playersByRequestStatus[requestStatus], 'name')).join(', ')

        if scene.users
            -

                let staffByScheduleStatus = scene.users.filter(user => {
                    return user.type !== 'player'
                });
                staffByScheduleStatus = _.groupBy(staffByScheduleStatus, 'scene_schedule_status')

            if staffByScheduleStatus.confirmed
                dt.col-sm-3 Staff
                dd.col-sm-9
                    = (_.pluck(staffByScheduleStatus.confirmed, 'name')).join(', ')
                    if scene.staff_count_max - staffByScheduleStatus.confirmed.length !== 0
                        span.ms-2 (+#{scene.staff_count_max - staffByScheduleStatus.confirmed.length}, #{scene.staff_count_min} - #{scene.staff_count_max} Requested)

            else if staffByScheduleStatus.suggested
                dt.col-sm-3 Staff Suggested
                dd.col-sm-9
                    = (_.pluck(staffByScheduleStatus.suggested, 'name')).join(', ')
                    span.ms-2 (+#{scene.staff_count_max - staffByScheduleStatus.suggested.length}, #{scene.staff_count_min} - #{scene.staff_count_max} Requested)

            else
                dt.col-sm-3 Staff Count
                dd.col-sm-9 #{scene.staff_count_min} - #{scene.staff_count_max}
                    if scene.combat_staff_count_min
                        span.ms-1 (#{scene.combat_staff_count_min} - #{scene.combat_staff_count_max} as Combat Staff)

                for scheduleStatus in ['unscheduled', 'rejected']
                    if staffByScheduleStatus[scheduleStatus]
                        - let staffByRequestStatus = _.groupBy(staffByScheduleStatus[scheduleStatus], 'scene_request_status')
                        each requestStatus in _.keys(staffByRequestStatus)
                            dt.col-sm-3 Staff #{capitalize(requestStatus)}
                            dd.col-sm-9= (_.pluck(staffByRequestStatus[requestStatus], 'name')).join(', ')

        if scene.sources.length
            - const sourcesByScheduleStatus = _.groupBy(scene.sources, 'scene_schedule_status');

            if sourcesByScheduleStatus.confirmed
                dt.col-sm-3 Sources
                dd.col-sm-9
                    = (_.pluck(sourcesByScheduleStatus.confirmed, 'name')).join(', ')

            else if sourcesByScheduleStatus.suggested
                dt.col-sm-3 Sources Suggested
                dd.col-sm-9
                    = (_.pluck(sourcesByScheduleStatus.suggested, 'name')).join(', ')

            else
                for scheduleStatus in ['unscheduled', 'rejected']
                    if sourcesByScheduleStatus[scheduleStatus]
                        - let sourcesByRequestStatus = _.groupBy(sourcesByScheduleStatus[scheduleStatus], 'scene_request_status')
                        each requestStatus in _.keys(sourcesByRequestStatus)
                            dt.col-sm-3 Sources #{capitalize(requestStatus)}
                            dd.col-sm-9= (_.pluck(sourcesByRequestStatus[requestStatus], 'name')).join(', ')

        if scene.skills.length
            - const skillsByScheduleStatus = _.groupBy(scene.skills, 'scene_schedule_status');

            if skillsByScheduleStatus.confirmed
                dt.col-sm-3 Skills
                dd.col-sm-9
                    = (_.pluck(skillsByScheduleStatus.confirmed, 'name')).join(', ')

            else if skillsByScheduleStatus.suggested
                dt.col-sm-3 Skills Suggested
                dd.col-sm-9
                    = (_.pluck(skillsByScheduleStatus.suggested, 'name')).join(', ')

            else
                for scheduleStatus in ['unscheduled', 'rejected']
                    if skillsByScheduleStatus[scheduleStatus]
                        - let skillsByRequestStatus = _.groupBy(skillsByScheduleStatus[scheduleStatus], 'scene_request_status')
                        each requestStatus in _.keys(skillsByRequestStatus)
                            dt.col-sm-3 Skills #{capitalize(requestStatus)}
                            dd.col-sm-9= (_.pluck(skillsByRequestStatus[requestStatus], 'name')).join(', ')

