input(type="hidden" name="scene_feedback[survey_response_id]" value=attendance.post_event_survey_response_id)
input(type="hidden" name="scene_feedback[scene_id]" value=scene.id)
if (backto)
    input(type="hidden" name="backto" value=backto)
if field.description
    .row.my-2
        .col
            .form-text!=marked.parseInline(field.description, {breaks:true})

.row.my-2
    .col
        strong Timeslot:
        span.ms-2= scene.timeslots[0].name
        if scene.timeslots[0].display_name
            span.ms-1 (#{scene.timeslots[0].display_name})

    if scene.writer
        .col
            strong Writer:
            span.ms-2= scene.writer
.row.my-2
    .col
        strong Staff:
        span.ms-2= scene.staff.join(', ')


.row.my-2
    .col
        .custom-event-field
            +markdownEditor('Feedback for GMs Only', 'scene_gm_feedback', 'scene_feedback[gm_feedback]', 5, 150, scene.gm_feedback, false, {disabled:disabled, maxlength:field.maxlength, saveIndicator:true})

.row.mt-2.mb-1
    .col
        .custom-event-field
            +markdownEditor('Feedback for NPCs Only', 'scene_npc_feedback', 'scene_feedback[npc_feedback]', 5, 150, scene.npc_feedback, false, {disabled:disabled, maxlength:field.maxlength, saveIndicator:true})


if (!modal)
    .row.my-2
        .col
            button.btn.btn-primary(type="submit" disabled=disabled)= skill_type.id?'Update':'Create'
            a.btn.btn-link(href="/skill_type") Cancel


