.row.my-2
    .col
        .table-responsive
            table.table.table-sm
                thead
                    tr
                        th Item
                        th Price
                        th Quantity
                        th Paid
                            i.far.fa-question-circle.ms-1(
                                data-bs-title='Total from all attendees marked Paid'
                                data-bs-toggle='popover'
                                )
                        if currentCampaign.stripe_account_ready
                            th Orders
                                i.far.fa-question-circle.ms-1(
                                    data-bs-title='Total collected via payment processing'
                                    data-bs-content='Does not account for credit card processing fees'
                                    data-bs-toggle='popover'
                                    )
                        th Outstanding
                            i.far.fa-question-circle.ms-1(
                                data-bs-title='Total yet to be collected'
                                data-bs-content='Based on unpaid registrations'
                                data-bs-toggle='popover'
                                )
                        th Total
                            i.far.fa-question-circle.ms-1(
                                data-bs-title='Expected Final Total'
                                data-bs-content='Paid and Unpaid, does not account for credit card processing fees.'
                                data-bs-toggle='popover'
                                )

                tbody.table-group-divider
                    tr
                        td Event
                        td $#{income.event.price}
                        td= income.event.count
                        td $#{income.event.raw}
                        if currentCampaign.stripe_account_ready
                            td $#{income.event.orders}
                        td $#{income.event.outstanding}
                        td $#{income.event.raw + income.event.outstanding}
                    each value, name in income.addons.addons
                        tr
                            td Addon: #{name}
                            td $#{value.price}
                            td= value.count

                            td $#{value.raw}
                            if currentCampaign.stripe_account_ready

                                td $#{value.orders}
                            td $#{value.outstanding}
                            td $#{value.raw + value.outstanding}
                tfoot.table-group-divider
                    tr
                        td All Addons
                        td
                        td
                        td $#{income.addons.total.raw}
                        if currentCampaign.stripe_account_ready
                            td $#{income.addons.total.orders}
                        td $#{income.addons.total.outstanding}
                        td $#{income.addons.total.raw + income.addons.total.outstanding}


                    tr
                        th Total
                        td
                        td
                        th $#{income.event.raw + income.addons.total.raw}
                        if currentCampaign.stripe_account_ready
                            th $#{income.event.orders + income.addons.total.orders}
                        th $#{income.event.outstanding + income.addons.total.outstanding}
                        th $#{income.event.raw + income.event.outstanding + income.addons.total.raw + income.addons.total.outstanding}
