.row.my-2
    .col
        .table-responsive
            table.table.table-sm
                thead
                    tr
                        th Item
                        th Price
                        th Quantity
                        th Paid
                            i.far.fa-question-circle.ms-1(
                                data-bs-title='Total from all attendees marked Paid'
                                data-bs-toggle='popover'
                                )
                        if currentCampaign.stripe_account_ready
                            th Orders
                                i.far.fa-question-circle.ms-1(
                                    data-bs-title='Total collected via payment processing'
                                    data-bs-content='Does not account for credit card processing fees'
                                    data-bs-toggle='popover'
                                    )
                        th Outstanding
                            i.far.fa-question-circle.ms-1(
                                data-bs-title='Total yet to be collected'
                                data-bs-content='Based on unpaid registrations. Unpaid Pay-what-you-want Addons may make this appear incorrect.'
                                data-bs-toggle='popover'
                                )
                        th Total
                            i.far.fa-question-circle.ms-1(
                                data-bs-title='Expected Final Total'
                                data-bs-content='Paid and Unpaid, does not account for credit card processing fees.'
                                data-bs-toggle='popover'
                                )

                tbody.table-group-divider
                    each value in income.event
                        tr
                            td Event
                                if income.event.length > 1 || !value.default
                                    .badge.text-bg-info.ms-2.float-end
                                        i.fas.fa-ticket-alt.me-1
                                        = value.ticket
                            td
                                if value.waived
                                    .badge.text-bg-primary.float-start
                                        | Waived
                                else
                                    | $#{value.price}
                            td= value.count
                            td $#{value.raw}
                            if currentCampaign.stripe_account_ready
                                td $#{value.orders}
                            td $#{value.outstanding}
                            td $#{value.raw + value.outstanding}
                    each value in income.addons.addons
                        tr
                            td Addon: #{value.name}
                                if value.pay_what_you_want
                                   .badge.text-bg-info.ms-2.float-end
                                        i.fas.fa-dollar-sign.me-1
                                        | Pay What You Want
                            td
                                if value.waived
                                    .badge.text-bg-primary.float-start
                                        | Waived
                                else
                                    | $#{value.price}
                            td= value.count

                            td $#{value.raw}
                            if currentCampaign.stripe_account_ready

                                td $#{value.orders}
                            td $#{value.outstanding}
                            td $#{value.raw + value.outstanding}
                tfoot.table-group-divider
                    -
                        const eventCount = _.pluck(income.event, 'count').reduce((a,e) => {return a+e}, 0);
                        const eventRaw = _.pluck(income.event, 'raw').reduce((a,e) => {return a+e}, 0);
                        const eventOutstanding = _.pluck(income.event, 'outstanding').reduce((a,e) => {return a+e}, 0);
                        const eventOrders = _.pluck(income.event, 'orders').reduce((a,e) => {return a+e}, 0);

                    if income.event.length > 1
                        tr
                            td All Event
                            td
                            td= eventCount
                            td $#{eventRaw}
                            if currentCampaign.stripe_account_ready
                                td $#{eventOrders}
                            td $#{eventOutstanding}
                            td $#{eventRaw + eventOutstanding}

                    tr
                        td All Addons
                        td
                        td
                        td $#{income.addons.total.raw}
                        if currentCampaign.stripe_account_ready
                            td $#{income.addons.total.orders}
                        td $#{income.addons.total.outstanding}
                        td $#{income.addons.total.raw + income.addons.total.outstanding}

                    tr
                        th Total
                        td
                        td
                        th $#{eventRaw + income.addons.total.raw}
                        if currentCampaign.stripe_account_ready
                            th $#{eventOrders + income.addons.total.orders}
                        th $#{eventOutstanding + income.addons.total.outstanding}
                        th $#{eventRaw + eventOutstanding + income.addons.total.raw + income.addons.total.outstanding}
