.row.mb-2
    .col-md
        .fs-5
            a(target='_blank' href=`https://www.google.com/maps/search/?api=1&query=${encodeURI(event.location)}`)
                i.fas.fa-map-marked-alt.me-1
                =event.location
    .col-md-4.text-md-end
        h4.d-inline.align-bottom
            if event.registration_open && new Date(event.end_time) > new Date()
                span.badge.text-bg-success Registration Open
            else
                span.badge.text-bg-danger Registration Closed


.row.my-2
    .col-lg
        -
            const futureEvent = new Date(event.end_time) > new Date();
            const regOpen = event.registration_open && futureEvent;

        if !attendee || !attendee.attending
            -
                let text = 'Register as';
                if (activeUser.type === 'player'){
                    text += ' a Player';
                } else if (activeUser.type.match(/^(admin|core staff)/)){
                    text += ' Staff';
                } else {
                    text += ' an NPC';
                }
                if (!event.registration_open) {
                    text = 'Registration not Open';

                } else if (!futureEvent){
                    text = 'Event is in the Past'
                }

            a.btn.btn-outline-success.btn-sm.me-2(
                href=regOpen?`/event/${event.id}/register`:''
                disabled=!regOpen
                class=!regOpen?'disabled':''
                tab-index=!regOpen?'-1':''
                aria-disabled=regOpen?'false':'true'
            )
                span.fa.fa-calendar-check.me-2
                span.me-1= text

        if !attendee
            a.btn.btn-outline-secondary.btn-sm#not-attending-btn-show(
                url=regOpen?`/event/${event.id}/not_attending`:''
                disabled=!regOpen
                class=!regOpen?'disabled':''
                tab-index=!regOpen?'-1':''
                aria-disabled=regOpen?'false':'true'
                data-csrf=csrfToken
            )
                span.fa.fa-calendar-times.me-2
                span.me-1 Not Planning to Attend

        else if attendee
            if attendee.attending
                a.btn.btn-outline-info.btn-sm.me-2(href=`/event/${event.id}/register/${attendee.id}`)
                    span.fa.fa-edit.me-2
                    | Edit Registration
            if new Date(event.end_time) > new Date()
                if attendee.attending
                    if !(attendee.paid || attendee.addons.filter(addon => { return addon.paid}).length)
                        a.btn.btn-outline-danger.btn-sm#event-unregister-btn(
                            role="button"
                            url=`/event/${event.id}/register/${attendee.id}`
                            data-csrf=csrfToken
                        )
                            span.fa.fa-calendar-times.me-2
                            | Unregister

                else
                    a.btn.btn-outline-danger.btn-sm#event-clear-not-attending-btn(
                        role="button"
                        url=`/event/${event.id}/register/${attendee.id}`
                        data-csrf=csrfToken
                    )
                        span.fa.fa-calendar-times.me-2
                        | Clear Not Attending

    .col-md-4.text-lg-center
        span.fs-5
            if activeUser.type.match(/^(player|admin|core staff)$/)
                span.me-1 Cost:
                if attendee && attendee.cost
                    | $#{attendee.cost}
                else if event.has_cost
                    | $#{event.default_cost}
                else
                    | Free
                if event.has_cost_options
                    fa.fas.fa-plus-circle.ms-1(
                    title='Additional Options'
                    data-bs-toggle='tooltip'
                    )
                -
                    let owed = 0;
                    if (attendee && attendee.user){
                        if (attendee.cost && !attendee.paid && attendee.user.type === 'player'){
                            owed += attendee.cost
                        }
                        for ( const addon of attendee.addons ){
                            const event_addon = _.findWhere(event.addons, {id:addon.event_addon_id})
                            if (!addon.paid){
                                if (event_addon.charge_player && attendee.user.type === 'player' || event_addon.charge_staff && attendee.user.type !== 'player'){
                                    if (event_addon.pay_what_you_want){
                                        owed += addon.cost;
                                    } else {
                                        owed += event_addon.cost;
                                    }
                                }
                            }
                        }
                    }
            if owed
                span.mx-2 Owed: $#{owed}
                if currentCampaign.stripe_account_ready
                    a.btn.btn-sm.btn-outline-primary.ms-1#event-payment-btn(
                        href=`/event/${event.id}/checkout`
                    )
                        i.fa.fa-shopping-cart.me-1
                        | Pay Now

    .col-lg-3.text-lg-end

        .fs-5.d-inline.my-0
            if attendee
                if attendee.attending
                    if activeUser.type === 'player'
                        span.me-2= attendee.character.name
                        if attendee.paid
                            span.badge.text-bg-success Paid
                        else if event.cost
                            span.badge.text-bg-warning Unpaid
                        else
                            span.badge.text-bg-success Registered
                    else
                        span.badge.text-bg-success Registered
                else
                    span.badge.text-bg-secondary Not Attending
            else
                span.badge.text-bg-danger Unregistered

if attendee
    .row.my-2


        if attendee.addons.length
            .col-lg.order-lg-2
                h4 Addons

                ul.list-group
                    each addon of attendee.addons
                        - const event_addon = _.findWhere(event.addons, {id:addon.event_addon_id})
                        li.list-group-item
                            strong #{event_addon.name}
                            if event_addon.charge_player && attendee.user.type === 'player' || event_addon.charge_staff && attendee.user.type !== 'player'

                                if addon.paid
                                    .badge.text-bg-success.float-end Paid
                                else
                                    .badge.text-bg-warning.float-end Unpaid
                                span.me-2.float-end $#{event_addon.pay_what_you_want&&!_.isNull(addon.cost)?addon.cost:event_addon.cost}

        .col-lg
            if event.pre_event_survey
                .row.my-2
                    .col
                        h4 Registration Questions
                        each customField in event.pre_event_survey.definition
                            if attendee
                                if _.has(attendee.pre_event_data, customField.id) && attendee.pre_event_data[customField.id].data
                                    +attendeeCustomFieldDisplay(customField, attendee.pre_event_data[customField.id].data)
                                else if _.has(attendee.pre_event_data, customField.name) && attendee.pre_event_data[customField.name]
                                    +attendeeCustomFieldDisplay(customField, attendee.pre_event_data[customField.name])

            if attendee.notes
                .row.my-2
                    .col
                        +attendeeCustomFieldDisplay({name:'Notes', type:'longtext'}, attendee.notes)


if event.description
    .row.my-2
        .col
            .card
                .card-body!=marked.parseInline(event.description, {breaks: true})
