include ../../partials/scene

.row.my-2
    .col
        if checkPermission('event')
            button.btn.btn-sm.btn-outline-info.me-2.event-export-btn#schedule-staff-export-btn(
                data-export=`/event/${event.id}/schedule/export?type=staff`
            )
                i.fa.fa-download.me-1.indicator-icon
                | Export Staff CSV

        if checkPermission('event') || event.schedule_status === 'player visible'
            button.btn.btn-sm.btn-outline-info.me-2.event-export-btn#schedule-player-export-btn(
                data-export=`/event/${event.id}/schedule/export?type=player`
            )
                i.fa.fa-download.me-1.indicator-icon
                | Export Player CSV

            if checkPermission('contrib') && event.schedule_status !== 'private'
                +eventReports(event, schedule_reports)



            a.btn.btn-sm.btn-outline-info(
                href=`/event/${event.id}/schedule`
            )
               i.fa.fa-calendar.me-1
               | Schedule


        if checkPermission('gm') && new Date(event.start_time) > new Date() && !event.schedule_read_only
            a.btn.btn-sm.btn-outline-primary.my-2.ms-2.float-end(
                href=`/event/${event.id}/scheduler`
            )
                i.fas.fa-calendar.me-1
                | Event Scheduler
.row.my-2
    .col-md-5
        .table-responsive
            table.table.table-striped
                thead
                    tr
                        th Timeslot
                        th.px-0
                        th Scene
                tbody(role='tablist')
                    each timeslot in schedule
                        tr
                            td.text-nowrap
                                if timeslot.display_name
                                    small= timeslot.display_name
                                else
                                    = timeslot.name
                                if timeslot.type === 'meal'
                                    i.fas.fa-utensils.fa-fw.ms-1(class=iconClass)

                            td.px-0
                                if timeslot.display_name
                                    i.far.fa-clock.fa-fw(
                                        data-bs-toggle='tooltip'
                                        title=timeslot.name
                                    )
                            td
                                ul.list-inline.my-0
                                    if timeslot.schedule_busy
                                        li.list-inline-item.me-2
                                            = timeslot.schedule_busy.name
                                            if timeslot.scenes.length
                                                span.ms-0 ,
                                    each scene, idx in timeslot.scenes
                                        if checkPermission('event') || scene.display_to_pc
                                            li.list-inline-item.me-2

                                                a.scene-name.me-1(
                                                    href='#'
                                                    id=`scene-${scene.id}-tab`
                                                    data-bs-toggle="tab"
                                                    data-bs-target=`#scene-${scene.id}-pane`
                                                    aria-controls=`scene-${scene.id}-pane`
                                                    aria-selected="false"
                                                    role="tab"
                                                    type="button"
                                                    class=scene.non_exclusive&&!checkPermission('event')?'fst-italic':''
                                                )

                                                    if checkPermission('event')
                                                        = scene.name
                                                    else if scene.player_name
                                                        = scene.player_name
                                                    else
                                                        = scene.name

                                                if scene.locations.confirmed
                                                    span.scene-location(style='font-size:.77rem')
                                                        span (
                                                        each location, lidx in scene.locations.confirmed

                                                            = location.name
                                                            if lidx < scene.locations.confirmed.length-1
                                                                span.ms-0.me-1 ,
                                                        span )
                                                if scene.npc
                                                    span.scene-npc.mx-1(style='font-size:.77rem')
                                                        span.me-0 (
                                                        i.far.fa-user.me-1
                                                        | #{scene.npc})

                                                if idx < timeslot.scenes.length-1
                                                    span.ms-0 ,
    .col
        .tab-content
            - const scenes = [];
            each timeslot in schedule
                each scene in timeslot.scenes
                    if checkPermission('event') || scene.display_to_pc
                        if _.indexOf(scenes, scene.id) === -1
                            - scenes.push(scene.id)
                            .tab-pane.fade(
                                role="tabpanel"
                                id=`scene-${scene.id}-pane`
                                aria-labelledby=`scene-${scene.id}-tab`
                                tabindex="0"
                                data-bs-parent='#scene-list'
                            )
                                +sceneCard(scene)



