.row.my-2
    label.col-form-label.col-md-3(for="campaign_name") Name
    .col
        input.form-control(type="text",placeholder="Campaign Name",name="campaign[name]",value=campaign.name,id='campaign_name')

.row.my-2
    label.col-form-label.col-md-3(for="campaign_site") Campaign Site URL
    .col
        input.form-control#campaign_site(type="text",placeholder="URL",name="campaign[site]",value=campaign.site)
        div.invalid-feedback Must be a valid, unique URL

if currentCampaign.default_site
    .row.my-2
        .col
            .form-check.form-switch
                input.form-check-input#campaign_default_site(type="checkbox", name="campaign[default_site]", checked=campaign.default_site)
                label.form-check-label(for="campaign_default_site") Default Site

.row.my-2
    label.col-form-label.col-md-3 Additional Settings

    .col
        .row.mb-1
            .col
                a.btn.btn-sm.btn-outline-info.me-2(href='/admin/rulebook') Rulebooks
                a.btn.btn-sm.btn-outline-info.me-2(href='/admin/upload') Uploads
                a.btn.btn-sm.btn-outline-info.me-2(href='/admin/font') Fonts
                a.btn.btn-sm.btn-outline-info.me-2(href='/admin/documentation') Documentations
                a.btn.btn-sm.btn-outline-info.me-2(href='/admin/tag') Tags
        .row
            .col

                a.btn.btn-sm.btn-outline-info.me-2(href='/admin/location') Locations
                a.btn.btn-sm.btn-outline-info.me-2(href='/admin/timeslot') Timeslots
                a.btn.btn-sm.btn-outline-info.me-2(href='/admin/schedule_busy_type') Schedule Busy Types



//- Description / Front Page
fieldset.mb-2.border.p-2.rounded
    label.h5.w-100#description-heading(data-bs-toggle="collapse" data-bs-target="#description-container" aria-expanded="false" area-controls="description-container") Description / Front Page
        span.float-end.ps-2
            i.fa.fa-chevron-up
            i.fa.fa-chevron-down

    #description-container.collapse(aria-labeledby='description-heading')
        .row.my-2
            .col
                +htmlEditor('campaign_description', 'campaign[description]', 10, 500, campaign.description, true)


//- Features
fieldset.mb-2.border.p-2.rounded
    label.h5.w-100#features-heading(data-bs-toggle="collapse" data-bs-target="#features-container" aria-expanded="false" area-controls="features-container") Website Features
        span.float-end.ps-2
            i.fa.fa-chevron-up
            i.fa.fa-chevron-down
    #features-container.collapse(aria-labeledby='features-heading')
        .row.my-2
            label.col-form-label.col-md-3(for="campaign_display_map") Display Map
            .col
                select.form-select.select2#campaign_display_map(name="campaign[display_map]")
                    for value in ['disabled', 'private', 'public']
                        option(value=value selected=campaign.display_map===value)=capitalize(value)
                .form-text Should Maps be disabled, displayed to Players+ or public?

        .row.my-2
            label.col-form-label.col-md-3(for="campaign_display_glossary") Display Glossary
            .col
                select.form-select.select2#campaign_display_glossary(name="campaign[display_glossary]")
                    for value in ['disabled', 'private', 'public']
                        option(value=value selected=campaign.display_glossary===value)=capitalize(value)
                .form-text Should the Glossary be disabled, displayed to Players+ or public?
        .row.my-2
            label.col-form-label.col-md-3(for="campaign_display_skill_doc") Display Skill Document
            .col
                select.form-select.select2#campaign_display_skill_doc(name="campaign[display_skill_doc]")
                    for value in ['private', 'public']
                        option(value=value selected=campaign.display_skill_doc===value)=capitalize(value)
                .form-text Should the Skills Document be displayed to Players+ or public?


        .row.my-2
            .col
                .form-check.form-switch
                    input.form-check-input#campaign_display_translations(type="checkbox", name="campaign[display_translations]", checked=campaign.display_translations)
                    label.form-check-label(for="campaign_display_translations") Display Translations
        .row.my-2
            .col
                .form-check.form-switch
                    input.form-check-input#campaign_display_gallery(type="checkbox", name="campaign[display_gallery]", checked=campaign.display_gallery)
                    label.form-check-label(for="campaign_display_gallery") Display Gallery
                    .form-text Gallery is available to #{currentCampaign.user_type_map['event staff'].name} and higher by default.
            .col
                .form-check.form-switch
                    input.form-check-input#campaign_player_gallery(type="checkbox", name="campaign[player_gallery]", checked=campaign.player_gallery)
                    label.form-check-label(for="campaign_player_gallery") Gallery available to #{capitalize(currentCampaign.user_type_map['player'].name)}s
                    .form-text Requires Display Gallery.  This will expose PC names to #{capitalize(currentCampaign.user_type_map['player'].name)}s
        .row.my-2
            .col
                .form-check.form-switch
                    input.form-check-input#campaign_display_schedule(type="checkbox", name="campaign[display_schedule]", checked=campaign.display_schedule)
                    label.form-check-label(for="campaign_display_schedule") Enable Event/Scene Scheduler





//- Website Display
fieldset.mb-2.border.p-2.rounded
    label.h5.w-100#design-heading(data-bs-toggle="collapse" data-bs-target="#design-container" aria-expanded="false" area-controls="design-container") Website Look and Feel
        span.float-end.ps-2
            i.fa.fa-chevron-up
            i.fa.fa-chevron-down

    #design-container.collapse(aria-labeledby='design-heading')
        .row.my-2
            label.col-form-label.col-md-3(for="campaign_theme") Theme
            .col
                select.form-select.select2#campaign_theme(name="campaign[theme]" data-placeholder="Theme", required)
                    option
                    for theme in themes
                        option(value=theme, selected=campaign.theme===theme)= theme
                .form-check.form-switch.mt-1
                    input.form-check-input#campaign_menu_dark(type="checkbox", name="campaign[menu_dark]", checked=campaign.menu_dark)
                    label.form-check-label(for="campaign_menu_dark") Use Light Menu Text
        if websiteImages
            .row.my-2
                .label.col-form-label.col-md-3(for="campaign_image") Campaign Image (front page)
                .col
                    select.form-select.select2#campaign_image(name="campaign[image_id]" data-placeholder="Image")
                        option
                        for image in websiteImages
                            option(value=image.id, selected=campaign.image_id===image.id)= image.upload.name

        if faviconImages
            .row.my-2
                label.col-form-label.col-md-3(for="campaign_favicon") Favicon(Browser Tab)
                .col
                    select.form-select.select2#campaign_favicon(name="campaign[favicon_id]" data-placeholder="Favicon")
                        option
                        for image in faviconImages
                            option(value=image.id, selected=campaign.favicon_id===image.id)= image.upload.name
        .row.my-2
            label.col-form-label.col-md-3(for="campaign_header_font") Header Font (from Google Fonts)
            .col
                select.form-select.select2#campaign_header_font(name="campaign[header_font]" data-placeholder='Google Font')
                    option
                    for item in googleFonts
                        option(value=item.family selected=item.family===campaign.header_font)= item.family
        .row.my-2
            label.col-form-label.col-md-3(for="campaign_body_font") Body Font (from Google Fonts)
            .col
                select.form-select.select2#campaign_body_font(name="campaign[body_font]" data-placeholder='Google Font')
                    option
                    for item in googleFonts
                        option(value=item.family selected=item.family===campaign.body_font)= item.family
        .row.my-2
            .col
                label.control-label.w-100#css-heading(for="campaign_css", data-bs-toggle="collapse" data-bs-target="#css-container" aria-expanded="false" area-controls="css-container") Custom CSS
                    i.expand-text-shown.ms-4 (click to hide editor)
                    i.expand-text.ms-4 (click to show editor)
                    span.float-end.ps-2
                        i.fa.fa-chevron-up
                        i.fa.fa-chevron-down

                #css-container.collapse(aria-labeledby="css-heading")
                    +cssEditor('campaign_css', 'campaign[css]', 5, 200, campaign.css)

//- Renaming
fieldset.mb-2.border.p-2.rounded
    label.h5.w-100#naming-heading(data-bs-toggle="collapse" data-bs-target="#naming-container" aria-expanded="false" area-controls="naming-container") Campaign-specific Names
        span.float-end.ps-2
            i.fa.fa-chevron-up
            i.fa.fa-chevron-down

    #naming-container.collapse(aria-labeledby='naming-heading')
        .row.my-2
            .col
                .alert.alert-info These fields allow you to rename certain objects/names on the website to be correct for your campaign's nomenclature.
        .row.my-2
            .col-md-4
                h4 User Type
            .col-md-4
                strong Name
            .col-md-4
                strong Order
        -
            const types = [];
            for (const type of _.keys(campaign.user_type_map)){
                const doc = {
                    type: type,
                    name: campaign.user_type_map[type].name,
                    order: campaign.user_type_map[type].order
                };

                types.push(doc);
            }

        each type in _.sortBy(types, 'order')
            .row.my-2
                .col-md-4
                    strong= type.type
                .col-md-4
                    input.form-control(
                        id=`campaign_user_type_map-${type.type}-name`
                        placeholder="Name"
                        name=`campaign[user_type_map][${type.type}][name]`
                        value=type.name
                    )
                .col-md-4
                    input.form-control(
                        type='number'
                        id=`campaign_user_type_map-${type.type}-name`
                        placeholder="Order"
                        name=`campaign[user_type_map][${type.type}][order]`
                        value=type.order
                    )
        .row.my-2
            .col-md
                h4 Other

        each value, type in config.get('renames')
            .row.my-2
                .col-md-4
                    strong=type
                .col-md-8
                    input.form-control(
                        type='text'
                        id=`campaign_user_rename_map-${type}`
                        name=`campaign[rename_map][${type}]`
                        value=campaign.rename_map[type]
                    )

//- Character Points
fieldset.mb-2.border.p-2.rounded
    label.h5.w-100#cp-heading(data-bs-toggle="collapse" data-bs-target="#cp-container" aria-expanded="false" area-controls="cp-container") #{currentCampaign.renames.character_point.singular} Options
        span.float-end.ps-2
            i.fa.fa-chevron-up
            i.fa.fa-chevron-down
    #cp-container.collapse(aria-labeledby="cp-heading")
        .row.my-2
            .col
                .form-check.form-switch
                    input.form-check-input#campaign_display_cp(type="checkbox", name="campaign[display_cp]", checked=campaign.display_cp)
                    label.form-check-label(for="campaign_display_cp") Enable #{currentCampaign.renames.character_point.singular} Tracker and #{currentCampaign.renames.cp.singular} limits
            .col
                .form-check.form-switch
                    input.form-check-input#campaign_cp_approval(type="checkbox", name="campaign[cp_approval]", checked=campaign.cp_approval)
                    label.form-check-label(for="campaign_cp_approval") Require Staff approval for #{currentCampaign.renames.cp.singular} Grants
            .col
                .form-check.form-switch
                    input.form-check-input#campaign_cp_requests(type="checkbox", name="campaign[cp_requests]", checked=campaign.cp_requests)
                    label.form-check-label(for="campaign_cp_approval") Allow Players to request #{currentCampaign.renames.cp.singular} Grants
        .row.my-2
            label.col-form-label.col-md-4(for="campaign_cp_base") Base/Starting #{currentCampaign.renames.character_point.singular}
            .col
                input.form-control#campaign_cp_base(placeholder=currentCampaign.renames.cp.singular name="campaign[cp_base]" value=campaign.cp_base type='number')
        .row.my-2
            label.col-form-label.col-md-4(for="campaign_cp_cap") Current #{currentCampaign.renames.character_point.singular} Cap
            .col
                input.form-control#campaign_cp_cap(placeholder=currentCampaign.renames.cp.singular,name="campaign[cp_cap]",value=campaign.cp_cap type='number')
        .row.my-2
            label.col-form-label.col-md-4(for="campaign_cp_factor") Over-Cap #{currentCampaign.renames.cp.singular} Value
            .col
                input.form-control#campaign_cp_cap(placeholder="Factor",name="campaign[cp_factor]",value=campaign.cp_factor type='number' max=1, min=0 step=0.125)

//- Character Sheet
if fonts.length
    fieldset.mb-2.border.p-2.rounded
        label.h5.w-100#character-sheet-heading(data-bs-toggle="collapse" data-bs-target="#character-sheet-container" aria-expanded="false" area-controls="character-sheet-container") Character Sheet Options
            span.float-end.ps-2
                i.fa.fa-chevron-up
                i.fa.fa-chevron-down

        #character-sheet-container.collapse(aria-labeledby='character-sheet-heading')
            .row.my-2
                label.col-form-label.col-md-3(for="campaign_default_character_sheet_title_font_id") Character Sheet Title Font
                .col
                    select.form-select.select2#campaign_character_sheet_title_font_id(name="campaign[character_sheet_title_font_id]" data-placeholder='Title Font')
                        option
                        for font in fonts
                            option(value=font.id selected=campaign.character_sheet_title_font_id===font.id)
                                =font.name
                label.col-form-label.col-md-2.text-end(for="campaign_character_sheet_title_font_scale") Scale:
                .col-md-2
                    input.form-control#campaign_character_sheet_title_font_scale(
                        placeholder="Scale"
                        name="campaign[character_sheet_title_font_scale]"
                        value=campaign.character_sheet_title_font_scale
                        type='number'
                        max=3
                        min=0.1
                        step=0.1
                    )

            .row.my-2
                label.col-form-label.col-md-3(for="campaign_default_character_sheet_header_font_id") Character Sheet Header Font
                .col
                    select.form-select.select2#campaign_character_sheet_header_font_id(name="campaign[character_sheet_header_font_id]" data-placeholder='Header Font')
                        option
                        for font in fonts
                            option(value=font.id selected=campaign.character_sheet_header_font_id===font.id)
                                =font.name
                label.col-form-label.col-md-2.text-end(for="campaign_character_sheet_header_font_scale") Scale:
                .col-md-2
                    input.form-control#campaign_character_sheet_header_font_scale(
                        placeholder="Scale"
                        name="campaign[character_sheet_header_font_scale]"
                        value=campaign.character_sheet_header_font_scale
                        type='number'
                        max=3
                        min=0.1
                        step=0.1
                    )


            .row.my-2
                label.control-label.col-form-label.col-md-3(for="campaign_character_sheet_body_font_id") Character Sheet Body Font
                .col
                    select.form-select.select2#campaign_character_sheet_body_font_id(name="campaign[character_sheet_body_font_id]" data-placeholder='Body Font')
                        option
                        for font in fonts
                            option(value=font.id selected=campaign.character_sheet_body_font_id===font.id)
                                =font.name
                label.col-form-label.col-md-2.text-end(for="campaign_character_sheet_body_font_scale") Scale:
                .col-md-2
                    input.form-control#campaign_character_sheet_body_font_scale(
                        placeholder="Scale"
                        name="campaign[character_sheet_body_font_scale]"
                        value=campaign.character_sheet_body_font_scale
                        type='number'
                        max=3
                        min=0.1
                        step=0.1
                    )

//- Google Drive
fieldset.mb-2.border.p-2.rounded
    label.h5.w-100#drive-heading(data-bs-toggle="collapse" data-bs-target="#drive-container" aria-expanded="false" area-controls="drive-container") Google Drive Options
        span.float-end.ps-2
            i.fa.fa-chevron-up
            i.fa.fa-chevron-down
    #drive-container.collapse(aria-labeledby="drive-heading")
        .row.my-2
            .col
                .alert.alert-info These fields allow you to provide handy links to Google Drive folders to your Staff, NPCs and Players.  This will not grant access to these folders, all sharing must be done within Google Drive itself.  Links to individual player folders can be added to the player user directly.

        .row.my-2
            label.col-form-label.col-md-3(for="campaign_staff_drive") Staff Drive Folder
            .col
                input.form-control#campaign_staff_drive(placeholder="URL",name="campaign[staff_drive_folder]",value=campaign.staff_drive_folder)
        .row.my-2
            label.col-form-label.col-md-3(for="campaign_npc_drive") NPC Drive Folder
            .col
                input.form-control#campaign_npc_drive(placeholder="URL",name="campaign[npc_drive_folder]",value=campaign.npc_drive_folder)
        .row.my-2
            label.col-form-label.col-md-3(for="campaign_player_drive") Player Drive Folder
            .col
                input.form-control#campaign_player_drive(placeholder="URL",name="campaign[player_drive_folder]",value=campaign.player_drive_folder)
        if campaign.display_translations
            .row.my-2
                label.col-form-label.col-md-3(for="campain_translation_drive_folder") Translations Drive Folder
                .col
                    .input-group
                        .input-group-text https://drive.google.com/drive/u/0/folders/
                        input.form-control#campain_translation_drive_folder(placeholder="ID",name="campaign[translation_drive_folder]",value=campaign.translation_drive_folder)
                    .form-text
                        |Make sure this folder is shared with #{config.get('drive.credentials.client_email')} as a Editor

//- Events
fieldset.mb-2.border.p-2.rounded
    label.h5.w-100#event-heading(data-bs-toggle="collapse" data-bs-target="#event-container" aria-expanded="false" area-controls="event-container") Event Options
        span.float-end.ps-2
            i.fa.fa-chevron-up
            i.fa.fa-chevron-down
    #event-container.collapse(aria-labeledby="event-heading")
        .row.my-2
            .col
                .alert.alert-info These fields allow you to provide default values for events for this campaign, and to set custom fields for attendees to fill out.

        .row.my-2
            label.col-form-label.col-md-4(for="campaign_event_default_cost") Default Event Cost in Dollars
            .col
                .input-group
                    .input-group-text $
                    input.form-control#campaign_event_default_cost(
                        placeholder="Dollars"
                        name="campaign[event_default_cost]"
                        value=campaign.event_default_cost
                        type='number'
                    )
                    .input-group-text .00
        .row.my-2
            label.col-form-label.col-md-4(for="campaign_event_default_location") Default Event Location
            .col
                input.form-control#campaign_event_default_location(type="text" placeholder="Location" name="campaign[event_default_location]" value=campaign.event_default_location)

        .row.my-2
            label.col-form-label.col-md-4(for="campaign_timezone") Campaign Timezone
            .col
                select.form-select.select2#campaign_timezone(name="campaign[timezone]" data-placeholder="Timezone", required)
                    option
                    for timezone in moment.tz.names()
                        option(value=timezone, selected=campaign.timezone===timezone)= timezone
        .row.my-2
            label.col-form-label.col-md-4(for="campaign_event_attendance_cp") Event Attendance #{currentCampaign.renames.cp.singular}
            .col
                input.form-control#campaign_event_attendance_cp(placeholder=currentCampaign.renames.cp.singular,name="campaign[event_attendance_cp]",value=campaign.event_attendance_cp type='number' min=0 step=0.125)

        .row.my-2
            label.col-form-label.col-md-4(for="campaign_post_event_survey_cp") #{currentCampaign.renames.post_event_survey.singular} #{currentCampaign.renames.cp.singular}
            .col
                input.form-control#campaign_post_event_survey_cp(placeholder=currentCampaign.renames.cp.singular,name="campaign[post_event_survey_cp]",value=campaign.post_event_survey_cp type='number' min=0 step=0.125)

        .row.my-2
            label.col-form-label.col-md-4(for="campaign_post_event_survey_hide_days")
                    | Hide #{currentCampaign.renames.post_event_survey.singular} Results from Staff
            .col
                .input-group
                    input.form-control#campaign_event_default_location(placeholder="Days",name="campaign[post_event_survey_hide_days]",value=campaign.post_event_survey_hide_days type='number' max=14, min=0)
                    .input-group-text Days

if campaign.display_schedule
    fieldset.mb-2.border.p-2.rounded
        label.h5.w-100#schedule-heading(data-bs-toggle="collapse" data-bs-target="#schedule-container" aria-expanded="false" area-controls="schedule-container") Schedule Options
            span.float-end.ps-2
                i.fa.fa-chevron-up
                i.fa.fa-chevron-down
        #schedule-container.collapse(aria-labeledby="schedule-heading")
            .row.my-2
                label.col-form-label.col-md-4(for="campaign_default_setup_slots") Default Setup Slots
                .col
                    input.form-control#campaign_default_setup_slots(placeholder="Setup Slots",name="campaign[default_setup_slots]",value=campaign.default_setup_slots type='number' min=0)
            .row.my-2
                label.col-form-label.col-md-4(for="campaign_default_svene_slots") Default Scene Slots
                .col
                    input.form-control#campaign_default_scene_slots(placeholder="Scene Slots",name="campaign[default_scene_slots]",value=campaign.default_scene_slots type='number' min=1)
            .row.my-2
                label.col-form-label.col-md-4(for="campaign_default_cleanup_slots") Default Cleanup Slots
                .col
                    input.form-control#campaign_default_cleanup_slots(placeholder="Cleanup Slots",name="campaign[default_cleanup_slots]",value=campaign.default_cleanup_slots type='number' min=0)
            .row.my-2
                .col
                    .form-check.form-switch
                        input.form-check-input#campaign_schedule_y_location(type="checkbox", name="campaign[schedule_y_location]", checked=campaign.schedule_y_location)
                        label.form-check-label(for="campaign_schedule_y_location") Use Locations as Vertical Axis
                .col
                    .form-check.form-switch
                        input.form-check-input#campaign_schedule_users(type="checkbox", name="campaign[schedule_players]", checked=campaign.schedule_players)
                        label.form-check-label(for="campaign_schedule_players") Schedule Players in the Event Scheduler

//- Translations
if campaign.display_translations && fonts.length
    fieldset.mb-2.border.p-2.rounded
        label.h5.w-100#translation-heading(data-bs-toggle="collapse" data-bs-target="#translation-container" aria-expanded="false" area-controls="translation-container") Translations Options
            span.float-end.ps-2
                i.fa.fa-chevron-up
                i.fa.fa-chevron-down
        #translation-container.collapse(aria-labeledby="translation-heading")
            .row.my-2
                label.col-form-label.col-md-4(for="campaign_default_translation_title_font_id") Default Translation Title Font
                .col
                    select.form-select.select2#campaign_default_translation_title_font_id(name="campaign[default_translation_title_font_id]" data-placeholder='Title Font')
                        option
                        for font in fonts
                            option(value=font.id selected=campaign.default_translation_title_font_id===font.id)
                                =font.name

            .row.my-2
                label.col-form-label.col-md-4(for="campaign_default_translation_header_font_id") Default Translation Header Font
                .col
                    select.form-select.select2#campaign_default_translation_header_font_id(name="campaign[default_translation_header_font_id]" data-placeholder='Header Font')
                        option
                        for font in fonts
                            option(value=font.id selected=campaign.default_translation_header_font_id===font.id)
                                =font.name

            .row.my-2
                label.col-form-label.col-md-4(for="campaign_default_translation_body_font_id") Default Translation Body Font
                .col
                    select.form-select.select2#campaign_default_translation_body_font_id(name="campaign[default_translation_body_font_id]" data-placeholder='Body Font')
                        option
                        for font in fonts
                            option(value=font.id selected=campaign.default_translation_body_font_id===font.id)
                                =font.name
            .row.my-2
                label.col-form-label.col-md-4(for="campaign_translation_scale") Text Document Scale
                .col
                    input.form-control#campaign_translation_scale(
                        placeholder="Scale"
                        name="campaign[translation_scale]"
                        value=campaign.translation_scale
                        type='number'
                        max=5
                        min=0.5
                        step=0.1
                    )

//- Authentication
fieldset.mb-2.border.p-2.rounded
    label.h5.w-100#authentication-heading(data-bs-toggle="collapse" data-bs-target="#authentication-container" aria-expanded="false" aria-controls="authentication-container") Authentication and Payment Options
        span.float-end.ps-2
            i.fa.fa-chevron-up
            i.fa.fa-chevron-down
    #authentication-container.collapse(aria-labeledby="authentication-heading")
        .row.my-2

            .label.col-form-label.col-md-3(for="campaign_google_client_id") Google OAuth Client ID
            .col
                input.form-control#campaign_google_client_id(placeholder="OAuth Client ID",name="campaign[google_client_id]",value=campaign.google_client_id)
        .row.my-2
            label.col-form-label.col-md-3(for="campaign_google_client_secret") Google OAuth Client Secret
            .col
                input.form-control#campaign_google_client_secret(placeholder="OAuth Client Secret",name="campaign[google_client_secret]",value=campaign.google_client_secret)
        .row.my-2
            .col.offset-md-3
                .form-check.form-switch
                    input.form-check-input#campaign_default_to_player(type="checkbox", name="campaign[default_to_player]", checked=campaign.default_to_player)
                    label.form-check-label(for="campaign_default_to_player") Default new users to Players
        .row.my-2
            .label.col-form-label.col-md-3(for="campaign_stripe") Stripe Account
            .col
                input#stripe-account-id(type='hidden' value=campaign.stripe_account_id)
                if campaign.stripe_account_id && campaign.stripe_account_ready
                    p
                        i.fa.fa-credit-card.me-1
                        | Stripe account connected
                else

                    button.btn.btn-outline-primary#stripe-signup-btn(
                        data-url='/admin/stripe/account'
                        data-csrf=csrfToken
                        style=campaign.stripe_account_id?'display:none':''
                    ) Create Stripe Account

                    button.btn.btn-outline-primary#stripe-add-info-btn(
                        data-url='/admin/stripe/account_link'
                        data-csrf=csrfToken
                        style=campaign.stripe_account_id && !campaign.stripe_account_ready?'':"display:none"
                    ) Enter Stripe Info


                    p#stripe-error(style='display:none') Something went wrong!
                    #stripe-dev-callout(style='display:none')
                        p#stripe-connected-account-id(style='display:none')
                        p#stripe-creating-account(style='display:none') Creating Connected Account
                        p#stripe-adding-info(style='display:none') Adding onboarding info


.row.my-2
    .col
        button.btn.btn-primary(type="submit")= campaign.id?'Update':'Create'
        a.btn.btn-link(href="/admin/campaign") Cancel
