if (backto)
    input(type="hidden" name="backto" value=backto)

.row.my-2
    .col
        label.control-label(for="event_name") Event Name
        input.form-control#event_name(type="text" placeholder="Name" name="event[name]" value=event.name required)
        div.invalid-feedback Please choose a valid name

    if currentCampaign.display_schedule
        .col-md-3
            label.control-label(for="event_schedule_status") Schedule Status
            select.form-select.select2#event_schedule_status(name="event[schedule_status]" required)
                for status in ['private', 'staff only', 'player visible']
                    option(value=status selected=status===event.schedule_status)=capitalize(status)

.row.my-2
    .col-md
        label.control-label(for="event_date") Date(s)
        .input-group#event_dates
            input.form-control#event_start_date(
                type="text"
                placeholder="Start"
                name="event[start_date]"
                value=event.start_date
                autocomplete="off"
            )
            select.select2#event_start_hour(name="event[start_hour]" data-placeholder="Start Hour" required )
                option
                for hour in _.range(0, 24)
                    option(value=hour selected=Number(event.start_hour)===hour)
                        +hourDisplay(hour)
            .input-group-text to
            input.form-control#event_end_date(
                type="text"
                placeholder="End"
                name="event[end_date]"
                value=event.end_date
                autocomplete="off"
            )
            select.select2#event_end_hour(name="event[end_hour]" data-placeholder="End Hour" required)
                option
                for hour in _.range(0, 24)
                    option(value=hour selected=Number(event.end_hour)===hour)
                        +hourDisplay(hour)


    .col-md-3
        label.control-label(for="event_cost") Cost in Dollars
        .input-group
            .input-group-text $
            input.form-control#event_cost(placeholder="Dollars",name="event[cost]",value=event.cost type='number' required)
            .input-group-text .00

.row.my-2
    .col

        label.control-label(for="event_location") Location
        input.form-control#event_location(type="text" placeholder="Location" name="event[location]" value=event.location)

.row.my-2
    .col
        .form-check.form-switch
            input.form-check-input#event_registration_open(type="checkbox" name="event[registration_open]" checked=event.registration_open)
            label.form-check-label(for="event_registration_open") Event Registration Open
    .col
        .form-check.form-switch
            input.form-check-input#event_hide_attendees(type="checkbox" name="event[hide_attendees]" checked=event.hide_attendees)
            label.form-check-label(for="event_hide_attendees") Hide Attendee List from Players/Event NPCs

.row.my-2
    .col
         +markdownEditor('Event Description', 'event_description', 'event[description]', 3, 150, event.description, true )


.row.my-2
    .col
        label.control-label(for="event_pre_event_survey_id") Registration Survey
        select.form-select.complex-select2#event_pre_event_survey_id(name="event[pre_event_survey_id]" data-placeholder='Registration Survey')
            option(
                value=-1
                selected=!event.pre_event_survey_id
                data-html='<i>None</i>'
                data-text='<i>None</i>'

            ) None
            for survey in surveys.pre
                option(
                    value=survey.id
                    selected=event.pre_event_survey_id===survey.id
                    data-html=`${survey.name}${survey.is_default?'<span class="badge text-bg-info ms-2">Default</span>':''}`
                    data-text=`${survey.name}${survey.is_default?'<span class="badge text-bg-info ms-2">Default</span>':''}`
                )= survey.name
                    if survey.is_default
                        |  ( Default )

.row.my-2
    .col-md-8
        label.control-label(for="event_post_event_survey_id") #{currentCampaign.renames.post_event_survey.singular}
        select.form-select.complex-select2#event_post_event_survey_id(name="event[post_event_survey_id]" data-placeholder=currentCampaign.renames.post_event_survey.singular data-allowClear=true)
            option(
                value=-1
                selected=!event.post_event_survey_id
                data-html='<i>None</i>'
                data-text='<i>None</i>'

            ) None
            for survey in surveys.post
                option(
                    value=survey.id
                    selected=event.post_event_survey_id===survey.id
                    data-html=`${survey.name}${survey.is_default?'<span class="badge text-bg-info ms-2">Default</span>':''}`
                    data-text=`${survey.name}${survey.is_default?'<span class="badge text-bg-info ms-2">Default</span>':''}`

                )=survey.name
                    if survey.is_default
                        |  ( Default )

    .col-md-4
        label.control-label(for="event_post_event_survey_deadline") Post-event Survey Deadline
        .input-group#event_post_event_survey_deadline
            input.form-control#event_post_event_survey_deadline_date(
                type="text"
                placeholder="Date"
                name="event[post_event_survey_deadline_date]"
                value=event.post_event_survey_deadline_date
                autocomplete="off"
            )
            select.select2#event_post_event_survey_deadline_hour(name="event[post_event_survey_deadline_hour]" data-placeholder="Hour" )
                option
                for hour in _.range(0, 24)
                    option(value=hour selected=Number(event.post_event_survey_deadline_hour)===hour)
                        +hourDisplay(hour)

.row.my-2
    .col

        legend.control-label Event Addons
        #event_addons-list
            +eventAddonsHeader()
            - let idx = 0;
            for addon in event.addons
                +eventAddon(addon, idx)
                - idx++;
            +eventAddon({id: 'new'}, 'new')


.row.my-2
    .col

        button.btn.btn-primary(type="submit")= event.id?'Update':'Create'
        a.btn.btn-link(href="/event") Cancel

