extends ../layout

include ../partials/event
include ../partials/survey
include ../partials/attendee
include ../partials/image

block content
    input#eventId(type='hidden' value=event.id)
    .row.my-2.text-bg-light.rounded.border.p-2
        .col-lg
            h3.d-inline #{event.name} - Check-in


        .col-lg.text-lg-end
            h4.d-inline.align-bottom
                +eventDate(event.start_time, event.end_time)

    .row.my-3
        .col

            ul.nav.nav-tabs.w-100.my-2#checkinTabs(role="tablist")
                li.nav-item(role="presentation")
                    a.nav-link.active#player-checkin-tab(href="#player-checkin" data-bs-toggle="tab" role="tab" aria-controls="player-checkin" aria-selected="true") Players

                li.nav-item(role="presentation")
                    a.nav-link#staff-checkin-tab(href="#staff-checkin" data-bs-toggle="tab" role="tab" aria-controls="staff-checkin" aria-selected="false") Staff

            .tab-content#checkinContent
                .tab-pane.fade.show.active#player-checkin(role="tabpanel" aria-labelledby="player-checkin-tab")
                    h4 Players

                    - const players = event.players.filter(player => {return player.attending});
                    .table-responsive.my-2
                        .col-sm-6.offset-sm-3.text-center.table-loading
                            .spinner-border.m-5(role="status" style="width: 3rem; height: 3rem;")
                                .visually-hidden Table is Loading
                        table.table.table-striped.data-table.my-3.dt-responsive.nowrap.table-sm.w-100.checkin-table(
                            style="display: none"
                        )
                            thead
                                tr
                                    th
                                    th(data-priority=1)
                                    th(data-priority=2) Attendee
                                    th(data-priority=99) Character
                                    th(data-priority=3) Paid
                                    if event.addons
                                        each addon in event.addons
                                            if addon.available_to_player && addon.on_checkin
                                                th(data-priority=4)=addon.name
                                    if event.pre_event_survey
                                        each field in event.pre_event_survey.definition
                                            if field.on_checkin && (!field.visible_to || field.visible_to !== 'staff')
                                                th(data-priority=5)= field.name
                            tbody
                                for attendee in players
                                    tr
                                        td.dtr-control
                                        td(data-priority=1)
                                            span.badge.text-bg-success.event-uncheckin-btn.action-confirmation-btn(
                                                id=`event-checkedin-${attendee.id}`
                                                data-attendee_id=attendee.id
                                                data-csrf=csrfToken
                                                data-url=`/event/${event.id}/uncheckin/${attendee.id}`
                                                style=attendee.checked_in?'':'display:none'
                                            )
                                                i.fas.fa-clipboard-check.fa-fw.me-1
                                                | Checked In

                                            button.btn.btn-xs.btn-outline-primary.event-checkin-btn(
                                                role="button" id=`event-checkedin-${attendee.id}`
                                                data-attendee_id=attendee.id
                                                data-csrf=csrfToken
                                                data-url=`/event/${event.id}/checkin/${attendee.id}`
                                                style=attendee.checked_in?'display:none':''
                                            )
                                                i.fas.fa-clipboard.fa-fw.me-1
                                                | Check In
                                        td(data-priority=2)= attendee.user.name
                                            for documentation of currentCampaign.documentations
                                                if documentation.on_checkin
                                                    - userDoc = _.findWhere(attendee.documentations, {documentation_id: documentation.id})
                                                    if !userDoc || userDoc.status !== 'valid'
                                                        .badge.text-bg-danger.ms-2.rounded-pill(
                                                            title=userDoc?capitalize(userDoc.status):'Missing'
                                                            data-bs-toggle="tooltip"
                                                        )
                                                            if userDoc && userDoc.status === 'expired'
                                                                i.far.fa-clock.me-1
                                                            else
                                                                i.fa.fa-times-circle.me-1
                                                            = documentation.name
                                        td(data-priority=3)= attendee.character.name
                                        td(data-priority=4)
                                            if attendee.paid
                                                .badge.text-bg-success Yes
                                            else
                                                .badge.text-bg-danger No
                                        if event.addons
                                            each addon in event.addons
                                                if addon.available_to_player && addon.on_checkin
                                                    td
                                                        - const attendee_addon = _.findWhere(attendee.addons, {event_addon_id:Number(addon.id)})
                                                        if attendee_addon
                                                            if addon.charge_player
                                                                if attendee_addon.paid
                                                                    .badge.text-bg-success Paid
                                                                else
                                                                    .badge.text-bg-danger Unpaid
                                                            else
                                                                .badge.text-bg-success Yes
                                                        else
                                                            .badge.text-bg-warning No
                                        if event.pre_event_survey
                                            each field in event.pre_event_survey.definition
                                                if field.on_checkin && (!field.visible_to || field.visible_to !== 'staff')
                                                    td
                                                        +checkinCustomField(field, attendee)


                .tab-pane.fade#staff-checkin(role="tabpanel" aria-labelledby="staff-checkin-tab")
                    h4 Staff
                    - const staff = event.attendees.filter(attendee => {return attendee.user.type !== 'player' && attendee.attending});
                    .table-responsive.my-2
                        .col-sm-6.offset-sm-3.text-center.table-loading
                            .spinner-border.m-5(role="status" style="width: 3rem; height: 3rem;")
                                .visually-hidden Table is Loading
                        table.table.table-striped.data-table.my-3.dt-responsive.nowrap.table-sm.w-100.checkin-table(
                            style="display: none"
                        )
                            thead
                                tr
                                    th
                                    th(data-priority=1)
                                    th(data-priority=2) Attendee
                                    if event.addons
                                        each addon in event.addons
                                            if addon.available_to_staff && addon.on_checkin
                                                th(data-priority=3)=addon.name
                                    if event.pre_event_survey
                                        each field in event.pre_event_survey.definition
                                            if field.on_checkin && (!field.visible_to || field.visible_to !== 'player')
                                                th(data-priority=4)= field.name
                            tbody
                                for attendee in staff
                                    tr
                                        td.dtr-control
                                        td(data-priority=1)
                                            span.badge.text-bg-success.event-uncheckin-btn.action-confirmation-btn(
                                                id=`event-checkedin-${attendee.id}`
                                                data-attendee_id=attendee.id
                                                data-csrf=csrfToken
                                                data-url=`/event/${event.id}/uncheckin/${attendee.id}`
                                                style=attendee.checked_in?'':'display:none'
                                            )
                                                i.fas.fa-clipboard-check.fa-fw.me-1
                                                | Checked In

                                            button.btn.btn-xs.btn-outline-primary.event-checkin-btn(
                                                role="button" id=`event-checkedin-${attendee.id}`
                                                data-attendee_id=attendee.id
                                                data-csrf=csrfToken
                                                data-url=`/event/${event.id}/checkin/${attendee.id}`
                                                style=attendee.checked_in?'display:none':''
                                            )
                                                i.fas.fa-clipboard.fa-fw.me-1
                                                | Check In
                                        td(data-priority=2)= attendee.user.name
                                            for documentation of currentCampaign.documentations
                                                if documentation.on_checkin
                                                    - userDoc = _.findWhere(attendee.documentations, {documentation_id: documentation.id})
                                                    if !userDoc || userDoc.status !== 'valid'
                                                        .badge.text-bg-danger.ms-2.rounded-pill(
                                                            title=userDoc?capitalize(userDoc.status):'Missing'
                                                            data-bs-toggle="tooltip"
                                                        )
                                                            if userDoc && userDoc.status === 'expired'
                                                                i.far.fa-clock.me-1
                                                            else
                                                                i.fa.fa-times-circle.me-1
                                                            = documentation.name
                                        if event.addons
                                            each addon in event.addons
                                                if addon.available_to_staff && addon.on_checkin
                                                    td
                                                        - const attendee_addon = _.findWhere(attendee.addons, {event_addon_id:Number(addon.id)})
                                                        if attendee_addon
                                                            if addon.charge_staff
                                                                if attendee_addon.paid
                                                                    .badge.text-bg-success Paid
                                                                else
                                                                    .badge.text-bg-danger Unpaid
                                                            else
                                                                .badge.text-bg-success Yes
                                                        else
                                                            .badge.text-bg-warning No
                                        if event.pre_event_survey
                                            each field in event.pre_event_survey.definition
                                                if field.on_checkin && (!field.visible_to || field.visible_to !== 'player')
                                                    td
                                                        +checkinCustomField(field, attendee)
    +imageModal()

mixin checkinCustomField(field, attendee)
    -
        let data = null;
        if (_.has(attendee.pre_event_data, field.id)){
            data = attendee.pre_event_data[field.id].data;
        } else if (_.has(attendee.pre_event_data, field.name)){
            data = attendee.pre_event_data[field.name];
        }
    if field.type === 'boolean'
        if data
            .badge.text-bg-success Yes
        else
            .badge.text-bg-danger No
    else if field.type === 'image'
        if data
            - const content = `<img class="img-fluid image-container" src="${data.thumbnailUrl}">`;
            a.btn.btn-outline-info.btn-xs.me-1.img-display-btn(
                tabindex="0"
                role="button"
                data-bs-toggle="popover"
                data-bs-content=content
                data-bs-html="true"
                title=`${field.name} (expand)`
                data-imageurl=data.upload.url
                data-imagename=data.upload.name
            )
                i.fas.fa-fw(class=field.icon?field.icon:'fa-image')

    else if data
        != marked.parseInline(data, {breaks:false})



append scripts
    script(src='/javascripts/data-table.js')
    script(src='/javascripts/event.js')
    script.
        $(function(){
            const checkinTabStorageId = `cdb-checkin-tab-${$('#eventId').val()}`;
            const selectedTab = localStorage.getItem(checkinTabStorageId);
            if (selectedTab) {
                $(`#${selectedTab}`).tab('show');
            }
            $('#checkinTabs').on('shown.bs.tab', function(e){
                localStorage.setItem(checkinTabStorageId, $(e.target).attr('id'));
            });
        });
