extends ../layout

include ../partials/event.pug
include ../partials/attendee.pug

block content
    .row
        .col.card
            .row.card-header
                .col-md
                    h3.d-inline #{event.name} - Check-in

                    
                .col-md.text-md-end
                    h4.d-inline.align-bottom
                        +eventDate(event.start_time, event.end_time)

            .card-body
                - const players = event.players.filter(player => {return player.attending});
                .table-responsive.my-2
                    .col-sm-6.offset-sm-3.text-center.table-loading
                        .spinner-border.m-5(role="status" style="width: 3rem; height: 3rem;")
                            .visually-hidden Table is Loading
                    table.table.table-striped.data-table.my-3.dt-responsive.nowrap.table-sm.w-100(
                        style="display: none"
                    )
                        thead
                            tr
                                th
                                th
                                th Attendee
                                th Character
                                th Paid
                                if event.addons
                                    each addon in event.addons
                                        if addon.available_to_player && addon.on_checkin
                                            th=addon.name
                                if event.pre_event_survey
                                    each field in event.pre_event_survey.definition
                                        if field.on_checkin && (!field.visible_to || field.visible_to !== 'staff')
                                            th= field.name
                        tbody
                            for attendee in players
                                tr
                                    td.dtr-control
                                    td(data-priority=1)
                                        span.badge.text-bg-success.event-uncheckin-btn(
                                            id=`event-checkedin-${attendee.id}`
                                            data-attendee_id=attendee.id
                                            data-csrf=csrfToken
                                            data-url=`/event/${event.id}/uncheckin/${attendee.id}`
                                            style=attendee.checked_in?'':'display:none'
                                        )
                                            i.fas.fa-clipboard-check.fa-fw.me-1
                                            | Checked In

                                        button.btn.btn-xs.btn-outline-primary.event-checkin-btn(
                                            role="button" id=`event-checkedin-${attendee.id}`
                                            data-attendee_id=attendee.id
                                            data-csrf=csrfToken
                                            data-url=`/event/${event.id}/checkin/${attendee.id}`
                                            style=attendee.checked_in?'display:none':''
                                        )
                                            i.fas.fa-clipboard.fa-fw.me-1
                                            | Check In
                                    td(data-priority=2)= attendee.user.name
                                    td(data-priority=3)= attendee.character.name
                                    td(data-priority=4)
                                        if attendee.paid
                                            .badge.text-bg-success Yes
                                        else
                                            .badge.text-bg-danger No
                                    if event.addons
                                        each addon in event.addons
                                            if addon.available_to_player && addon.on_checkin
                                                td
                                                    - const attendee_addon = _.findWhere(attendee.addons, {event_addon_id:Number(addon.id)})
                                                    if attendee_addon
                                                        if addon.charge_player
                                                            if attendee_addon.paid
                                                                .badge.text-bg-success Paid
                                                            else
                                                                .badge.text-bg-danger Unpaid
                                                        else
                                                            .badge.text-bg-success Yes
                                                    else
                                                        .badge.text-bg-warning No
                                    if event.pre_event_survey
                                        each field in event.pre_event_survey.definition
                                            if field.on_checkin && (!field.visible_to || field.visible_to !== 'staff')
                                                td
                                                    if _.has(attendee.data, field.name)
                                                        if field.type === 'boolean'
                                                            if attendee.data[field.name]
                                                                .badge.text-bg-success Yes
                                                            else
                                                                .badge.text-bg-danger No
                                                        else
                                                            != marked.parseInline(attendee.data[field.name], {breaks:false})





append scripts
    script(src='/javascripts/data-table.js')
    script(src='/javascripts/event.js')
