extends ../layout


block content
    if checkPermission('gm')
        a.btn.btn-outline-success.my-2(href='/event/new')
            span(class="fa fa-plus")
            |  New Event


    ul.nav.nav-tabs.my-2#eventTabs(role="tablist")

        li.nav-item(role="presentation")
            a.nav-link.active#future-events-tab(href="#future-events" data-bs-toggle="tab" role="tab" aria-controls="active-pc" aria-selected="true") Upcoming Events

        li.nav-item(role="presentation")
            a.nav-link#past-events-tab(href="#past-events" data-bs-toggle="tab" role="tab" aria-controls="active-staff" aria-selected="false") Past Events


    .tab-content#eventTabContent
        .tab-pane.fade.show.active#future-events(role="tabpanel" aria-labelledby="future-events-tab")

            -
                const now = new Date()
                const futureEvents = events.filter(event => {
                    return event.start_time > now
                });
            +eventListDisplay(futureEvents)


        .tab-pane.fade#past-events(role="tabpanel" aria-labelledby="past-events-tab")
            -
                const pastEvents = events.filter(event => {
                    return event.start_time <= now
                });
            +eventListDisplay(pastEvents)



append scripts
    script(src='/javascripts/data-table.js')



mixin eventListDisplay(events)
    .table-responsive.my-2
        .col-sm-6.offset-sm-3.text-center.table-loading
            .spinner-border.m-5(role="status" style="width: 3rem; height: 3rem;")
                .visually-hidden Table is Loading
        table.table.table-striped.data-table.table-hover.my-3.dt-responsive.nowrap.table-sm.w-100(
            data-order='[[2, "desc"]]'
            style="display: none"
            )
            thead
                tr
                    th
                    th Name
                    th Date
                    th Cost
                    th Reg Open?
                    th Players
                    th Staff/NPCs
                    if checkPermission('gm')
                        th Actions

            tbody
                for event in events
                    -
                        event.players = event.attendees.filter(attendee => {return attendee.user.type === 'player'});

                    tr(class='clickable-row', data-click-object='event' data-click-id=event.id)
                        td.dtr-control
                        td= event.name
                        
                        - 
                            const startM = moment(event.start_time);
                            const endM = moment(event.end_time)
                            let dateStr = '';
                            
                            if (startM.format('YYYY-MM-DD') === endM.format('YYYY-MM-DD')){
                                dateStr = startM.format('ll');

                            } else if (startM.format('YYYY-MM') === endM.format('YYYY-MM')){
                                dateStr = `${startM.format('MMM D')} - ${endM.format('D, YYYY')}`;

                            } else if (startM.format('YYYY') === endM.format('YYYY')){
                                dateStr = `${startM.format('MMM D')} - ${endM.format('MMM D, YYYY')}` ;

                            } else {
                                dateStr = `${startM.format('MMM D')} - ${endM.format('MMM D, YYYY')}` ;

                            }
                        td= dateStr

                        td 
                            if event.cost
                                | $#{event.cost}.00
                            else 
                                i Free Event

                        td
                            if event.registration_open
                                span.badge.text-bg-success Yes
                            else
                                span.badge.text-bg-danger No

                        td=event.players.length
                        td=event.attendees.length - event.players.length
                        if checkPermission('gm')
                            td.text-right
                                a.btn.btn-outline-info.btn-xs.action-btn.me-1(
                                    role="button",
                                    title="Edit Event"
                                    data-bs-toggle="tooltip"
                                    href=`/event/${event.id}/edit`
                                )
                                    i.fas.fa-edit.fa-fw

                                a.btn.btn-outline-danger.btn-xs.delete-btn(
                                    role="button",
                                    title="Delete Event"
                                    data-bs-toggle="tooltip"
                                    url=`/event/${event.id}`
                                )
                                    i.fas.fa-trash.fa-fw
