extends ../layout

block content
    input#eventId(type='hidden' value=event.id)
    .row.my-2
        .col-md-4
            .input-group
                a.btn.btn-outline-success#schedule-snapshot-btn(
                    url=`/event/${event.id}/schedule`
                    data-csrf=csrfToken
                )

                    span(class="fa fa-camera")
                    |  Take Snapshot
                input.form-control#schedule-snapshot-name(type='text' placeholder='Snapshot Name')

    .table-responsive.mt-2
        .col-sm-6.offset-sm-3.text-center.table-loading
            .spinner-border.m-5(role="status" style="width: 3rem; height: 3rem;")
                .visually-hidden Table is Loading
        table.table.table-striped.data-table.my-3.dt-responsive.nowrap.table-sm.w-100.schedules-table(
            style="display: none"
            data-csrf=csrfToken
            )
            thead
                tr
                    th
                    th(data-priority="1") Name
                    th Date
                    th Scenes Scheduled
                    th Scenes Confirmed
                    th


            tbody
                for schedule in schedules
                    tr
                        - const current = schedule.version === _.max(_.pluck(schedules, 'version'))
                        td.dtr-control
                        td
                            if !schedule.name
                                i Unnamed
                            else
                                = schedule.name
                            if schedule.keep
                                .badge.text-bg-info.ms-2(data-bs-toggle='tooltip' title='Keep Snapshot') Keep
                            if schedule.read_only
                                .badge.text-bg-danger.ms-2 Read Only

                        td #{moment(schedule.created).format('l')} #{moment(schedule.created).format('LTS')}

                        td= (schedule.metadata && schedule.metadata.scenes) ? schedule.metadata.scenes.scheduled : 'unknown'
                        td= (schedule.metadata && schedule.metadata.scenes) ? schedule.metadata.scenes.confirmed : 'unknown'
                        td.text-end
                            if current
                                .badge.text-bg-success.mx-1 Current
                            else if currentCampaign.schedule_user_id === activeUser.id
                                a.btn.btn-outline-danger.btn-xs.action-confirmation-btn.mx-1.schedule-action-btn(
                                    role="button",
                                    url=`/event/${event.id}/schedule/${schedule.id}/restore`
                                    data-bs-toggle='tooltip'
                                    data-csrf=csrfToken
                                    title='Restore Schedule to this Snapshot'
                                )
                                    i.fas.fa-undo.fa-fw

                            if schedule.keep
                                a.btn.btn-outline-info.btn-xs.action-confirmation-btn.mx-1.schedule-action-btn(
                                    role="button",
                                    url=`/event/${event.id}/schedule/${schedule.id}/unkeep`
                                    data-bs-toggle='tooltip'
                                    data-csrf=csrfToken
                                    title='Allow Schedule Snapshot to be deleted'
                                )
                                    i.fas.fa-lock.fa-fw

                            else
                                a.btn.btn-outline-info.btn-xs.action-confirmation-btn.mx-1.schedule-action-btn(
                                    role="button",
                                    url=`/event/${event.id}/schedule/${schedule.id}/keep`
                                    data-bs-toggle='tooltip'
                                    data-csrf=csrfToken
                                    title='Mark Schedule Snapshot to Keep'
                                )
                                    i.fas.fa-lock-open.fa-fw

                            if !current && checkPermission('admin')
                                a.btn.btn-outline-danger.btn-xs.delete-btn.mx-1(
                                    role="button",
                                    url=`/event/${event.id}/schedule/${schedule.id}`
                                    data-back=`/event/${event.id}/schedules`
                                    data-bs-toggle='tooltip'
                                    title='Delete Snapshot'
                                    data-csrf=csrfToken
                                )
                                    i.fas.fa-trash.fa-fw
                            



append scripts
    script(src='/javascripts/data-table.js')
    script(src='/javascripts/schedule/snapshot.js')
