extends ../layout
include ../partials/event
include ../partials/post_event_survey

block content
    if checkPermission('contrib')
        ul.nav.nav-tabs.w-100.my-2#postEventSurveyTabs(role="tablist")
            li.nav-item(role="presentation")
                a.nav-link.active#player-surveys-tab(href="#player-surveys" data-bs-toggle="tab" role="tab" aria-controls="player-surveys" aria-selected="true") Player #{currentCampaign.renames.pes.singular}s

            li.nav-item(role="presentation")
                a.nav-link#staff-surveys-tab(href="#staff-surveys" data-bs-toggle="tab" role="tab" aria-controls="staff-surveys" aria-selected="true") Staff #{currentCampaign.renames.pes.singular}s

            li.nav-item(role="presentation")
                a.nav-link#my-surveys-tab(href="#my-surveys" data-bs-toggle="tab" role="tab" aria-controls="my-surveys" aria-selected="false") My #{currentCampaign.renames.post_event_survey.plural}

            li.nav-item(role="presentation")
                a.nav-link#updates-tab(href="#updates" data-bs-toggle="tab" role="tab" aria-controls="updates" aria-selected="false") Changelog

        .tab-content#postEventSurveyContent
            .tab-pane.fade.show.active#player-surveys(role="tabpanel" aria-labelledby="player-surveys-tab")
                h4 All #{currentCampaign.renames.post_event_survey.plural}
                -
                    const playerSurveys = post_event_surveys.filter( survey => {
                        return survey.user.type === 'player'
                    });

                +postEventSurveyGmTable(playerSurveys)

            .tab-pane.fade#staff-surveys(role="tabpanel" aria-labelledby="staff-surveys-tab")
                h4 All #{currentCampaign.renames.post_event_survey.plural}
                -
                    const staffSurveys = post_event_surveys.filter( survey => {
                        return survey.user.type !== 'player'
                    });
                +postEventSurveyGmTable(staffSurveys)

            .tab-pane.fade#my-surveys(role="tabpanel" aria-labelledby="my-surveys-tab")

                h4 My #{currentCampaign.renames.post_event_survey.plural}
                +postEventSurveySelfTable(my_post_event_surveys)
            .tab-pane.fade#updates(role="tabpanel" aria-labelledby="updates-tab")
                h4 #{currentCampaign.renames.post_event_survey.plural} Changelog
                +postEventUpdatesTable(allItems)
    else
        +postEventSurveySelfTable(my_post_event_surveys)



append scripts
    script(src='/javascripts/data-table.js')
    script.
        $(function(){
            $('[data-bs-toggle="tooltip"]').tooltip({delay: { 'show': 500, 'hide': 100 }});
            const tabStorageId = `cdb-post_event_survey-tab}`;
            const selectedTab = localStorage.getItem(tabStorageId);
            if (selectedTab) {
                $(`#${selectedTab}`).tab('show');
            }
            $('#postEventSurveyTabs').on('shown.bs.tab', function(e){
                localStorage.setItem(tabStorageId, $(e.target).attr('id'));
            });
        });

