.row.my-2
    .col
        label.control-label(for="page_name") Name
        input.form-control#page_name(type="text",placeholder="Name",name="page[name]",value=page.name, required)
        div.invalid-feedback Please choose a valid name
.row.my-2
    .col-md-7
        label.control-label(for="page_path") Path
        .input-group
            span.input-group-text.text-end https://#{currentCampaign.site}/page/
            input.form-control#page_name(type="text",placeholder="path",name="page[path]",value=page.path, required)
        div.invalid-feedback Please choose a valid path
    .col-md-5.d-flex.align-items-end
        .form-check.form-switch
            input.form-check-input#page_show_full_menu(type="checkbox", name="page[show_full_menu]", checked=page.show_full_menu)
            label.form-check-label(for="page_show_full_menu") Show the full menu on this page to non-logged-in users

.row.my-2
    .col
        label.control-label(for='page_permission') Permission required to view
        select.form-select.select2#page_permission(name='page[permission]' data-placeholder='Permission')
            option

            option(value='any' selected=page.permission==='any') Any (Non-authenticated)
            option(value='login' selected=page.permission==='login') Login required
            option(value='player' selected=page.permission==='player') #{capitalize(currentCampaign.user_type_map.player.name)} or higher required
            option(value='event' selected=page.permission==='event') #{capitalize(currentCampaign.user_type_map['event staff'].name)} or higher required
            option(value='contrib' selected=page.permission==='contrib') #{capitalize(currentCampaign.user_type_map['contributing staff'].name)} or higher required
            option(value='gm' selected=page.permission==='gm') #{capitalize(currentCampaign.user_type_map['core staff'].name)} Only
    .col
        label.control-label(for='page_manu') On Menu
        select.form-select.select2#page_menu(name="page[menu]" data-placeholder='Menu')
            option
            each menu in ['none', 'characters', 'events', 'setting', 'pages', 'admin', 'user']
                option(value=menu selected=page.menu===menu)=capitalize(menu)
.row.my-2
    .col
        label.control-label(for="page_codes") Codes
        .form-text If any codes are set, one must be entered to view this page
        select.form-select.tag-select2#page_codes(multiple, name="page[codes]" data-placeholder="Codes")
            for code in page.codes
                if isNaN(code) && !_.isObject(code)
                    option(value=code selected=true)= code
.row.my-2
    .col
        label.control-label(for="page_content") Page Content
        +htmlEditor('page_content', 'page[content]', 10, 500, page.content, true)

.row.my-2
    .col
        button.btn.btn-primary(type="submit")= page.id?'Update':'Create'
        a.btn.btn-link(href="/page") Cancel



